<div class="dashboard-wrapper">
    <div class="dashboard dashboard-small" style="padding: 11px 7px;">
        <div class="dashboard-tile">
            <div class="dashboard-tile-inner">
                <div class="dashboard-tile-title">{{title}}</div>
                <ng-content></ng-content>
                <div class="dashboard-tile-innertext">
                    <h6>
                        {{placementConstraint}}
                    </h6>
                </div>
            </div>
        </div>
    </div>