.partitions-container {
  display: flex;
  gap: 5px;
  margin: 5px;
  flex-wrap: wrap;
}

.partition {
  padding: 5px;
  border-radius: 5px;
  background-color: var(--accent-background-color);
  box-shadow: var(--primary-box-shadow);

  .text-container {
    padding: 0px 11px;

    label {
      display: flex;
      justify-content: space-between;
    }
  }
}

.operation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.operation {
  display: flex;
}

