.layout-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0px;
}

.chart {
  text-align: center;
  flex: 1;
  min-width: 0px;
  min-width: 300px;
}

.chart-container {
  // min-width: 800px;
  width: 100%;
}
