@if (item.isFolder === 1) {
  <span style="cursor: initial"> {{item.displayedSize}} </span>
}

@if (item.isFolder === -1) {
  <span style='white-space: nowrap;'>
    @if (date) {
      <span  class="mif-watch"
      aria-label="timestamp" [title]="date"></span>
    }
    <span style="cursor: initial; padding-right: 3px;">
      {{size}}
    </span>
    @if (loadButton) {
      <span>
        <button type="button" class="simple-button" (click)="loadFolderSize(item)">
          Load Size
        </button>
      </span>
    } @else {
      <span class="mif-refresh mif-2x" [ngClass]="{'rotate': loading}" (click)="loadFolderSize(item)" title="Reload folder size"></span>
    }
  </span>
}