<span style="cursor: initial" *ngIf="item.isFolder === 1"> {{item.displayedSize}} </span>

<span style='white-space: nowrap;' *ngIf="item.isFolder === -1">
    <span *ngIf="date"  class="mif-watch" 
            aria-label="timestamp" [title]="date"></span>

    <span style="cursor: initial; padding-right: 3px;"> 
        {{size}}
    </span>

    <span *ngIf="loadButton; else elseBlock">
        <button type="button" class="simple-button" (click)="loadFolderSize(item)">
            Load Size
        </button>
    </span>
    <ng-template #elseBlock>
        <span class="mif-refresh mif-2x" [ngClass]="{'rotate': loading}" (click)="loadFolderSize(item)" title="Reload folder size"></span>
    </ng-template>
</span>