


@if (link) {
  <div style="white-space: pre;" >
    @if (!listSetting.isExternal) {
      <a [routerLink]="link"> {{value}} </a>
    }
    @if (listSetting.isExternal) {
      <a [href]="link" target="_blank"> {{value}} </a>
    }
    @if (item?.infoMessage) {
      <i class="mif-info info-icon" [title]="item.infoMessage"></i>
    }
  </div>
} @else {
  <span style="white-space: pre;">{{value}}</span>
  @if (item?.infoMessage) {
    <i class="mif-info info-icon" [title]="item.infoMessage"></i>
  }
}
