@import "src/styles.scss";

.upgrade-progress {
    width: 98%;
    background-color: transparent;
    padding: 1px;
    display: table;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: $font-size-small;
    margin: 1px;
    border-spacing: 0;

    .upgrade-domain-bar {
        display: inline-block;
        color: white;
        padding: 1px;
        text-align: center;
        vertical-align: middle;

        .upgrade-domain-title {
            padding-left: 1px;
            padding-right: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 32px;
            font-size: 9pt;
            width: 80px;
            height: 35px;

            &.badge-unknown {
                background-color: $badge-unknown-color;
            }

            &.badge-ok {
                background-color: $badge-ok-color;
            }

            &.badge-warning {
                background-color: $azure-blue;
            }

            &.badge-error {
                background-color: $badge-warning-color;
            }
        }
    }
}
