.warning-message {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px 5px 5px 0;
  border: 1px solid var(--badge-warning);
  border-radius: 10px;
  box-shadow: var(--heavy-box-shadow);

  .warning-icon {
    padding: 0 10px;
    margin-right: 10px;
    border-right: 2px solid var(--accent-underline);
  }

  > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .warning-link {
    margin-top: 5px;
    text-align: center;
  }
}

ul {
  padding-inline-start: 20px;
}
