.warning-message {
  width: 100%;
  display: flex;
  border: 1px solid var(--badge-warning);
  padding: 5px;
  padding-left: 0px;

  .warning-icon {
    padding: 10px;
    border-right: 2px solid var(--accent-underline);
    margin-right: 10px;
    align-self: center;
    color: var(--badge-warning);
  }

  .warning-link {
    text-align: center;
    margin-top: 5px;
  }
}

ul {
  padding-inline-start: 20px;
}
