.warning-message {
  width: 100%;
  display: flex;
  border: 1px solid var(--badge-warning);
  padding: 5px;
  padding-left: 0px;
  border-radius: 10px;
  box-shadow: var(--heavy-box-shadow);

  .warning-icon {
    padding: 0px 10px;
    border-right: 2px solid var(--accent-underline);
    margin-right: 10px;
  }

  .warning-link {
    text-align: center;
    margin-top: 5px;
  }
}

ul {
  padding-inline-start: 20px;
}
