<div class="warning-message">
  <span class="{{iconSize}} mif-notification warning-icon"></span>
  <div>
    <div>
      {{description}}<ng-content select="[description-add-on]"></ng-content>
    </div>
    @if (descriptionList.length) {
      <div>
        <ul>
          @for (lineItem of descriptionList; track lineItem) {
            <li>
              {{lineItem}}
            </li>
          }
        </ul>
      </div>
    }
    @if (linkText) {
      <div class="warning-link">
        <a [href]="link" target="_blank" class="link">{{linkText}}</a>
      </div>
    }
  </div>
</div>
