.nav-wrapper {
  .nav-link {
    font-size: 1rem;
  }
}

.essen-pane {
  h4 {
    margin-bottom: 0.8rem;
    color: var(--font-accent-color);
  }
}

.tile-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.node-stats-tile,
.fmm-location-tile {
  max-width: 350px;
  width: 350px;
  flex-shrink: 0;
}

app-dashboard-tile {
  width: 250px;
  max-width: 250px;
  flex-shrink: 0;
}