<div *ngIf="isLoading" class="loading-indicator">
    Loading FMM Nodes...
</div>

<div *ngIf="!isLoading && tiles.length > 0" class="tile-container">
    <div *ngFor="let tile of tiles" class="tile">
        <div class="tile-header">{{ tile.displayName }}</div>
        <div class="tile-stats">
            <span class="error" *ngIf="tile.healthState.errorCount > 0">Error: {{ tile.healthState.errorCount }}</span>
            <span class="warning" *ngIf="tile.healthState.warningCount > 0">Warning: {{ tile.healthState.warningCount }}</span>
            <span class="ok">Ok: {{ tile.healthState.okCount }}</span>
        </div>
    </div>
</div>

<div *ngIf="!isLoading" class="detail-pane essen-pane">
    <app-detail-list [listSettings]="listSettings" [list]="nodes" data-cy="fmmNodesList"></app-detail-list>
</div>