<div class="tile-container">
  <app-dashboard-tile *ngFor="let tile of tiles" [data]="tile"></app-dashboard-tile>

  <div class="node-stats-tile">
    <app-essential-health-tile [listItems]="essentialItems"></app-essential-health-tile>
  </div>

  <app-fmm-location class="fmm-location-tile"></app-fmm-location>
</div>

<div class="essen-pane detail-pane">
  <h4>
    Nodes
    <span class="mif-loop2 rotate" *ngIf="isLoading" style="margin-left: 5px; font-size: 0.8em;"></span>
  </h4>
  <div class="nav-wrapper">
    <ul ngbNav #nav="ngbNav" class="nav-wrapper">
      <li [ngbNavItem]="1">
        <a ngbNavLink class="nav-link">Seed Nodes ({{ seedNodes.length }})</a>
        <ng-template ngbNavContent>
          <app-detail-list [list]="seedNodes" [listSettings]="listSettings"></app-detail-list>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink class="nav-link">Non-Seed Nodes ({{ nonSeedNodes.length }})</a>
        <ng-template ngbNavContent>
          <app-detail-list [list]="nonSeedNodes" [listSettings]="listSettings"></app-detail-list>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink class="nav-link">All Nodes ({{ nodes.length }})</a>
        <ng-template ngbNavContent>
          <app-detail-list [list]="nodes" [listSettings]="listSettings"></app-detail-list>
        </ng-template>
      </li>
    </ul>
  </div>
  <div [ngbNavOutlet]="nav"></div>
</div>