<div class="detail-list-container flex-child" style="margin-top: 15px;">
  <ng-content></ng-content>
  @if (showTopOptions) {
    <div class="list-toolbar">
      @if (toolbarFilterColumns.length) {
          <div ngbDropdown class="hidden-toggle" container="body" display="dynamic" [autoClose]="'outside'" [title]="hasToolbarFilterOptions ? 'Filter table' : 'Filters become available when data provides filter options'" (openChange)="closeChange($event)">
            <button type="button" class="simple-button" [class.link]="toolbarFiltersActive" ngbDropdownToggle [disabled]="!hasToolbarFilterOptions" aria-label="Filter table" title="Filter table"><svg width="18" height="18" viewBox="0 0 20 20" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linejoin="round" aria-hidden="true" focusable="false"><path d="M3 3h14v2l-5.5 6v5l-3 1v-6L3 5Z"/></svg></button>
            <div ngbDropdownMenu class="dropdown-layout table-filter-menu" [class.table-filter-grid]="toolbarFilterColumns.length > 1">
              @for (column of toolbarFilterColumns; track column.propertyPath) {
              <fieldset class="table-filter-group">
                @if (toolbarFilterColumns.length > 1) { <legend>{{column.displayName}}</legend> }
                <ul [attr.aria-label]="column.displayName">
              <li class="item"><label><input type="checkbox" (click)="updateCheckAll(column, $event); page = 1" [ngModel]="column.allChecked" [indeterminate]="!column.allChecked && !column.noneChecked">Check All</label></li>
              @for (filterValue of column.filterValues; track filterValue) {
                <li class="item"><label><input type="checkbox" [(ngModel)]="filterValue.isChecked" (ngModelChange)="updateList(); page = 1">{{filterValue.value}}</label></li>
              }
                </ul>
              </fieldset>
              }
            </div>
          </div>
      }
      <app-input class="input-wrapper" [placeholder]="searchText" [model]="listSettings.search" (changed)="listSettings.search = $event; updateList(); page = 1; "></app-input>
      <button class="simple-button"  (click)="resetAll()">Reset All</button>
      <button class="simple-button" style="float: right;" (click)="export()"> <span class="mif-download2"></span> Export</button>
      @if (toolbarTemplate) { <div class="list-toolbar-extra"><ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container></div> }
    </div>
  }
  <label aria-live="polite" aria-atomic="true" class="sr-only">There are {{sortedFilteredList.length}} items in the search result    </label>
  <div class="table-responsive">
    <table class="detail-list" [class.resizable-table]="experience.isNew()" [class.columns-resized]="resizedTableWidth !== null" [style.width.px]="resizedTableWidth" [attr.aria-label]="listSettings.tableName">
      @if (resizedTableWidth !== null) {
        <colgroup>@for (column of listSettings.columnSettings; track column) { <col [style.width.px]="columnWidths.get(column)"> }</colgroup>
      }
      <thead aria-live="polite">
        <tr>
          @for (columnSetting of listSettings.columnSettings; track columnSetting; let i = $index) {
            <th class="sort-filter-th hover-row"
              [ngStyle]="{'width': columnSetting.fixedWidthPx ? columnSetting.fixedWidthPx + 'px' : ''}"
              [attr.aria-sort]="listSettings.isSortedByColumn(columnSetting) ? listSettings.sortReverse ? 'descending' : 'ascending' : 'none'">
              <!-- Header label -->
              <div class="header-wrapper">
                <button  class="flat-button supress-hover" [ngClass]="{'active': columnSetting.sortable, 'shift-expander-col': i === 0 && listSettings.secondRowCollapsible}" tabindex="0"
                  style="padding-left: 0px;" (click)="sort(columnSetting);" [title]="'Sort by ' + columnSetting.displayName + (listSettings.sortReverse ? ' descending' : ' ascending')">
                  {{columnSetting.displayName}}
                  @if (columnSetting.sortable && listSettings.isSortedByColumn(columnSetting)) {
                    <span class="bowtie-icon sort-icon" [ngClass]="{'mif-arrow-up': listSettings.sortReverse, 'mif-arrow-down': !listSettings.sortReverse}" >
                    </span>
                  }
                </button>
                @if (columnSetting.hasFilters && !toolbarFilterProperties.includes(columnSetting.propertyPath)) {
                  <div ngbDropdown [attr.aria-hidden]="!columnSetting.hasFilters" style="display: inline-block;" class="hidden-toggle"
                    (openChange)="closeChange($event)" container="body" display="dynamic">
                    <button class="flat-button supress-hover" style="background-color: transparent;" ngbDropdownToggle aria-label="Filter" [title]="'filter by ' + columnSetting.displayName + ' options'" [attr.aria-haspopup]="false">
                      <span  class="mif-filter" [ngClass]="{'link': columnSetting.hasEffectiveFilters}" placement="bottom-left"></span>
                    </button>
                    <ul ngbDropdownMenu role="menu" class="dropdown-layout table-filter-menu"  >
                      <li role="menuitem" class="item">
                        <label>
                          <input type="checkbox" (click)="updateCheckAll(columnSetting, $event)" [ngModel]="columnSetting.allChecked" [indeterminate]="!columnSetting.allChecked && !columnSetting.noneChecked"/>
                          Check All
                        </label>
                      </li>
                      @for (filterValue of columnSetting.filterValues; track filterValue) {
                        <li role="menuitem" class="item">
                          <label>
                            <input type="checkbox" [(ngModel)]="filterValue.isChecked" (ngModelChange)="updateList();" (click)=" $event.stopPropagation()" />
                            {{filterValue.value}}
                          </label>
                        </li>
                      }
                    </ul>
                  </div>
                }
              </div>
              @if (experience.isNew()) {
                <span class="column-resizer" role="separator" tabindex="0" aria-orientation="vertical" [attr.aria-label]="'Resize ' + columnSetting.displayName + ' column'" aria-valuemin="80" aria-valuemax="1200" [attr.aria-valuenow]="columnWidths.get(columnSetting) || columnSetting.fixedWidthPx || 160" title="Drag or use arrow keys to resize. Double-click or Home to reset widths."
                  (pointerdown)="resizeColumn($event, columnSetting)" (pointermove)="resizeColumn($event, columnSetting)" (pointerup)="resizeColumn($event, columnSetting)" (pointercancel)="resizeColumn($event, columnSetting)" (lostpointercapture)="resizeColumn($event, columnSetting)" (keydown)="resizeColumnKey($event, columnSetting)" (dblclick)="resetColumnWidths(); $event.stopPropagation()" (click)="$event.stopPropagation()"></span>
              }
            </th>
          }
        </tr>
      </thead>
      <tbody>
        <!-- track by (item.uniqueId || $id(item)) -->
        <!-- | slice: listSettings.limit: listSettings.begin; -->
        @for (item of sortedFilteredList.slice( (page - 1) * listSettings.limit , page * listSettings.limit); track item) {
          <tr class="hover-row" [ngClass]="listSettings.rowClass(item)">
            <!-- track by columnSetting.propertyPath -->
            @for (columnSetting of listSettings.columnSettings; track columnSetting; let i = $index) {
              <td [attr.id]="columnSetting.config.cellId ? columnSetting.config.cellId(item) : null">
                <div class="item-wrapper">
                  @if (i === 0 && listSettings.secondRowCollapsible && listSettings.showSecondRow(item) && listSettings.showRowExpander) {
                    <button
                      class="row-expander {{item.isSecondRowCollapsed ? 'mif-chevron-thin-down' : 'mif-chevron-thin-up' }} flat-button"
                      (click)="handleClickRow(item, $event)"
                      [attr.aria-expanded]="!item.isSecondRowCollapsed"
                    [title]="item.isSecondRowCollapsed ? 'Expand the row' : 'Collapse the row'"></button>
                  }
                  @if (!columnSetting.template) {
                    <span class="{{columnSetting.config.cssClasses}}"
                    (click)="columnSetting.config.clickEvent(item);" style="cursor: auto;">{{columnSetting.getDisplayContentsInHtml(item)}}</span>
                  }
                  @if (columnSetting.template) {
                    <app-detail-table-resolver [template]="columnSetting.template" [item]="item"
                    [setting]="columnSetting" [cache]="cache" [itemValue]="columnSetting.getValue(item)"></app-detail-table-resolver>
                  }
                </div>
              </td>
            }
          </tr>
          <!-- Optional second row -->
          @if (!listSettings.secondRowCollapsible || (listSettings.secondRowCollapsible && !item.isSecondRowCollapsed)) {
            @if (listSettings.secondRowColumnSettings.length > 0 && listSettings.showSecondRow(item)) {
              <tr>
                <!-- TODO  track by columnSetting.propertyPath -->
                @for (columnSetting of listSettings.secondRowColumnSettings; track columnSetting; let i = $index) {
                  <td class="no-border"
                    [colSpan]="columnSetting.config.colspan === -1 ? (listSettings.columnSettings.length - listSettings.secondRowColumnSettings.length + 1) : columnSetting.config.colspan"
                    [ngClass]="{'no-padding': listSettings.secondRowCollapsible && item.isSecondRowCollapsed}">
                    <div
                      [ngClass]="{'shift-expander-col': i === 0 && listSettings.secondRowCollapsible}">
                      @if (!columnSetting.template) {
                        <span (click)="columnSetting.config.clickEvent(item);" style="cursor: auto;" class="{{columnSetting.config.cssClasses}}">
                          {{columnSetting.getDisplayContentsInHtml(item)}}
                        </span>
                      }
                      @if (columnSetting.template) {
                        <app-detail-table-resolver [template]="columnSetting.template" [item]="item" [setting]="columnSetting" [cache]="cache" [itemValue]="columnSetting.getValue(item)"></app-detail-table-resolver>
                      }
                    </div>
                  </td>
                }
              </tr>
            }
          }
        }
        @if (isLoading && successfulLoad) {
          <tr>
            <td [attr.colspan]="listSettings.columnSettings.length">Loading...</td>
          </tr>
        }
        @if (sortedFilteredList.length === 0 && !list && !isLoading && successfulLoad) {
          <tr>
            <td [attr.colspan]="listSettings.columnSettings.length">No items to display.</td>
          </tr>
        }
        @if (!successfulLoad) {
          <tr>
            <td [attr.colspan]="listSettings.columnSettings.length">Items failed to load.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  @if (sortedFilteredList.length > listSettings.limit) {
    <div style="margin-top: 10px;">
      <ngb-pagination [collectionSize]="sortedFilteredList.length" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="true"
      (pageChange)="pageChange($event)" style="display: inline-block;" [pageSize]="listSettings.limit"></ngb-pagination>
      <div style="float: right; margin-top: 10px;">
        @if (sortedFilteredList.length > listSettings.limit) {
          <span>
            Showing {{(page - 1) * listSettings.limit + 1}} - {{getEndIndex()}} of {{sortedFilteredList.length}} items
          </span>
        }
      </div>
    </div>
  }
</div>
