table {
  button {
    border-radius: var(--primary-border-radius);
    padding: 5px;
  }
}

.check-options {
  font-size: 13px;
  cursor: pointer;
}

.item {
  &:hover {
    background-color: #262626;
    transition: .5s;
  }
}

.hover-row {
  &:hover, &:focus-within {
    filter: brightness(100%);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.supress-hover{
  &:hover {
    background-color: initial;
  }
}
