<div class="detail-list-container flex-child" style="margin-top: 15px;">
    <ng-content></ng-content>
    <div *ngIf="showTopOptions">
      <app-input class="input-wrapper" [placeholder]="searchText" [model]="listSettings.search" (changed)="listSettings.search = $event; updateList(); page = 1; "></app-input>
      <button class="simple-button"  (click)="resetAll()">Reset All</button>

      <button class="simple-button" style="float: right;" (click)="export()"> <span class="mif-download2"></span> Export</button>
    </div>
        <label aria-live="off" aria-atomic="true" class="sr-only">There are {{sortedFilteredList.length}} items in the search result    </label>
        <div class="table-responsive">
            <table class="detail-list" [attr.aria-label]="listSettings.tableName">
                <thead aria-live="polite">
                    <tr>
                    <th class="sort-filter-th hover-row" *ngFor="let columnSetting of listSettings.columnSettings; let i = index"
                        [ngStyle]="{'width': columnSetting.fixedWidthPx ? columnSetting.fixedWidthPx + 'px' : ''}"
                        [attr.aria-sort]="listSettings.isSortedByColumn(columnSetting) ? listSettings.sortReverse ? 'descending' : 'ascending' : 'none'">
                        <!-- Header label -->
                        <div class="header-wrapper">
                          <button  class="flat-button supress-hover" [ngClass]="{'active': columnSetting.sortable, 'shift-expander-col': i === 0 && listSettings.secondRowCollapsible}" tabindex="0"
                          style="padding-left: 0px;" (click)="sort(columnSetting);" [title]="'Sort by ' + columnSetting.displayName + (listSettings.sortReverse ? ' descending' : ' ascending')">
                          {{columnSetting.displayName}}

                          <span class="bowtie-icon sort-icon" [ngClass]="{'mif-arrow-up': listSettings.sortReverse, 'mif-arrow-down': !listSettings.sortReverse}"  *ngIf="columnSetting.sortable && listSettings.isSortedByColumn(columnSetting)">
                          </span>
                    </button>

                      <div ngbDropdown *ngIf="columnSetting.hasFilters" [attr.aria-hidden]="!columnSetting.hasFilters" style="display: inline-block;" class="hidden-toggle"
                          (openChange)="closeChange($event)" container="body" display="dynamic">
                          <button class="flat-button supress-hover" style="background-color: transparent;" ngbDropdownToggle aria-label="Filter" [title]="'filter by ' + columnSetting.displayName + ' options'" [attr.aria-haspopup]="false">
                              <span  class="mif-filter" [ngClass]="{'link': columnSetting.hasEffectiveFilters}" placement="bottom-left"></span>
                          </button>
                          <ul ngbDropdownMenu role="menu" class="dropdown-layout"  >
                              <li role="menuitem" class="check-options item" *ngIf="!columnSetting.allChecked">
                                <button aria-label="Check all options" class="flat-button" (click)="columnSetting.checkAll(); updateList()">Check All</button>
                              </li>
                              <li role="menuitem" class="check-options item" *ngIf="!columnSetting.noneChecked">
                                <button aria-label="unCheck all options" class="flat-button" (click)="columnSetting.uncheckAll(); updateList()">Uncheck All</button>
                              </li>
                              <li role="menuitem" *ngFor="let filterValue of columnSetting.filterValues" class="item">
                                  <label>
                                      <input type="checkbox" [(ngModel)]="filterValue.isChecked" (ngModelChange)="updateList();" (click)=" $event.stopPropagation()" />
                                      {{filterValue.value}}
                                  </label>
                              </li>
                          </ul>
                      </div>
                        </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                        <!-- track by (item.uniqueId || $id(item)) -->
                        <!-- | slice: listSettings.limit: listSettings.begin; -->
                <ng-container *ngFor="let item of sortedFilteredList.slice( (page - 1) * listSettings.limit , page * listSettings.limit)">
                    <tr class="hover-row">
                            <!-- track by columnSetting.propertyPath -->
                        <td *ngFor="let columnSetting of listSettings.columnSettings; let i = index;">
                            <div class="item-wrapper">
                                <button
                                    class="row-expander {{item.isSecondRowCollapsed ? 'mif-chevron-thin-down' : 'mif-chevron-thin-up' }} flat-button"
                                    (click)="handleClickRow(item, $event)"
                                    *ngIf="i === 0 && listSettings.secondRowCollapsible && listSettings.showSecondRow(item)"
                                    [attr.aria-expanded]="!item.isSecondRowCollapsed"
                                    [title]="item.isSecondRowCollapsed ? 'Expand the row' : 'Collapse the row'"></button>

                                <span *ngIf="!columnSetting.template" class="{{columnSetting.config.cssClasses}}"
                                    (click)="columnSetting.config.clickEvent(item);" style="cursor: auto;">{{columnSetting.getDisplayContentsInHtml(item)}}</span>
                                <app-detail-table-resolver *ngIf="columnSetting.template" [template]="columnSetting.template" [item]="item"
                                    [setting]="columnSetting" [cache]="cache" [itemValue]="columnSetting.getValue(item)"></app-detail-table-resolver>
                            </div>
                        </td>
                        </tr>
                        <!-- Optional second row -->
                        <ng-container *ngIf="!listSettings.secondRowCollapsible || (listSettings.secondRowCollapsible && !item.isSecondRowCollapsed)">

                        <tr *ngIf="listSettings.secondRowColumnSettings.length > 0 && listSettings.showSecondRow(item)">
                            <!-- TODO  track by columnSetting.propertyPath -->
                                <td class="no-border"
                                *ngFor="let columnSetting of listSettings.secondRowColumnSettings; let i = index; trackBy: (item | customTrackBy)"
                                [colSpan]="columnSetting.config.colspan === -1 ? (listSettings.columnSettings.length - listSettings.secondRowColumnSettings.length + 1) : columnSetting.config.colspan"
                                [ngClass]="{'no-padding': listSettings.secondRowCollapsible && item.isSecondRowCollapsed}">
                                <div
                                    [ngClass]="{'shift-expander-col': i === 0 && listSettings.secondRowCollapsible}">
                                    <span *ngIf="!columnSetting.template" (click)="columnSetting.config.clickEvent(item);" style="cursor: auto;" class="{{columnSetting.config.cssClasses}}">
                                    {{columnSetting.getDisplayContentsInHtml(item)}}
                                    </span>
                                    <app-detail-table-resolver *ngIf="columnSetting.template" [template]="columnSetting.template" [item]="item" [setting]="columnSetting" [cache]="cache" [itemValue]="columnSetting.getValue(item)"></app-detail-table-resolver>
                                </div>
                            </td>
                        </tr>
                    </ng-container>

                    </ng-container>
                    <tr *ngIf="isLoading && successfulLoad">
                        <td [attr.colspan]="listSettings.columnSettings.length">Loading...</td>
                    </tr>
                    <tr *ngIf="sortedFilteredList.length === 0 && !list && !isLoading && successfulLoad">
                        <td [attr.colspan]="listSettings.columnSettings.length">No items to display.</td>
                    </tr>
                    <tr *ngIf="!successfulLoad">
                        <td [attr.colspan]="listSettings.columnSettings.length">Items failed to load.</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="margin-top: 10px;" *ngIf="sortedFilteredList.length > listSettings.limit">
            <ngb-pagination [collectionSize]="sortedFilteredList.length" [(page)]="page" [maxSize]="3" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="pageChange($event)" style="display: inline-block;" [pageSize]="listSettings.limit"></ngb-pagination>
            <div style="float: right; margin-top: 10px;">
                <span *ngIf="sortedFilteredList.length > listSettings.limit">
                    Showing {{(page - 1) * listSettings.limit + 1}} - {{page * listSettings.limit}} of {{sortedFilteredList.length}} items
                </span>
            </div>
        </div>
    </div>
