table {
  button {
    border-radius: var(--primary-border-radius);
    padding: 5px;
  }
}

.check-options {
  font-size: 13px;
  cursor: pointer;
}

.item {
  &:hover {
    background-color: #262626;
  }
}

.supress-hover {
  &:hover {
    background-color: initial;
  }
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
