<div *ngIf="primaryReplica && primaryReplica.detail.raw" class="overview-container">
  <div class="essen-pane" style="width: 330px;" data-cy="essentials">
    <h3 class="underline-title">Primary Replica Queue Status</h3>

    <app-essential-item *ngFor="let item of overviewItems; let l = last; " [item]="item" [underline]="l">
    </app-essential-item>

    <app-display-duration [topInMilliseconds]="50" [bottomInMilliseconds]="100"></app-display-duration>

    <h3 class="underline-title" style="margin-top: 10px;">Secondary Replication Queue Status</h3>
    <app-essential-item *ngFor="let item of overviewItems; let l = last; " [item]="item" [underline]="l">
    </app-essential-item>

    <app-display-duration [topInMilliseconds]="10" [bottomInMilliseconds]="100"></app-display-duration>


    <app-collapse-container collapsed="true" sectionName="Replicator Status">
      <div collapse-header>
        Replicator Status
      </div>
      <div collapse-body>
        <app-essential-item *ngFor="let item of replicationStatus; let l = last; " [item]="item" [underline]="l">
        </app-essential-item>
      </div>
    </app-collapse-container>
  </div>
  <div style="flex: auto; margin-left: 20px;">

    <!-- <div class="replica-container">
      <app-replica-tile class="replica-tile tall" *ngFor="let replica of sortedReplicas"
        [ngClass]="{'expanded-tall': expandedDict[replica.name]}" [(showReplication)]="expandedDict[replica.name]"
        [replica]="replica" [replicator]="replicaDict[replica.name]" [replicatorHistory]="cachedData[replica.name]">
      </app-replica-tile>
    </div> -->
  </div>
</div>
<div>
  <app-bar-chart class="dynamic-bar-chart" [xAxisCategories]="tableData.categories"
  [dataSet]="tableData.dataPoints" [title]="tableData.title" [tooltip]="tableData.tooltipFunction"></app-bar-chart>
</div>
