<app-navbar type="Cluster Recovery Insights" [showCopy]="false"></app-navbar>

<!-- Recovery Progress Bar -->
<app-recovery-progress></app-recovery-progress>

<!-- FMM Nodes -->
<div class="app-fmm-nodes">
    <app-fmm-nodes></app-fmm-nodes>
</div>

<!-- FMM Location Component -->
<!-- <div class="fmm-location-container">
    <app-fmm-location></app-fmm-location>
</div> -->

<!-- Replica List -->
<div class="essen-pane detail-pane nav-wrapper">
    <div ngbNav #nav="ngbNav">
        <span ngbNavItem>
            <h4>Failover Manager Replicas</h4>
            <h6>Percentage of replicas up: {{ recoveryPercentage }}%</h6>
            <ng-template ngbNavContent>
                <app-detail-list [list]="replicaData" [listSettings]="listSettings"></app-detail-list>
            </ng-template>
        </span>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>

<!-- FMM Nodes -->
<!-- <div class="essen-pane detail-pane">
    <h4>FMM Nodes</h4>
    <app-fmm-nodes></app-fmm-nodes>
</div> -->