<app-navbar type="Cluster Recovery Insights" [showCopy]="false"></app-navbar>

<!-- Recovery Progress Bar -->
<app-recovery-progress></app-recovery-progress>

<!-- FMM Nodes -->
<div class="app-fmm-nodes">
    <app-fmm-nodes></app-fmm-nodes>
</div>

<!-- Replicas -->
<div class="essen-pane detail-pane nav-wrapper">
    <h4>System Services</h4>
    <div class="nav-wrapper">
        <ul ngbNav #nav="ngbNav" class="nav-wrapper" [(activeId)]="activeTab" (activeIdChange)="onTabChange($event)">
            <li [ngbNavItem]="'failover-manager'">
                <a ngbNavLink class="nav-link">Failover Manager</a>
                <ng-template ngbNavContent>
                    <!-- Replica Set Information - Four horizontal boxes -->
                    <div class="replica-stats-container">
                        <div class="stat-box replica-set-box">
                            <div class="flex-center line-item-seperator">
                                <div class="line-item-small">
                                    {{ minReplicaSetSize }}
                                </div>
                                <div>Min Replica Set Size</div>
                            </div>
                            <div class="flex-center line-item-seperator">
                                <div class="line-item-small">
                                    {{ targetReplicaSetSize }}
                                </div>
                                <div>Target Replica Set Size</div>
                            </div>
                            <div class="flex-center">
                                <div class="line-item-small">
                                    {{ currentReplicaSetSize }}
                                </div>
                                <div>Current Replica Set Size</div>
                            </div>
                        </div>

                        <div class="stat-box"
                            [class.success-box]="partitionStatus === 'Ready'"
                            [class.warning-box]="partitionStatus === 'InQuorumLoss'">
                            <div class="stat-label">Partition Status</div>
                            <div class="stat-value" 
                                [class.quorum-loss]="partitionStatus === 'InQuorumLoss'"
                                [class.quorum-met]="partitionStatus === 'Ready'">
                                {{ partitionStatus }}
                            </div>
                        </div>

                        <div class="stat-box" 
                             [class.warning-box]="partitionStatus === 'InQuorumLoss'"
                             [class.success-box]="partitionStatus !== 'InQuorumLoss'">
                            <div class="stat-label">
                                <span *ngIf="partitionStatus === 'InQuorumLoss'" class="not-met-label"> Expected</span>
                                <span *ngIf="partitionStatus !== 'InQuorumLoss'" class="met-label"> Current</span>
                                Write Quorum
                            </div>
                            <div class="stat-value" 
                                 [class.quorum-loss]="partitionStatus === 'InQuorumLoss'"
                                 [class.quorum-met]="partitionStatus !== 'InQuorumLoss'">
                                {{ writeQuorum }}
                            </div>
                        </div>

                        <div class="stat-box" *ngIf="partitionStatus === 'InQuorumLoss'" [class.warning-box]="true">
                            <div class="stat-label">Quorum Loss Duration</div>
                            <div class="stat-value quorum-loss">{{ lastQuorumLossDuration }}</div>
                        </div>
                    </div>

                    <div *ngIf="partitionStatus === 'InQuorumLoss'" class="quorum-loss-message">
                        <i class="bowtie-icon bowtie-status-warning"></i>
                        You need to have any <strong>{{ quorumNeeded }}</strong> of the below <strong>{{ highlightedReplicaCount }}</strong> highlighted replicas up to be out of quorum loss.
                    </div>

                    <!-- Replica List -->
                    <app-detail-list [list]="replicaData" [listSettings]="listSettings"></app-detail-list>
                </ng-template>
            </li>
            <li [ngbNavItem]="'cluster-manager'">
                <a ngbNavLink class="nav-link">Cluster Manager</a>
                <ng-template ngbNavContent>
                    <!-- Replica Set Information - Four horizontal boxes -->
                    <div class="replica-stats-container">
                        <div class="stat-box replica-set-box">
                            <div class="flex-center line-item-seperator">
                                <div class="line-item-small">
                                    {{ clusterManagerMinReplicaSetSize }}
                                </div>
                                <div>Min Replica Set Size</div>
                            </div>
                            <div class="flex-center line-item-seperator">
                                <div class="line-item-small">
                                    {{ clusterManagerTargetReplicaSetSize }}
                                </div>
                                <div>Target Replica Set Size</div>
                            </div>
                            <div class="flex-center">
                                <div class="line-item-small">
                                    {{ clusterManagerCurrentReplicaSetSize }}
                                </div>
                                <div>Current Replica Set Size</div>
                            </div>
                        </div>

                        <div class="stat-box"
                            [class.success-box]="clusterManagerPartitionStatus === 'Ready'"
                            [class.warning-box]="clusterManagerPartitionStatus === 'InQuorumLoss'">
                            <div class="stat-label">Partition Status</div>
                            <div class="stat-value" 
                                [class.quorum-loss]="clusterManagerPartitionStatus === 'InQuorumLoss'"
                                [class.quorum-met]="clusterManagerPartitionStatus === 'Ready'">
                                {{ clusterManagerPartitionStatus }}
                            </div>
                        </div>

                        <div class="stat-box" 
                             [class.warning-box]="clusterManagerPartitionStatus === 'InQuorumLoss'"
                             [class.success-box]="clusterManagerPartitionStatus !== 'InQuorumLoss'">
                            <div class="stat-label">
                                <span *ngIf="clusterManagerPartitionStatus === 'InQuorumLoss'" class="not-met-label"> Expected</span>
                                <span *ngIf="clusterManagerPartitionStatus !== 'InQuorumLoss'" class="met-label"> Current</span>
                                Write Quorum
                            </div>
                            <div class="stat-value" 
                                 [class.quorum-loss]="clusterManagerPartitionStatus === 'InQuorumLoss'"
                                 [class.quorum-met]="clusterManagerPartitionStatus !== 'InQuorumLoss'">
                                {{ clusterManagerWriteQuorum }}
                            </div>
                        </div>

                        <div class="stat-box" *ngIf="clusterManagerPartitionStatus === 'InQuorumLoss'" [class.warning-box]="true">
                            <div class="stat-label">Quorum Loss Duration</div>
                            <div class="stat-value quorum-loss">{{ clusterManagerLastQuorumLossDuration }}</div>
                        </div>
                    </div>

                    <div *ngIf="clusterManagerPartitionStatus === 'InQuorumLoss'" class="quorum-loss-message">
                        <i class="bowtie-icon bowtie-status-warning"></i>
                        You need to have any <strong>{{ clusterManagerQuorumNeeded }}</strong> of the below <strong>{{ clusterManagerHighlightedReplicaCount }}</strong> highlighted replicas up to be out of quorum loss.
                    </div>

                    <!-- Replica List -->
                    <app-detail-list [list]="clusterManagerReplicaData" [listSettings]="clusterManagerListSettings"></app-detail-list>
                </ng-template>
            </li>
        </ul>
    </div>
    <div [ngbNavOutlet]="nav"></div>
</div>