.redFont {
  color: red;
}

.greenFont {
  color: rgb(127,186,0);
}


h4 {
  color: whitesmoke;
}

.page-item.active .page-link {
  background-color: #0075c9;
}


a {
  cursor: pointer;
}

.popup {
  display: none;
  border: solid black 1px;
  text-align: justify; 
  font-size: 14px; 
  color: whitesmoke;
}

.inline {
  display: flex;
  flex-direction: row;
}
