
<div class="tile-container" *ngIf="deployedCodePackage">
  
  <app-essential-health-tile *ngIf="deployedCodePackage?.isInitialized"
  class="long" [listItems]="essentialItems">
</app-essential-health-tile>

  <app-essential-health-tile *ngIf="deployedCodePackage?.isInitialized"
    class="long" [listItems]="essentialItems2">

    <ng-template appEssentialTemplate id="status">
      <app-status-resolver [status]="deployedCodePackage.raw.Status"></app-status-resolver>
    </ng-template>
  </app-essential-health-tile>
</div>