<div class="detail-pane essen-pane" *ngIf="deployedCodePackage">
  <div class="essential-container">
    <div class="essential-item essential-half">
      <div class="essential-head">
        Name
      </div>
      <div class="essential-body">
        {{deployedCodePackage.name}}<app-clip-board [text]="deployedCodePackage.name"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Version
      </div>
      <div class="essential-body">
        {{deployedCodePackage.raw.Version}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Host Type
      </div>
      <div class="essential-body">
        {{deployedCodePackage.raw.HostType}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Host Isolation Mode
      </div>
      <div class="essential-body">
        {{deployedCodePackage.raw.HostIsolationMode}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Status
      </div>
      <div class="essential-body">
        {{deployedCodePackage.raw.Status}}
      </div>
    </div>

    <div class="essential-item essential-half"
      *ngIf="deployedCodePackage && deployedCodePackage.servicePackageActivationId">
      <div class="essential-head">
        Service Package Activation Id
      </div>
      <div class="essential-body">
        {{deployedCodePackage.servicePackageActivationId}}
      </div>
    </div>
  </div>
</div>
