<div class="detail-pane essen-pane">
    <div class="table-responsive">
        <table class="essen-table" role="presentation">
            <tr>
                <th>Code Version</th>
                <th>Upgrade State</th>
            </tr>
            <tr *ngIf="clusterUpgradeProgress.isInitialized">
                <td>{{clusterUpgradeProgress.raw.CodeVersion}}<app-clip-board [text]="clusterUpgradeProgress.raw.CodeVersion"></app-clip-board> </td>
                <td>{{clusterUpgradeProgress.raw.UpgradeState}}</td>
            </tr>
            <tr>
                <th>Cluster Health State</th>
                <th>Upgrade Domains</th>
            </tr>
            <tr *ngIf="clusterHealth.isInitialized && nodes.isInitialized">
                <td><app-health-badge [badgeClass]="clusterHealth.healthState.badgeClass" [text]="clusterHealth.healthState.text"></app-health-badge></td>
                <td>{{nodes.upgradeDomains.length}}</td>
            </tr>
            <tr>
                <th>System Application Health State</th>
                <th>Fault Domains</th>
            </tr>
            <tr *ngIf="systemApp.isInitialized && nodes.isInitialized">
                <td><app-health-badge [badgeClass]="systemApp.healthState.badgeClass" [text]="systemApp.healthState.text"></app-health-badge></td>
                <td>{{nodes.faultDomains.length}}</td>
            </tr>
            <tr>
                <th>Healthy Seed Nodes</th>
                <th>Disabled/Disabling Nodes</th>
            </tr>
            <tr *ngIf="nodes.isInitialized">
                <td>{{nodes.healthySeedNodes}}</td>
                <td>{{nodes.disabledNodes}}</td>
            </tr>
        </table>
    </div>
</div>

<div class="detail-pane">
    <h4>Unhealthy Evaluations</h4>
    <detail-list [list]="clusterHealth.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"></detail-list>
</div>
