<div class="detail-pane essen-pane">
    <div class="table-responsive">
        <table class="essen-table" role="presentation">
            <tr>
                <th>Code Version</th>
                <th>Upgrade State</th>
                <th>Fault Domains</th>
                <th>Upgrade Domains</th>
            </tr>
            <tr *ngIf="clusterUpgradeProgress.isInitialized && nodes.isInitialized">
                <td>{{clusterUpgradeProgress.raw.CodeVersion}}<app-clip-board [text]="clusterUpgradeProgress.raw.CodeVersion"></app-clip-board> </td>
                <td>{{clusterUpgradeProgress.raw.UpgradeState}}</td>
                <td>{{nodes.faultDomains.length}}</td>
                <td>{{nodes.upgradeDomains.length}}</td>
            </tr>
            <tr>
                <th>Cluster Health State</th>
                <th>System Application Health State</th>
                <th>Healthy Seed Nodes</th>
                <th>Disabled/Disabling Nodes</th>
            </tr>
            <tr *ngIf="clusterHealth.isInitialized && nodes.isInitialized && systemApp.isInitialized">
                <td><app-health-badge [badgeClass]="clusterHealth.healthState.badgeClass" [text]="clusterHealth.healthState.text"></app-health-badge></td>
                <td><app-health-badge [badgeClass]="systemApp.healthState.badgeClass" [text]="systemApp.healthState.text"></app-health-badge></td>
                <td>{{nodes.healthySeedNodes}}</td>
                <td>{{nodes.disabledNodes}}</td>
            </tr>
            <!-- <tr>
            </tr>
            <tr *ngIf="systemApp.isInitialized && nodes.isInitialized">
            </tr>
            <tr>

            </tr>
            <tr *ngIf="nodes.isInitialized">

            </tr> -->
        </table>
    </div>
</div>

<div>
    <app-dashboard-tile [data]="nodesDashboard" *ngIf="nodesDashboard"></app-dashboard-tile>
    <app-dashboard-tile [data]="appsDashboard" *ngIf="appsDashboard"></app-dashboard-tile>
    <div style="display: inline-block">
        <app-dashboard-tile [data]="servicesDashboard" *ngIf="servicesDashboard" style="display: block"></app-dashboard-tile>    
        <app-dashboard-tile [data]="partitionsDashboard" *ngIf="partitionsDashboard" style="display: block"></app-dashboard-tile>    
    </div>
    <div style="display: inline-block">
        <app-dashboard-tile [data]="replicasDashboard" *ngIf="replicasDashboard" style="display: block"></app-dashboard-tile>    
        <app-dashboard-text-tile [barClass]="upgradeAppsCount > 0 ? 'badge-upgrade-active' : 'badge-upgrade-inactive'" 
            [count]="upgradeAppsCount" [title]="upgradeAppsCount === 1 ? 'APPLICATION UPGRADE IN PROGRESS' : 'APPLICATION UPGRADES IN PROGRESS'" style="display: block"></app-dashboard-text-tile>    
    </div>
</div>

<div class="detail-pane essen-pane">
    <h4>Unhealthy Evaluations</h4>
    <app-health-viewer [unhealthyEvaluations]="clusterHealth.unhealthyEvaluations"></app-health-viewer>
</div>

