$left-panel-width: 400px !default;
$right-panel-min-width: 200px !default;

.navbar-brand {
    color: var(--font-primary-color);
    font-size:var(--font-size-large);
    position: relative;
    font-weight: lighter;
    padding: 12px;
    vertical-align: -webkit-baseline-middle;
    margin-right: 0px;
    &.navbar-brand-azure {
        background-color: var(--accent-darkblue);
    }

    .navbar-brand-icon {
        display: inline-block;
        margin-right: 14px;
    }
}

.right-panel {
  padding-left: 20px;
  padding-right: 15px;
  overflow: hidden;
  min-width: $right-panel-min-width;
  background-color: var(--accent-background-color);
}

.left-panel {
  overflow: hidden;
  background-color: var(--primary-background-color);
}

.view-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header-bar {
    height: 50px;
    background-color: var(--primary-background-color);
    box-shadow: var(--heavy-box-shadow);
    color: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;

    display: flex;
    flex-direction: row;
    align-items: center;

}

.left-bar {
    display: block;
    position: absolute;
    top: 50px;
    bottom: 0;
    z-index: 11;
}

.main-content {
    position: absolute;
    overflow: auto;
    left: 400px;
    right: 2px;
    top: 50px;
    bottom: 20px;
}

@media (max-width: 500px) {
    .main-content {
        right: 0px;
    }

    .right-panel {
      bottom: 0px;
    }
}

.slider-bar {
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 15px;
    background-color: black;
    cursor: col-resize; height: 100%;
}

.tree-container {
    height: 100%;
    margin-right: 15px;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.dropdown-menu { right: 0; left: auto; }

.repress-highlight {
    &:hover {
        background-color: inherit;
    }
}

.skip-to-content-link {
    height: 30px;
    left: 50%;
    padding: 8px;
    position: absolute;
    transform: translateY(-100%);
    transition: transform 0.3s;
    z-index: 101;
    color: white;
    background-color: black;
  }
  .skip-to-content-link:focus {
    transform: translateY(0%);
  }

.sidenav-button {
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: 12;
    padding: 0px;
    background-color: transparent;
    color: white;
}

.report {
    li {
        border-bottom: 1px solid white;
        padding: 5px;

        &:last-child{
            border: 0;
        }
    }
}

.utc-time {
  position: absolute;
  right: 5px;
  bottom: 0px;
}

@media only screen and (max-width: 600px) {
  .utc-time {
    display: none;
  }
}


.expander-container {
  position: sticky;
  top: 0px;
  height: 20px;
  z-index: 11;
  background-color: var(--accent-background-color);
}

.expander-icon {
  transform: rotate(90deg);
  font-size: 27px;
  position: absolute;
  left: -21px;
  top: -7px;
  background-color: var(--accent-background-color);
  border: 0;
  color: var(--font-primary-color);
  padding: 0;

  &:hover {
    color: var(--accent-darkblue);
  }

  &.flip {
    transform: rotate(270deg);
  }
}
