
<div>
  <div class="header-bar">
    <a href="https://aka.ms/portalsfx" target="_blank" tabindex="0" sfx-tree-set-focus selected="true">
      <div class="navbar-brand navbar-brand-azure">
        <span>
            Microsoft Azure
        </span>
      </div>
      </a>
    <!-- Use inline style to limit the icon size to prevent a huge icon show up in browser before css is downloaded -->
    <!-- TODO ADD LINK TO GO TO CLUSTER MAIN PAGE -->
    <a class="navbar-brand navbar-brand-title" href="#" >
      <img style="width: 24px" src="images/favicon.svg" title="Service Fabric Explorer" class="navbar-brand-icon"/>
      <span style="vertical-align: top;">
        Service Fabric Explorer
      </span>
    </a>

    <!-- push stuff to align right -->
    <div style="margin-left: auto;"></div>

    <div>
      <app-refresh-rate></app-refresh-rate>
    </div>

    <div>
      other things
    </div>
  </div>

  <div>
      <div class="left-panel left-bar"  [ngStyle]="{'width': this.treeWidth }">
        <app-tree-view></app-tree-view>
        <div class="slider-bar" appDrag (onDrag)="resize($event)">
      </div>
    </div>
    <div [ngStyle]="{'left': this.treeWidth }" class="right-panel main-content">
      <div class="view-container">
          <router-outlet id="view-container"></router-outlet>
      </div>
    </div>
  </div>
</div>
