
<div>
  <button class="skip-to-content-link" (click)="setMainFocus()" role="button">
    Skip to content
  </button>
  <header class="header-bar">
    <a href="https://aka.ms/portalsfx" target="_blank" tabindex="0" sfx-tree-set-focus selected="true" >
      <div [class]="'navbar-brand navbar-brand-azure' + (shrinkAllHeaderItem ? ' navbar-brand-small' : '')">
        <span>
          {{(!shortenAzure ? 'Microsoft Azure' : 'Azure')}}
        </span>
      </div>
      </a>
    <a [class]="'navbar-brand' + (shrinkAllHeaderItem ? ' navbar-brand-small' : '')" [routerLink]="['/']" >
      <img style="width: 32px" [src]="assetBase + 'assets/favicon.svg'" title="Service Fabric Explorer" class="navbar-brand-icon"/>
      <span style="vertical-align: middle; margin-left: 14px;" *ngIf="!hideSFXText">
        Service Fabric Explorer
      </span>
    </a>

    <app-cluster-upgrade-banner style="margin: auto;" [clusterUpgradeProgress]="dataService.clusterUpgradeProgress"></app-cluster-upgrade-banner>

    <!-- push stuff to align right -->
    <div style="margin-left: auto;"></div>
    <div>
      <app-refresh-rate [value]="refreshService.refreshRate" (rateChange)="refreshService.updateRefreshInterval($event)" [condensedVersion]="shrinkAllHeaderItem"
                        [refresh]="refreshService.isRefreshing" (forceRefreshed)="attemptForceRefresh()"></app-refresh-rate>
    </div>
    <app-advanced-option></app-advanced-option>

    <div ngbDropdown *ngIf="adalService.aadEnabled" display="'static'" placement="'bottom-left'">
        <button class="flat-button" ngbDropdownToggle title="Contains the toggle for setting advanced mode">
            <span class="mif-user"></span>
        </button>
        <div ngbDropdownMenu style="padding: 10px;" *ngIf="dataService.actionsEnabled()">
          <div ngbDropdownItem style="padding-bottom: 10px;" class="repress-highlight">
            {{adalService?.userInfo?.profile?.name}}
          </div>
          <button class="simple-button" (click)="adalService.logout()" ngbDropdownItem>
            Log Out
          </button>
        </div>
    </div>

    <div ngbDropdown display="'static'" placement="'bottom-right'" class="report">
      <button ngbDropdownToggle class="mif-bug mif-lg flat-button round link" style="color: #70daf8" aria-label="Issue reporting options"></button>
      <ul ngbDropdownMenu style="padding: 10px;">
        <li ngbDropdownItem>
          <a href="https://aka.ms/servicefabric/issues" target="_blank">Report Service Fabric Bug</a>
        </li>
        <li ngbDropdownItem>
          <a href="https://aka.ms/servicefabricexplorer/issues" target="_blank">Report Service Fabric Explorer Bug</a>
        </li>
        <li ngbDropdownItem>
          <a href="https://aka.ms/servicefabric/createsupportcase" target="_blank">Open a Support Case</a>
        </li>
      </ul>
    </div>

  </header>

  <div>
    <div class="left-panel left-bar"  [ngStyle]="{'width': smallScreenSize ? smallScreenLeftPanelWidth : treeWidth, 'display' : smallScreenSize ?  smallScreenTreeDisplay : treeDisplay, 'overflow' : smallScreenSize ? 'initial' : 'hidden' }">
      <button *ngIf="smallScreenSize && smallScreenLeftPanelWidth !== '0%'" class="simple-button sidenav-button close"
          (click)="resize(0)" tabindex="0" title="Close navigation tree panel">
        close
      </button>  
      <nav class="tree-container" [attr.aria-hidden]="smallScreenSize ? smallScreenLeftPanelWidth === '0%' : false" role="navigation">
          <app-tree-view (treeResize)="resize($event)" [smallWindowSize]="smallScreenSize"  ></app-tree-view>
        </nav>
        <div class="slider-bar" appDrag (dragFinish)="resize($event)" *ngIf="!smallScreenSize">
      </div>
      <div class="slider-bar" style="cursor: initial;" *ngIf="smallScreenSize"></div>
    </div>
    <div [ngStyle]="{'left': smallScreenSize ? '0px' : rightOffset }" class="right-panel main-content" >
      <main>
        <div class="expander-container" >
            <button class="expander-icon mif-vertical-align-bottom" [ngClass]="{'flip': treeWidth === '8px'}" placement="right" *ngIf="!smallScreenSize"
                  [title]="(treeWidth === '8px' ? 'Expand' : 'Close') + ' tree view'" (click)="collapseSide()"></button>
            <button *ngIf="smallScreenSize && smallScreenLeftPanelWidth === '0%'" class="simple-button sidenav-button open"
              (click)="resize(60)" tabindex="0" title="Open navigation tree panel">
              menu
            </button>
          </div>
        <div class="view-container" (click)="smallScreenSize ? resize(0): null" (focusin)="smallScreenSize ? resize(0): null">
          
          <router-outlet id="view-container"></router-outlet>
        </div>
      </main>
    </div>
  </div>
  <app-toast-container aria-live="polite" aria-atomic="true"></app-toast-container>

  <div class="utc-time">
    <app-local-time></app-local-time>
  </div>
</div>
