.cell-wrapper {
    margin-bottom: 10px;
}

.replicator-section {
    h2 {
        font-size: var(--font-size-large);
        color: var(--font-accent-color);
    }
}

.title-wrapper {
  font-size: 18pt;
  line-height: 0.9;
  font-weight: 600;
  border-bottom: 1px solid #4c4c4c;
  padding-bottom: 8px;
  text-align: center;
}

.quorum-info-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;

  .quorum-info-value {
    text-align: right;
  }
}

.line-item-separator {
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 8px;
    margin-bottom: 3px;
}

.quorum-info-text {
    color: var(--badge-error);
}

.quorum-loss-section {
    margin-bottom: 1.5rem;
}

.quorum-loss-message {
  background-color: rgba(241, 157, 3, 0.15);
  border-left: 4px solid var(--badge-warning);
  padding: 1rem 1.5rem;
  border-radius: var(--primary-border-radius);
  font-size: var(--font-size-default);
  color: var(--font-primary-color);
  display: flex;

  strong {
    color: var(--badge-warning);
    font-weight: var(--font-weight-semibold);
  }
}
