<div *ngIf="partition">
    <div class="detail-pane essen-pane">
        <div class="table-responsive">
            <table class="essen-table" role="presentation">
                <tr>
                    <th>Id</th>
                    <th>Partition Kind</th>
                </tr>
                <tr>
                    <td [title]="partitionId">{{partitionId}}<app-clip-board [text]="partitionId"></app-clip-board></td>
                    <td>{{partition.partitionInformation.raw.ServicePartitionKind}}</td>
                </tr>
                <tr>
                    <th>Health State</th>
                    <th *ngIf="partition.isStatelessService">Instance Count</th>
                    <th *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">Low Key</th>
                    <th *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindNamed">Name</th>
                </tr>
                <tr>
                    <td><app-health-badge [badgeClass]="partition.healthState.badgeClass" [text]="partition.healthState.text"></app-health-badge></td>
                    <td *ngIf="partition.isStatelessService">{{partition.raw.InstanceCount}}</td>
                    <td *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">{{partition.partitionInformation.raw.LowKey}}</td>
                    <td *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindNamed">{{partition.partitionInformation.raw.Name}}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <th *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">High Key</th>
                </tr>
                <tr>
                    <td>{{partition.raw.PartitionStatus}}</td>
                    <td *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">{{partition.partitionInformation.raw.HighKey}}</td>
                </tr>
                <tr *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">
                    <th>Minimum Replica Set Size</th>
                    <th>Target Replica Set Size</th>
                </tr>
                <tr *ngIf="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">
                    <td>{{partition.raw.MinReplicaSetSize}}</td>
                    <td>{{partition.raw.TargetReplicaSetSize}}</td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="detail-pane essen-pane">
        <app-collapse-container>
            <div collapse-header>
                <h4>Unhealthy Evaluations</h4>
            </div>
            <div collapse-body>
                <detail-list [list]="partition.health.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"></detail-list>
            </div>
        </app-collapse-container>
    </div>
    
    <div class="detail-pane essen-pane">
        <app-collapse-container>
            <div collapse-header>
                <h4>{{partition.isStatelessService ? "Instances" : "Replicas"}}</h4>
            </div>
            <div collapse-body>
                <detail-list [list]="partition.replicas" [listSettings]="listSettings" *ngIf="partition.replicas.isInitialized"></detail-list>
            </div>
        </app-collapse-container>
    </div>

    <div class="detail-pane essen-pane" *ngIf="partition.isStatefulService">
        <app-collapse-container>
            <div collapse-header>
                <h4>Replicator Status</h4>
            </div>
            <div collapse-body>
                <div *ngIf="replicaData">
                    <div style="display: flex;">
                        <div style="width: 50%; height: 50%; max-width: 800px;">
                            <app-bar-chart title="Last Sequence Number" [xAxisCategories]="replicaData.xAxisCategories" [dataSet]="replicaData.dataSet"></app-bar-chart>
                        </div>
                        <div style="width: 40%; padding: 20px;">
                            <div class="table-responsive">
                                Replica Queue Status
                                <table class="essen-table" role="presentation">
                                    <tr>
                                        <th>QueueUtilizationPercentage</th>
                                        <th>QueueMemorySize</th>
                                    </tr>
                                    <tr>
                                        <td [title]="partitionId">{{primaryReplica.detail.replicatorStatus.raw.ReplicationQueueStatus.QueueUtilizationPercentage}}</td>
                                        <td>{{primaryReplica.detail.replicatorStatus.raw.ReplicationQueueStatus.QueueMemorySize}}</td>
                                    </tr>
                                    <tr>
                                        <th>CompletedSequenceNumber</th>
                                        <th>CommittedSequenceNumber</th>
                                    </tr>
                                    <tr>
                                        <td [title]="partitionId">{{primaryReplica.detail.replicatorStatus.raw.ReplicationQueueStatus.CompletedSequenceNumber}}</td>
                                        <td>{{primaryReplica.detail.replicatorStatus.raw.ReplicationQueueStatus.CommittedSequenceNumber}}</td>
                                    </tr>
                                    <tr>
                                        <th>LastSequenceNumber</th>
                                    </tr>
                                    <tr>
                                        <td>{{primaryReplica.detail.replicatorStatus.raw.ReplicationQueueStatus.LastSequenceNumber}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div>
                        <app-replicator-status [replicatorData]="primaryReplica.detail.replicatorStatus.raw"></app-replicator-status>
                    </div>
                </div>

                <!-- <detail-list [list]="partition.replicas" [listSettings]="listSettings" *ngIf="partition.replicas.isInitialized"></detail-list> -->
            </div>
        </app-collapse-container>
    </div>

</div>
