.cell-wrapper {
    margin-bottom: 10px;
}

.replicator-section {
    h2 {
        font-size: var(--font-size-large);
        color: var(--font-accent-color);
    }

}

.table-item {
  background-color: var(--primary-background-color);
  border-radius: var(--primary-border-radius);
  padding: 2px;
}
