<div *ngIf="partition" >
  <div class="tile-container">
    <app-essential-health-tile [healthState]="partition?.healthState" *ngIf="partition && partition.isInitialized"
    class="long" [listItems]="essentialItems">
    <ng-template appEssentialTemplate id="status">
      <app-status-resolver [status]="partition.raw.PartitionStatus"></app-status-resolver>
    </ng-template>
  </app-essential-health-tile>

    <app-tile-wrapper *ngIf="partition?.raw">
      <app-state-info [stateful]="partition.isStatefulService" [data]="partition.raw"></app-state-info>
    </app-tile-wrapper>
  </div>


  <div class="detail-pane essen-pane" data-cy="health">
    <app-collapse-container sectionName="Health Evaluations">
      <div collapse-header>
        <h2>Health Evaluations</h2>
      </div>
      <div collapse-body>
        <app-health-viewer  [healthyEvaluations]="partition.health.healthEvents" [unhealthyEvaluations]="partition.health.unhealthyEvaluations" ></app-health-viewer>
      </div>
    </app-collapse-container>
  </div>

  <div *ngIf="partition.isStatefulService" class="replicator-section">
    <app-collapse-container sectionName="Replicator Status" data-cy="replicator">
      <div collapse-header>
        <h2>Replicator Status</h2>
      </div>
      <div collapse-body>
        <div>
          <app-replica-status-container [replicas]="partition.replicas.collection"></app-replica-status-container>
        </div>
      </div>
    </app-collapse-container>
  </div>

  <div class="detail-pane essen-pane" data-cy="replicas">
    <app-collapse-container [sectionName]="partition.isStatelessService ? 'Instances' : 'Replicas'">
      <div collapse-header>
        <h2>{{partition.isStatelessService ? "Instances" : "Replicas"}}</h2>
      </div>
      <div collapse-body>
        <div *ngIf="partition.isStatefulService" class="replica-stats-container">
          <div class="stat-box replica-set-box">
            <div class="flex-center line-item-separator">
              <div class="line-item-small">{{ partition.raw.MinReplicaSetSize }}</div>
              <div>Min Replica Set Size</div>
            </div>
            <div class="flex-center line-item-separator">
              <div class="line-item-small">{{ partition.raw.TargetReplicaSetSize }}</div>
              <div>Target Replica Set Size</div>
            </div>
            <div class="flex-center">
              <div class="line-item-small">{{ partition.replicas.collection.length }}</div>
              <div>Current Replica Set Size</div>
            </div>
          </div>

          <div class="stat-box"
              [ngClass]="partition.raw.PartitionStatus">
            <div class="stat-label">Partition Status</div>
            <div class="stat-value" 
                [ngClass]="partition.raw.PartitionStatus">
              {{ partition.raw.PartitionStatus }}
            </div>
          </div>

          <div class="stat-box" 
               [ngClass]="partition.raw.PartitionStatus">
            <div class="stat-label">
              <span *ngIf="partition.raw.PartitionStatus === 'InQuorumLoss'" >Expected</span>
              <span *ngIf="partition.raw.PartitionStatus !== 'InQuorumLoss'">Current</span>
              Write Quorum
            </div>
            <div class="stat-value" 
                 [ngClass]="partition.raw.PartitionStatus">
              {{ writeQuorum }}
            </div>
          </div>
        </div>

        <div *ngIf="partition.isStatefulService && partition.raw?.PartitionStatus === 'InQuorumLoss'" class="quorum-loss-section">
          <div class="quorum-loss-message">
            <span>You need to have any <strong>{{ quorumNeeded }}</strong> of the below <strong>{{ highlightedReplicaCount }}</strong> highlighted replicas ready to be out of quorum loss.</span>
          </div>
        </div>

        <app-detail-list [list]="partition.replicas.collection" [listSettings]="listSettings"
          *ngIf="partition.replicas.isInitialized"></app-detail-list>
      </div>
    </app-collapse-container>
  </div>
</div>
