.fmm-label {
  color: var(--font-list-item-color);
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}

.fmm-value {
  line-height: 1.2;
  font-size: 14px;
  text-align: right;
  flex: 1;
  color: var(--font-primary-color);
}

.title-wrapper {
  font-size: var(--font-size-large);
  line-height: 0.9;
  color: #c9c9c9;
  font-weight: 600;
  border-bottom: 2px solid var(--accent-underline);
  padding-bottom: 15px;
  text-align: center;
}

.line-item-separator {
  border-bottom: 2px solid var(--accent-underline);
  padding-bottom: 8px;
  margin-bottom: 6px;
}