<app-dashboard-text-scale-tile>
  <div style="display: flex; flex-direction: column">
    <h2 class="title-wrapper top-separator">
      FMM Information
      <span class="mif-loop2 rotate" *ngIf="isLoading"></span>
    </h2>
    
    <div>
      <div class="flex-center line-item-separator">
        <div class="fmm-label">Node Name</div>
        <div class="fmm-value">
          {{ fmmInfo?.NodeName }}
        </div>
        <app-clip-board [text]="fmmInfo?.NodeName" *ngIf="fmmInfo?.NodeName" [name]="'Node Name'"></app-clip-board>
      </div>
      
      <div class="flex-center line-item-separator">
        <div class="fmm-label">Node ID</div>
        <div class="fmm-value">
          {{ fmmInfo?.NodeId?.Id }}
        </div>
        <app-clip-board [text]="fmmInfo?.NodeId?.Id" *ngIf="fmmInfo?.NodeId?.Id" [name]="'Node ID'"></app-clip-board>
      </div>
      
      <div class="flex-center line-item-separator">
        <div class="fmm-label">Node Instance ID</div>
        <div class="fmm-value">
          {{ fmmInfo?.NodeInstanceId }}
        </div>
        <app-clip-board [text]="fmmInfo?.NodeInstanceId" *ngIf="fmmInfo?.NodeInstanceId" [name]="'Node Instance ID'"></app-clip-board>
      </div>
    </div>
  </div>
</app-dashboard-text-scale-tile>