<div style="display: flex; align-items: center; height: 100%;">
    <!-- <div class="badge-container" style="position: relative; transform: rotate(90deg);">
        <span class="mif-minus" style="font-size: 40px"></span>
        <span class="mif-minus" style="font-size: 40px"></span>
        <span class="mif-minus" style="font-size: 40px"></span>
    </div> -->
    <div class="badge-container" style="position: relative;">
        <span class="mif-minus" style="font-size: 40px;transform: rotate(90deg);position: absolute;bottom: -8px;"></span>
        <span *ngIf="service.isStatefulService" class="mif-minus" style="font-size: 29px;position: absolute;left: -9px;transform: rotate(90deg);bottom: -6px;">
        </span><span *ngIf="service.isStatefulService" class="mif-minus" style="font-size: 29px;position: absolute;left: 21px;transform: rotate(90deg);bottom: -6px;"></span></div>
    <div>
        <h4 style="text-align: center; margin-bottom: 0px;font-size: 25px; border-bottom: 1px solid white;">
        {{service.raw.ServiceKind}}
        </h4>
        <div *ngIf="service.isStatefulService">
            <div style="display: flex;
            align-items: center;
        ">
                <div style="font-size: 28px;
                line-height: 1;
                /* border-radius: 25px; */
                /* border: 1px solid white; */
                margin-right: 7px;">
                    {{service.description.raw.MinReplicaSetSize}}
                </div>
                <div>Minimum Replica Set Size</div>
        </div>
        <div style="display: flex;
        align-items: center;
    ">
            <div style="font-size: 28px;
            line-height: 1;
            /* border-radius: 25px; */
            /* border: 1px solid white; */
            margin-right: 7px;">
                {{service.description.raw.TargetReplicaSetSize}}
            </div>
            <div>Target Replica Set Size</div>
    </div>

            <!-- <div class="essential-item essential-half">
                <div class="essential-head">
                    Minimum Replica Set Size
                </div>
                <div class="essential-body">
                    {{service.description.raw.MinReplicaSetSize}}
                </div>
            </div>
            
            <div class="essential-item essential-half">
                <div class="essential-head">
                    Target Replica Set Size
                </div>
                <div class="essential-body" *ngIf="service.description.raw">
                    {{service.description.raw.TargetReplicaSetSize}}
                </div>
            </div> -->
        </div>

        <div *ngIf="service.isStatelessService" style="display: flex;
        align-items: center;
    ">
            <div style="font-size: 33px;
            line-height: 1;
            /* border-radius: 25px; */
            /* border: 1px solid white; */
            margin-right: 7px;">
                {{service.description.raw.InstanceCount}}
            </div>
            <div>Instance Count</div>
    </div>
</div>

<!-- <div class="detail-pane essen-pane">
    <div class="essential-item essential-half">
        <div class="essential-head">
            Minimum Replica Set Size
        </div>
        <div class="essential-body" *ngIf="service.description.raw">
            {{service.description.raw.MinReplicaSetSize}}
        </div>
    </div>

    <div class="essential-item essential-half">
        <div class="essential-head">
            Service Kind
        </div>
        <div class="essential-body">
            {{service.raw.ServiceKind}}
        </div>
    </div>

    <div class="essential-item essential-half">
        <div class="essential-head">
            Target Replica Set Size
        </div>
        <div class="essential-body" *ngIf="service.description.raw">
            {{service.description.raw.TargetReplicaSetSize}}
        </div>
    </div>

    <div class="essential-item essential-half"
        *ngIf="service.description.raw && service.description.raw.ServiceDnsName">
        <div class="essential-head">
            Service Dns Name
        </div>
        <div class="essential-body">
            {{service.description.raw.ServiceDnsName}}
        </div>
    </div>
</div> -->
