<div class="essential-list-item highlight-hover" [ngClass]="{'underline': !underline }">
    <div class="text-wrapper tile-item resource-row" >
        <div class="tile-list-entry left-text" style="width: 300px;" [class.off]="!item.boolValue && item.displaySelector">
            {{item.title}}
        </div>
        <div class="middle-text ">
            <span *ngIf="!item.displaySelector">
                {{item.displayText}} 
            </span>
            <span *ngIf="item.displaySelector" [class.off]="!item.boolValue && item.displaySelector">
                <span *ngIf="!item.boolValue"> OFF </span>
                <span *ngIf="item.boolValue"> ON </span>
                 <!-- <app-health-badge *ngIf="item.boolValue" [badgeClass]="'badge-ok'" style="align-items: right !important;"></app-health-badge>
                 <app-health-badge *ngIf="!item.boolValue" [badgeClass]="'badge-error'"></app-health-badge> -->
            </span>
        </div>
    </div>
</div>
