.bar-name{
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 0px;
}

.limit-wrapper {
    margin-right: 2px;
    vertical-align: top;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
}
