<div class="essen-pane detail-pane">
  <div class="flex-container" style="margin-bottom: 10px; flex-wrap: wrap; gap: 10px;">
    <div class="flex-container wrap">
        <app-dual-date-picker [minDate]="startDateMin" [maxDate]="startDateMax" (dateChanged)="setNewDates($event)"
              [currentStartDate]="startDate" [currentEndDate]="endDate"></app-dual-date-picker>
      <div ngbDropdown style="margin-right: 10px;">
        <button class="simple-button" ngbDropdownToggle>Quick Dates </button>
        <div ngbDropdownMenu>
          <button *ngFor="let date of quickDates" ngbDropdownItem (click)="setDate(date)">
            {{date.display}}
          </button>
        </div>
      </div>
      <div class="slider-wrapper">
        <app-double-slider [startDate]="startDate" [endDate]="endDate" (dateChanged)="setNewDates($event)">
        </app-double-slider>
      </div>
    </div>
    <div>
      <p *ngIf="timeLineEventsData?.potentiallyMissingEvents" style="display: inline-block; margin-left: 10px;">
        <app-health-badge badgeClass="badge-warning"></app-health-badge>
        Potentially missing or misleading events!
      </p>
    </div>
  </div>
  <div *ngIf="timeLineEventsData">
    <app-event-store-timeline [events]="timeLineEventsData">
      <div buttons class="flex-center">
        <span class="mif-info mif-lg correlated-icon" placement="right"  tooltipClass="styled-tooltip"
          ngbTooltip="Correlated: Only certain high value scenarios are plotted, created from multiple events.&#010;All: Every event listed is plotted."></span>

        <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="showAllEvents" name="radioBasic"
          style="margin-right: 5px;">
          <label class="flat-button checkbox-push solid-grey" ngbButtonLabel *ngIf="showCorrelatedBtn">
            <input ngbButton type="radio" [value]="false"> Correlated
          </label>
          <label class="flat-button checkbox-push solid-grey" ngbButtonLabel>
            <input ngbButton type="radio" [value]="true"> All
          </label>
        </div>

        <div ngbDropdown style="margin-left: 10px;"  *ngIf="optionsConfig">
          <button class="simple-button" ngbDropdownToggle sectionName="select-event-types">Event Types </button>
          <div ngbDropdownMenu>
            <app-option-picker [optionsConfig]="optionsConfig" (selectedOption)="processData($event)" [listEventStoreData]="listEventStoreData"></app-option-picker>
          </div>
        </div>

        <span *ngIf="dataService.isAdvancedModeEnabled() && showAllEvents" class="flex-center">
          <app-input placeholder="query string" [(model)]="transformText">
          </app-input>
          <button class="simple-button" (click)="setTimelineData()">filter</button>
        </span>

      </div>
    </app-event-store-timeline><br>

  </div>
</div>

<div *ngIf="visEventList.length > 0">
  <app-rca-summary [events]="visEventList"></app-rca-summary>
</div>

<div class="essen-pane">
  <div style="height: 20px;">
    <a class="link" style="float: right;"> Why is data missing?
      <span class="mif-info"
        title="This timeline may present incomplete information and not fully represent the cluster for this date range. Events may also be missing due to data loss and lead to incomplete states. E.g.: A cluster upgrade starting before or ending after this time range will not be shown."></span>
    </a>
  </div>

  <app-health-badge *ngIf="failedRefresh" text=" Some items failed to load." badgeClass="badge-warning">
  </app-health-badge>

  <div ngbNav #nav="ngbNav" data-cy="eventtabs" class="nav-wrapper">
    <div ngbNavItem *ngFor="let data of listEventStoreData">
      <a ngbNavLink class="bar-name">
        <app-health-badge *ngIf="!data.eventsList.lastRefreshWasSuccessful" text="Error" [showText]="false"
          badgeClass="badge-error"></app-health-badge>
        {{data.displayName}}
      </a>
      <ng-template ngbNavContent>
        <app-detail-list [list]="data.eventsList.collection" [listSettings]="data.listSettings"
          [isLoading]="!data.eventsList.isInitialized" [successfulLoad]="data.eventsList.lastRefreshWasSuccessful">
        </app-detail-list>
      </ng-template>
    </div>
  </div>
  <div [ngbNavOutlet]="nav"></div>
  <div>
    <div style="float: right; padding: 15px 0 0 0; margin: 0px;">
      <span class="dropdown-toggle dark-background-link bowtie-icon bowtie-status-error limit-wrapper"></span>
      <div style="display: inline-block;">
        There is a limit of up to 500 events for a given range.
      </div>
    </div>
  </div>
</div>
