.solid-grey {
    border-radius: 0px !important;
    border-color: white !important;
    background-color: rgb(97, 97, 97);
    border-width: 2px;
    font-size: unset;
    line-height: unset;

    &:hover {
        color: white;
    }
}

.app-visualization-tool {
    width: 100%;
    height: 60%;
}

$border-radius: 5px;

.btn-group {
  border: 2px solid transparent;
  border-radius: $border-radius;

  &:focus-within {
    border: 2px solid var(--accent-lightblue)  !important;
  }

   label {
     &:first-child {
      border-bottom-left-radius: $border-radius !important;
      border-top-left-radius: $border-radius !important;
     }

     &:last-child {
      border-bottom-right-radius: $border-radius !important;
      border-top-right-radius: $border-radius !important;
     }

     &.active {
       background-color: var(--accent-darkblue);;
     }
   }
}

.bar-name{
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 0px;
}

.slider-wrapper {
    min-width: 300px;
    flex: 1;
    padding-left: 15px;
    margin-right: 15px;

    app-double-slider {
        width: 90%;
    }
}

@media (max-width: 400px) {
  .slider-wrapper {
    min-width: 200px;
  }
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}

.limit-wrapper {
    margin-right: 2px;
    vertical-align: top;
}

.correlated-icon {
    vertical-align: middle;
    margin-right: 3px;
}

.height {
    height: 33px;
  }
