.bar-name{
    font-size: 12pt;
    background-color: rgba(0, 0, 0, 0) !important;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-bottom: 0px;
}

.limit-wrapper {
    margin-right: 2px;
    vertical-align: top;
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
}

#chips {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.event-title {
    display: flex;
    gap: 5px;
    align-items: baseline;
}


.card {
    background-color: var(--accent-background-color);
    width: fit-content;
    max-width: 100%;
    margin-bottom: 5px;

    .card-body {
        padding: 10px;

        .card-title {
            font-size: var(--font-size-medium);
            margin: 0;
        }
    }
}