<div class="detail-pane">
        <div style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <div style="display: flex; flex-direction: row; align-items: center;">
                <div ngbDropdown style="margin-right: 10px;">
                    <button class="simple-button" ngbDropdownToggle>View Last </button>
                    <div ngbDropdownMenu>
                            <button *ngFor="let date of quickDates" style="border-bottom: 1px solid gray;" ngbDropdownItem (click)="setDate(date)" style="padding: 5px; ">
                                {{date.display}}
                            </button>
                    </div>
                </div>

                <app-dual-date-picker [minDate]="startDateMin" [maxDate]="startDateMax" (dateChanged)="setNewDates($event)"
                [currentStartDate]="startDate" [currentEndDate]="endDate" ></app-dual-date-picker>    
            </div>
            <div style="min-width: 400px; flex: 1; padding-left: 15px;" >
                <div style="width: 90%; margin-top: 15px; margin-bottom: 15px;">
                    <app-double-slider [startDate]="startDate" [endDate]="endDate" (dateChanged)="setNewDates($event)"></app-double-slider>
                </div>
            </div>
        </div>
        <div>
            <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="showAllEvents" name="radioBasic">
                <label class="flat-button checkbox-push solid-grey" ngbButtonLabel *ngIf="!checkAllOption()">
                    <input ngbButton type="radio" [value]="false"> Correlated
                </label>
                <label class="flat-button checkbox-push solid-grey" ngbButtonLabel>
                    <input ngbButton type="radio" [value]="true"> All
                </label>
            </div>
            <span class="mif-info mif-lg" style="vertical-align: middle; margin-left: 10px;" title="Correlated: Only certain high value scenarios are plotted, created from multiple events.&#010;All: Every event listed is plotted."></span>
            <span *ngIf="dataService.isAdvancedModeEnabled() && showAllEvents">
                <app-input placeholder="query string" [model]="transformText" (changed)="transformText = $event;"></app-input>
                <button class="simple-button" (click)="setTimelineData()">filter</button>
            </span>
            <p *ngIf="timeLineEventsData?.potentiallyMissingEvents" style="display: inline-block; margin-left: 10px;">
                <app-health-badge badgeClass="badge-warning"></app-health-badge>
                Potentially missing or misleading events!
            </p>
        </div>

        <div *ngIf="timeLineEventsData">
            <app-event-store-timeline [events]="timeLineEventsData" ></app-event-store-timeline>
        </div>
        <br>
        <div *ngFor="let eventStoreData of listEventStoreData">
            <h2> {{eventStoreData.displayName}} </h2>
            <app-detail-list [list]="eventStoreData.eventsList.collection" 
            [listSettings]="eventStoreData.eventsList.settings" 
            [isLoading]="!eventStoreData.eventsList.isInitialized"></app-detail-list>
        </div>
        
        <div>
            <div style="float: right; padding: 15px 0 0 0; margin: 0px;">
                <span class="dropdown-toggle dark-background-link bowtie-icon bowtie-status-error"
                style="margin-right: 2px; vertical-align: top;"></span>
                <div style="display: inline-block;">
                    There is a limit of up to 500 events for a given range.
                </div>
            </div>
        </div>
    </div>
