<div class="alert-wrapper">
  <div style="flex-grow: 1;">
    <div *ngFor="let alert of alerts.notifications; index as i">
      <div class="alert" [ngClass]="'alert-' + alert.level" role="alert" *ngIf="i === 0 || displayAll ">
        <div [ngClass]="'alert-' + alert.level" class="alert-left-bar">
          <b>{{alert.level}}</b>
        </div>
        <div class="inner-content">
          <div>
            <div *ngIf="alert.link">
              <div [innerHTML]="alert.message"></div>

              <div class="link-out">
                <a target="_blank" [href]="alert.link">{{alert.linkText ||
                  "Learn more"}}</a>
              </div>

            </div>
          </div>
          <div *ngIf="alert.level !== 'error'" (click)="remove(alert, true)"
               class="mif-cancel mif-lg remove-placement" role="button" aria-label="Remove warning"></div>
        </div>
      </div>
    </div>
    <div (click)="toggleViewed()" *ngIf="alerts.notifications.length > 1" title="See additional notifications"
      role="button">
      <div class="show-more show-more-color">
        Show {{ displayAll ? 'less' : alerts.notifications.length - 1 + ' more' }}
      </div>
    </div>
  </div>
</div>
