
.alert-wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 800px;
    margin: auto;
    margin-bottom: 5px
}

.nested-wrapper {
    @extend .alert-wrapper;
    // align-items: center;
}

.alert {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    color: black;
    border: none;
    flex-grow: 1;
    border-radius: 0px !important;
    margin-bottom: 0px;
    margin-top: 10px;
}

.alert-warning {
    background-color: yellow;
}

.alert-info {
    background-color: lightblue;
}

.alert-error {
    background-color: #f2dede;
    border-left: #CB444A solid 8px;
}

.alert-warning {
    background-color: #fcf8e3;
    border-left: #FFC646 solid 8px;
}

.remove-placement {
    font-size: 15pt;
    vertical-align: bottom;
    float: right;
}

.show-more-color {
    background-color: #3b4044;
}

.show-more {
    width: 120px;
    padding: 3px 5px 5px 5px;
    margin: auto;
    text-align: center;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
}