<div *ngIf="systemApp">

  <div class="tile-container">
    <app-essential-health-tile [healthState]="systemApp?.healthState" *ngIf="systemApp && systemApp.isInitialized"
      class="long" [listItems]="essentialItems">
    </app-essential-health-tile>
  </div>

  <div class="detail-pane essen-pane" *ngIf="systemApp.health.isInitialized">
    <app-collapse-container sectionName="Unhealthy Evaluations">
      <div collapse-header>
        <h2>Health Evaluations</h2>
      </div>
      <div collapse-body>
        <app-health-viewer [healthyEvaluations]="systemApp.health.healthEvents"
          [unhealthyEvaluations]="systemApp.health.unhealthyEvaluations"></app-health-viewer>
      </div>
    </app-collapse-container>
  </div>

  <div class="detail-pane essen-pane" *ngIf="systemApp.services">
    <app-collapse-container sectionName="System">
      <div collapse-header>
        <h2>System</h2>
      </div>
      <div collapse-body>
        <app-detail-list [list]="systemApp.services.collection" [listSettings]="listSettings"></app-detail-list>
      </div>
    </app-collapse-container>
  </div>
</div>
