$label-spacing: 5px;

label {
    display: flex;
    flex-direction:column; 
    gap: $label-spacing;
}

.modal-body {
    overflow: visible;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
