<form class="action-modal">
    <div class="modal-header">
        <h4 class="modal-title">Load Event</h4>
    </div>
    <div class="modal-body">
        <label>
            <span>EventType: </span>
            <div ngbDropdown>
                <button class="simple-button" ngbDropdownToggle>{{chip.type? chip.type : 'Type'}}</button>
                <div ngbDropdownMenu>
                    <div *ngFor="let type of types">
                        <button [value]='type' ngbDropdownItem (click)="setType($event)">{{type}}</button>
                    </div>
                </div>
            </div>
        </label>
        <label *ngIf="chip.type === 'Replica'">
            <span>Partition Id: </span>
            <input class="input-flat" [(ngModel)]="chip.partitionId" required name="partitionId">
        </label>

        <label *ngIf="chip.type !== 'Cluster' && chip.type !== 'RepairTask'">
            <span>Name/Id: </span>
            <div *ngIf="chip.type === 'Application' || chip.type ==='Node'" ngbDropdown>
                <button class="simple-button" ngbDropdownToggle>{{chip.id? chip.id : '-Select-' }}</button>
                <div ngbDropdownMenu>
                    <div *ngFor="let option of (chip.type==='Application' ? appNames : nodeNames)" >
                        <button [value]="option"  
                        ngbDropdownItem (click)="setId($event)">
                            {{option}}
                        </button>
                    </div>
                    <div>
                        <input type="text" (input)="setId($event)" [value]="chip.id" placeholder="custom input" class="input-flat"/>
                    </div>
                </div>
            </div>
            <input class="input-flat" [(ngModel)]="chip.id" name="id" [type]="chip.type === 'Application' || chip.type ==='Node' ? 'hidden' : 'text' ">
        </label>
        
        <label *ngIf="chip.type !== 'RepairTask'">
            <span>
            <a href="https://learn.microsoft.com/azure/service-fabric/service-fabric-diagnostics-event-generation-operational" target="_blank" class="mif-info link"></a>
            EventFilter: 
            </span>
            <input class="input-flat" [(ngModel)]="chip.eventsFilter" name="filter">
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="solid-button blue" [disabled]="formInvalid()" (click)="ok()" data-cy="submit">Load</button>
        <button type="button" class="solid-button red" (click)="delete()">Remove</button>
        <button type="button" class="flat-button" (click)="cancel()">Cancel</button>
    </div>
</form>
