<div *ngIf="servicePackage">
    <div class="tile-container">
      <app-essential-health-tile [healthState]="servicePackage.health.healthState" *ngIf="servicePackage?.isInitialized"
        class="long" [listItems]="essentialItems">
    
        <ng-template appEssentialTemplate id="status">
          <app-status-resolver [status]="servicePackage.raw.Status"></app-status-resolver>
        </ng-template>
      </app-essential-health-tile>
    </div>

    <div class="detail-pane essen-pane" *ngIf="servicePackage.health">
        <h4>Unhealthy Evaluations</h4>
        <app-detail-list [list]="servicePackage.health.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"></app-detail-list>
    </div>
</div>
