<div *ngIf="servicePackage">
    <div class="tile-container">
      <app-essential-health-tile [healthState]="servicePackage.health.healthState" *ngIf="servicePackage?.isInitialized"
        class="long" [listItems]="essentialItems">
    
        <ng-template appEssentialTemplate id="status">
          <app-status-resolver [status]="servicePackage.raw.Status"></app-status-resolver>
        </ng-template>
      </app-essential-health-tile>
    </div>

    <div class="detail-pane essen-pane" *ngIf="servicePackage.health">
        <h4>Health Evaluations</h4>
        <app-health-viewer  [healthyEvaluations]="servicePackage.health.healthEvents" [unhealthyEvaluations]="servicePackage.health.unhealthyEvaluations" ></app-health-viewer>
    </div>
</div>
