<form [formGroup]="form" class="action-modal">
    <div class="modal-header">
        <h1 class="modal-title">Trigger Partition Backup</h1>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>BackupTimeout</dt>
            <dd>
                <input type="number" class="input-flat" formControlName="BackupTimeout" />
            </dd>
        </dl>
        <app-storage-form [form]="form" [required]="false"></app-storage-form>

    </div>
    <div class="modal-footer">
        <button type="submit" class="solid-button blue" [disabled]="form.invalid" (click)="ok()">Trigger Partition Backup</button>
        <button type="button" class="flat-button" (click)="cancel()">Cancel</button>
    </div>
</form>