<div style="display: flex; flex-direction: column; gap: 5px;">
  <div *ngFor="let item of nodes; let l = last; trackBy: trackByFn"
    style="min-height: 30px;" data-cy="node">
    <div class="node-container">
      <div class="essential-list-item {{listTemplate ? 'underline': ''}}">
        <app-status-resolver [status]="item.nodeStatus" [healthState]="item.healthState.text" [showText]="false"
          class="space-right"></app-status-resolver>
        <a [routerLink]="item.viewPath" style="margin: auto;">{{item.name}}</a>
        <img *ngIf="item.raw.IsSeedNode" [src]="assetBase + 'assets/seed.svg'" alt="seed node"
        tooltipClass="styled-tooltip" tabindex="0" ngbTooltip="This node is a seed node" container="body"/>
      </div>
      <div>
        <ng-container *ngTemplateOutlet="listTemplate; context: { data : item}"></ng-container>
      </div>
    </div>

  </div>
</div>
