<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- CSS imports -->
    <link href="../../sfx/css/lib.min.css" rel="stylesheet" />
    <link href="../../sfx/css/dark.min.css" rel="stylesheet" />

    <style>
        .list-group-item {
            border: none;
            background-color: #373737;
            color: #fff;
        }

        a.list-group-item {
            color: #fff;
        }

        input.form-control {
            height: 23.7pt;
        }

        .hide {
            display: none !important;
        }
    </style>
</head>

<body style="overflow:hidden" ng-app="select-certificate" ng-controller="selectCertController">
    <div class="modal modal-content" style="display: block">
        <div class="modal-header">
            <h5 id="Title" class="modal-title">Which client certificate to connect with?</h5>
            <p>Please select a client certificate below to connect to the cluster.</p>
        </div>
        <div class="modal-body" style="height: 474px; overflow-y: auto;">
            <div class="list-group">
                <a ng-repeat="certInfo in certInfos" href="#" class="list-group-item list-group-item-action flex-column align-items-start"
                    ng-click="updateSelectedCert(certInfo)" ng-class="{ active: selectedCertInfo && selectedCertInfo.thumbprint === certInfo.thumbprint }">
                    <h6>{{certInfo.subjectName}}</h6>
                    <p class="code-font">
                        <span class="width-75 code-label">Issuer:</span> <span>{{certInfo.issuerName}}</span><br />
                        <span class="width-75 code-label">Serial:</span> <span>{{certInfo.serialNumber}}</span><br />
                        <span class="width-75 code-label" ng-style="{ 'color': isCertValid(cert.validStart, cert.validExpiry) ? 'greenyellow' : null}">Starts:</span>
                        <span>{{getDateString(certInfo.validStart)}}</span><br />
                        <span class="width-75 code-label" ng-style="{ 'color': isCertValid(cert.validStart, cert.validExpiry) ? 'greenyellow' : null}">Until:</span>
                        <span>{{getDateString(certInfo.validExpiry)}}</span><br />
                        <span class="width-75 code-label">Hash:</span> <span>{{certInfo.thumbprint}}</span><br />
                    </p>
                </a>
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" ng-click="updateSelectedCert(null)"
                    ng-class="{ active: selectedCertInfo === null }">
                    <h6>Client Certificate File</h6>
                    <p class="input-group">
                        <input type="text" class="form-control" required ng-model="certFilePath" readonly placeholder="Path of the client certificate"
                            aria-label="Path of the client certificate" aria-describedby="OpenCertFile" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="OpenCertFile" ng-click="browseCertFiles()">Browse...</button>
                        </span>
                    </p>
                    <p class="input-group" ng-class="{ 'hide': !keyFileRequired() }">
                        <input type="text" class="form-control" required ng-model="keyFilePath" readonly placeholder="Path of the key file for the client certificate"
                            aria-label="Path of the key file for the client certificate" aria-describedby="OpenKeyFile" />
                        <span class="input-group-btn">
                            <button class="btn btn-info" type="button" id="-OpenKeyFile" ng-click="browseKeyFiles()">Browse...</button>
                        </span>
                    </p>
                    <p>
                        <input type="password" class="form-control" ng-model="password" placeholder="Password (optional if there is no password for the pfx cert or key file for the pem cert)"
                            aria-label="Password" aria-describedby="inputPassword" />
                    </p>
                </a>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
            <button type="button" class="btn btn-primary" ng-click="selectCert()" ng-disabled="!certSelected()">Done</button>
        </div>
    </div>

    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="../../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="select-certificate.js"></script>
</body>

</html>