<div ngbNav #nav="ngbNav" class="nav-wrapper" [(activeId)]="activeId" (navChange)="onNavChange($event)" data-cy="commandNav">
  @if (safeCommands.length) {
    <div [ngbNavItem]="1">
      <a ngbNavLink data-cy="safeCommands">Safe Commands</a>
      <ng-template ngbNavContent>
        @for (command of safeCommands; track command) {
          <div>
            <app-command [command]="command" data-cy="command"></app-command>
          </div>
        }
      </ng-template>
    </div>
  }
  @if (unsafeCommands.length) {
    <div [ngbNavItem]="2">
      <a ngbNavLink data-cy="unsafeCommands">Unsafe Commands</a>
      <ng-template ngbNavContent>
        @for (command of unsafeCommands; track command) {
          <div>
            <app-command [command]="command" data-cy="command"></app-command>
          </div>
        }
      </ng-template>
    </div>
  }
  @if (dangerousCommands.length) {
    <div [ngbNavItem]="3">
      <a ngbNavLink data-cy="dangerousCommands">Dangerous Commands</a>
      <ng-template ngbNavContent>
        @for (command of dangerousCommands; track command) {
          <div>
            <app-command [command]="command" data-cy="command"></app-command>
          </div>
        }
      </ng-template>
    </div>
  }
</div>
<div [ngbNavOutlet]="nav"></div>
