<div ngbNav #nav="ngbNav" class="nav-wrapper" [(activeId)]="activeId" (navChange)="onNavChange($event)" data-cy="commandNav">
    <div *ngIf="safeCommands.length" [ngbNavItem]="1">
        <a ngbNavLink data-cy="safeCommands">Safe Commands</a>
        <ng-template ngbNavContent>
            <div *ngFor="let command of safeCommands">
                <app-command [command]="command" data-cy="command"></app-command>
            </div>
        </ng-template>
    </div>
    <div *ngIf="unsafeCommands.length" [ngbNavItem]="2">
        <a ngbNavLink data-cy="unsafeCommands">Unsafe Commands</a>
        <ng-template ngbNavContent>
            <div *ngFor="let command of unsafeCommands">
                <app-command [command]="command" data-cy="command"></app-command>
            </div>
        </ng-template>
    </div>
    <div *ngIf="dangerousCommands.length" [ngbNavItem]="3">
        <a ngbNavLink data-cy="dangerousCommands">Dangerous Commands</a>
        <ng-template ngbNavContent>
            <div *ngFor="let command of dangerousCommands">
                <app-command [command]="command" data-cy="command"></app-command>
            </div>
        </ng-template>
    </div>
</div>
<div [ngbNavOutlet]="nav"></div>
