.duration {
    margin-top: 5px;
}

h3 {
  margin-bottom: 0px;
  text-align: center;
  font-size: var(--font-size-large);
}

.domain-container {
  flex: 1;
  max-width: 350px;
  display:flex;
  flex-direction: column;

}

.overview-container {
  flex: 1;
  min-width: 350px;
  max-width: 400px;
  margin-right: 10px;
  margin-left: 10px;
}


.layout-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;

  &.failed {
    border: 2px solid var(--badge-error);
    padding: 10px;
    border-left: 10px solid var(--badge-error);
    border-radius: 5px;
    margin-bottom: 10px;
  }
}


.node-list {
  flex: 2;
  min-width: 500px;
}


@media (max-width: 400px) {
  .overview-container {
    min-width: 0;
  }
}
