<div class="detail-pane">
  <div *ngIf="failed" data-cy="failedupgrade">
    <div class="layout-container failed">
      <div class="overview-container" data-cy="failureoverview">
        <h3>Upgrade Failure Overview</h3>
        <app-essential-item *ngFor="let item of failedUpgradeItems; let l = last" [item]="item" [underline]="false">
        </app-essential-item>
      </div>

      <div *ngIf="upgradeProgress.raw.UpgradeDomainProgressAtFailure?.NodeUpgradeProgressList.length > 0"
        data-cy="failedud" class="node-list">
        <h3>Nodes Upgrading Status at Failure</h3>
        <app-upgrade-domain-progress [failed]="true"
          [upgradeDomain]="upgradeProgress.raw.UpgradeDomainProgressAtFailure">
        </app-upgrade-domain-progress>
      </div>

    </div>
  </div>

  <div class="layout-container">
    <app-warning *ngIf="manual" data-cy="manualmode"
      description="Unmonitored manual mode needs manual intervention after every upgrade on an update domain,
                                  to kick off the upgrade on the next update domain. No Service Fabric health checks are performed.
                                  The administrator performs the health or status checks before starting the upgrade in the next update domain.">
    </app-warning>
    <div class="domain-container" *ngIf="upgradeProgress.upgradeDomains.length > 0">
      <h3>{{upgradeProgress.isUDUpgrade ? 'Upgrade Domain' : 'Node'}} Progress</h3>
      <app-upgrade-progress style="align-self: center;" [upgradeDomains]="upgradeProgress.upgradeDomains"
        [showChart]="true">
      </app-upgrade-progress>
    </div>
    <div class="overview-container">
      <div>
        <h3>Overview</h3>
        <app-essential-item *ngFor="let item of essentialItems; let l = last" [item]="item" [underline]="false">
        </app-essential-item>

        <app-essential-item [item]="startTimeEssentialItem" [underline]="false">
          <app-display-time [time]="upgradeProgress.startTimestampUtc"></app-display-time>
        </app-essential-item>

        <app-essential-item [item]="upgradeDuration" *ngIf="!upgradeProgress.isUpgrading && upgradeDuration">
        </app-essential-item>

        <div class="duration" data-cy="upgrade-bar" *ngIf="upgradeProgress.isUpgrading && upgradeProgress.isUDUpgrade">
          <app-display-duration topText="Upgrade Duration" [topInMilliseconds]="upgradeProgress.upgradeTime"
            [bottomHelpText]="helpText" [bottomHelpTextLink]="link" bottomText="Time Left Until Timeout"
            [bottomInMilliseconds]="upgradeProgress.getUpgradeTimeout()">
          </app-display-duration>
        </div>
      </div>

      <div data-cy="cud" *ngIf="upgradeProgress.isUpgrading && upgradeProgress.isUDUpgrade">
        <h3>Current Domain</h3>
        <app-essential-item *ngFor="let item of essentialItems2; let l = last" [item]="item" [underline]="false">
        </app-essential-item>

        <div class="duration" data-cy="upgrade-bar-domain">
          <app-display-duration topText="Upgrade Domain Duration"
            [topInMilliseconds]="upgradeProgress.currentDomainTime" [bottomHelpText]="helpText"
            [bottomHelpTextLink]="link" bottomText="Time Left Until Timeout"
            [bottomInMilliseconds]="upgradeProgress.getUpgradeDomainTimeout()">
          </app-display-duration>
        </div>

      </div>
    </div>

    <div *ngIf="healthPolicy.length > 0">
      <h3>Monitoring And Health Policies</h3>
      <app-essential-item *ngFor="let item of healthPolicy; let l = last" [item]="item" [underline]="false">
      </app-essential-item>

    </div>

    <div class="node-list">
      <h3>Health Check Progress</h3>

      <div style="    display: flex;
          gap: 10px;
          align-items: center;">
        <div>
          <app-phase-diagram [items]="healthPolicyProgress" [currentIndex]="1" [failed]="false"></app-phase-diagram>

          <div style="margin-left: 30px; margin-top: 5px;">
            <a href="https://docs.microsoft.com/azure/service-fabric/service-fabric-diagnostics-code-package-errors"
              target="_blank"><i class="mif-info"></i> If the health policy becomes unhealthy, the health check will move to
              retry and potentially fail </a>
          </div>
        </div>

        <div style="width: 350px;">
          <app-essential-item [item]="currentCheck"></app-essential-item>

          <app-display-duration topText="Wait Duration elapsed" [topInMilliseconds]="3000 * 60"
            [colorMap]="{'0': 'var(--accent-darkblue)'}" bottomText="Wait Duration Left"
            [bottomInMilliseconds]="5000 * 60"></app-display-duration>
        </div>
      </div>


      <!-- <app-essential-item [item]="waitCheckComplete"></app-essential-item> -->

    </div>

    <!-- <div *ngIf="upgradeProgress.isUpgrading && upgradeProgress.nodesInProgress?.NodeUpgradeProgressList.length > 0"
      data-cy="currentud" class="node-list">
      <h3 style="text-align: center;">Nodes status</h3>
      <app-upgrade-domain-progress [upgradeDomain]="upgradeProgress.nodesInProgress">
      </app-upgrade-domain-progress>
    </div> -->
  </div>

  <div class="detail-pane" *ngIf="upgradeProgress.unhealthyEvaluations.length > 0" data-cy="upgradeHealthEvents" style="margin-top: 10px;">
    <h3>Unhealthy Evaluations (Upgrade)</h3>
    <app-detail-list [list]="upgradeProgress.unhealthyEvaluations"
      [listSettings]="upgradeProgressUnhealthyEvaluationsListSettings"></app-detail-list>
  </div>
</div>
