
<app-collapse-container sectionName="Application Type versions">
    <h4 collapse-header>
        Application Type versions
    </h4>
    <div collapse-body>
        <div ngbNav #nav="ngbNav" class="nav-wrapper" >
            <div ngbNavItem>
                <a ngbNavLink style="font-size: 12pt;">
                  In Use <span class="mif-info" ngbTooltip="Application Types which have at least 1 application instance."
                    aria-label="Tooltip - Application Types which have at least 1 application instance."
                    placement="bottom" tooltipClass="styled-tooltip" style="font-size: small;" container="body"></span>
                </a>
                <ng-template ngbNavContent>
                    <app-detail-list [list]="activeAppTypes" [listSettings]="appTypesListSettings" data-cy="appTypeVersions"></app-detail-list>
                </ng-template>
            </div>
            <div ngbNavItem>
                <a ngbNavLink style="font-size: 12pt;">
                    Unused
                </a>
                <ng-template ngbNavContent>
                    <app-detail-list [list]="inactiveAppTypes" [listSettings]="appTypesListSettings"></app-detail-list>
                </ng-template>
            </div>
            <div ngbNavItem>
              <a ngbNavLink style="font-size: 12pt;">
                  All
              </a>
              <ng-template ngbNavContent>
                  <app-detail-list [list]="allAppTypes" [listSettings]="allAppTypesListSettings"  data-cy="allAppTypeVersions"></app-detail-list>
              </ng-template>
          </div>
        </div>
        <div [ngbNavOutlet]="nav"></div>
    </div>
</app-collapse-container>
