<div class="tile-container" data-cy="tiles">
  <app-dashboard-text-tile [barClass]="'badge-upgrade-active'" [count]="usage.activeAppTypes.length" *ngIf="usage"
    title="Active Application Types" style="display: block">
  </app-dashboard-text-tile>

  <app-dashboard-text-tile [barClass]="'badge-upgrade-inactive'" [count]="usage.inactiveTypes.length" *ngIf="usage"
    title="Unused Application Types" style="display: block">
  </app-dashboard-text-tile>
</div>

<div class="detail-pane essen-pane" *ngIf="usage">
  <app-collapse-container sectionName="Application Type versions">
      <h4 collapse-header>
          Application Type versions
      </h4>
      <div collapse-body>
          <div ngbNav #nav="ngbNav" class="nav-wrapper" >
              <div ngbNavItem>
                  <a ngbNavLink style="font-size: 12pt;">
                    In Use <span tabindex="0" class="mif-info" ngbTooltip="Application Types which have at least 1 application instance."
                      placement="bottom" tooltipClass="styled-tooltip" style="font-size: small;" container="body"></span>
                  </a>
                  <ng-template ngbNavContent>
                      <app-detail-list [list]="usage.activeAppTypes" [listSettings]="activeAppTypesListSettings" data-cy="appTypeVersions"></app-detail-list>
                  </ng-template>
              </div>
              <div ngbNavItem>
                  <a ngbNavLink style="font-size: 12pt;">
                      Unused
                  </a>
                  <ng-template ngbNavContent>
                      <app-detail-list [list]="usage.inactiveTypes" [listSettings]="appTypesListSettings"></app-detail-list>
                  </ng-template>
              </div>
          </div>
          <div [ngbNavOutlet]="nav"></div>
      </div>
  </app-collapse-container>
</div>
