<div>
    <div class="button-container">
        <button type="button" class="simple-button margined" (click)="fitData()"
            title="Fit the timeline to only display the time range that has events.">
            Fit Events
        </button>

        <button type="button" class="simple-button margined" (click)="fitWindow()"
            title="Fit the timeline to display the whole time range.">
            Fit Range
        </button>

        <button type="button" class="simple-button margined" (click)="moveStart()"
            title="Move to the start of the timeline." *ngIf="displayMoveToStart">
            Move To Start
        </button>

        <button type="button" class="simple-button margined" (click)="moveEnd()"
            title="Move to the end of the timeline." *ngIf="displayMoveToEnd">
            Move To End
        </button>

        <button type="button" class="simple-button margined" (click)="moveToOldestEvent()"
            title="Move to the oldest event in the time range.">
            Move To Oldest Event
        </button>

        <button type="button" class="simple-button margined" (click)="moveToNewestEvent()"
            title="Move to the newest event in the time range.">
            Move To Newest Event
        </button>

        <div class="margined">
            <app-toggle [aria]="'Set To' + isUTC ? 'Local Time' : 'UTC'" [(state)]="isUTC" (stateChange)="flipTimeZone()"></app-toggle><span>Set To {{isUTC ? 'Local Time' : 'UTC'}}</span>
        </div>

        <ng-content select="[buttons]"></ng-content>

        <div style="margin-left: auto;">
            <a class="link"> Why is data missing?
                <span tabindex="0" class="mif-info" title="This timeline may present incomplete information and not fully represent the cluster for this date range. Events may also be missing due to data loss and lead to incomplete states. E.g.: A cluster upgrade starting before or ending after this time range will not be shown."></span>
            </a>
        </div>
    </div>
    <div role="img" alt="timeline visualization for the next table." aria-label="timeline visualization for the next table." aria-hidden="true">
      <div #visualization ></div>

    </div>
</div>
