<p>infrastructurejobs works!</p>
<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>UD</th>
            <th>IsActive</th>
            <th>AcknowledgementStatus</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let job of allManagementJobs">
            <td>{{job.Id}} </td>
            <td>{{job.CurrentUD}}</td>
            <td>{{job.IsActive}}</td>
            <td>{{job.AcknowledgementStatus}}</td>
        </tr>
    </tbody>
</table>

