<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="version" content="{{::SfxVersion}}">
        <meta name="build" content="{{::SfxBuild}}">
        <title>Service Fabric Explorer</title>
        <link rel="icon" type="image/png" href="images/favicon.png" />

    
        <!-- Make sure ng-cloak gets processed first so users do not see flashing binding template -->
        <style>
            [ng-cloak],
            .ng-cloak,
            .ng-hide {
                display: none !important;
            }

            ul{
                list-style-type: none;
            }

        </style>
    
        <!-- CSS imports -->
        <link href="css/lib.min.css" rel="stylesheet" />
        <link href="css/dark.min.css" rel="stylesheet" sfx-theme-import />
   


    </head>
  
    <body>

    <nav class="navbar navbar-inverse navbar-custom navbar-fixed-top" ng-controller="NavbarController as navbarCtrl">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-brand-azure" href="http://aka.ms/portalsfx" target="_blank">Microsoft Azure</a>
                    <!-- Use inline style to limit the icon size to prevent a huge icon show up in browser before css is downloaded -->
                    <a class="navbar-brand navbar-brand-title" href="#" ng-click="navbarCtrl.navigateToCluster()">
                        <img style="width: 24px" src="images/favicon.svg" title="Service Fabric Explorer" class="navbar-brand-icon"
                        />Service Fabric Explorer</a>
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-right-control">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbar-right-control">
                    <div class="navbar-control-section navbar-right">
                        <div class="slider-control" ng-controller="RefreshSliderController as refreshCtrl">
                            <span class="slider-title" id="refresh-rate-title">REFRESH RATE</span>
                            <span class="slider-label" id="refresh-rate-label" ng-if="refreshCtrl.refreshRate > 0">{{refreshCtrl.refreshRate}}s</span>
                            <a href="" class="slider-label" id="slider-min-label" role="button" aria-label="Turn off refresh">OFF</a>
                            <sfx-slider min-label-id="slider-min-label" max-label-id="slider-max-label" class="slider" title="Change how often content is updated by clicking or using arrow keys"
                                aria-label="Change how often content is updated" role="slider"></sfx-slider>
                            <a href="" class="slider-label" id="slider-max-label" role="button" aria-label="Set the refresh rate to the fastest">FAST</a>
                            <a href="" class="dropdown-toggle dark-background-link bowtie-icon bowtie-navigate-refresh" ng-class="{'disabled rotate': navbarCtrl.isRefreshing}"
                                ng-click="navbarCtrl.refreshAll()" role="button" aria-label="refresh"></a>
                        </div>
    
                        <div class="settings-control dropdown">
                            <a href="" class="dropdown-toggle dark-background-link bowtie-icon bowtie-settings-gear" role="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="true" aria-label="settings"></a>
                            <!-- use inline style to work around IE bug that list-style=none gets ignored for first load -->
                            <ul class="dropdown-menu dropdown-menu-right" style="list-style: none" ng-controller="SettingsController as settingsCtrl">
                                <li ng-controller="ThemeController as themeCtrl">
                                    <div class="settings-item-title">Choose a theme</div>
                                    <div class="choose-theme-container">
                                        <img ng-class="{'selected': themeCtrl.getActiveThemeName() === 'dark'}" ng-click="themeCtrl.changeToTheme('dark'); $event.stopPropagation()"
                                            title="Use the dark theme" src="images/dark-theme.png" role="menuitemradio" />
                                        <img ng-class="{'selected': themeCtrl.getActiveThemeName() === 'light'}" ng-click="themeCtrl.changeToTheme('light'); $event.stopPropagation()"
                                            title="Use the light theme" src="images/light-theme.png" role="menuitemradio" />
                                    </div>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <label class="settings-item-title" id="page-size-label">Display items per page: </label>
                                    <input class="input-flat dark-bg" autocomplete="off" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="number"
                                        ng-model="settingsCtrl.settings.paginationLimit" ng-model-options="{ updateOn: 'blur' }"
                                        min="5" max="200" step="5" aria-labelledby="page-size-label" />
                                </li>
                                <li role="separator" class="divider"></li>
                                <li class="hoverable-link">
                                    <a href="http://go.microsoft.com/fwlink/?LinkId=512132" title="Privacy and Cookies" target="_blank">
                                        <span>Privacy and Cookies</span>
                                        <i class="bowtie-icon bowtie-navigate-external"></i>
                                    </a>
                                </li>
                                <li class="hoverable-link">
                                    <a href="http://aka.ms/servicefabricfeedback" title="Suggest an improvement" target="_blank">
                                        <span>Suggest an improvement</span>
                                        <i class="bowtie-icon bowtie-navigate-external"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
    
                        <div class="user-control dropdown" ng-if="authCtrl.isAadAuthenticated && !anthCtrl.isStandalone">
                            <div class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{authCtrl.userName}}
                                <i class="user-icon bowtie-icon bowtie-user"></i>
                            </div>
                            <ul class="dropdown-menu dropdown-menu-right" style="list-style: none">
                                <li class="hoverable" ng-click="authCtrl.logOut()">
                                    <span>Sign out</span>
                                    <img class="sign-out-icon" src="images/logout.svg" />
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
       <div class="left-panel" ng-controller="MenuController" style="padding-left: 0px;" >
            <div class="menu" ng-init="onload()">
                <ul class="folders">
                    <li ng-repeat="folder in folders | filter: {label: '!----No Folder---'}" >
                        {{folder.label}}
                        <div class="btn-group actions-menu"
                            uib-dropdown dropdown-append-to-body>
                            <a href="" role="button" uib-dropdown-toggle
                                class="dark-background-link actions-expander">
                                <span class="bowtie-icon bowtie-ellipsis"></span>
                            </a>
                            <ul role="menu" class="dropdown-menu dropdown-menu-right" uib-dropdown-menu style="list-style: none">
                                <li role="menuitem">
                                    <a role="menuitem" tabindex="-1" href="" ng-click="removeFolder(folder)">
                                        Remove Folder
                                    </a>
                                </li>
                                <li role="menuitem">
                                    <a role="menuitem" tabindex="-1" href="" ng-click="renameFolder(folder)">
                                        Rename Folder
                                    </a>
        
                                </li>
                                
                            </ul>
                        </div>

                        <ul class="clusters">
                                <li class="hoverable-link" ng-repeat="cluster in folder.clusters" ng-click="changeCluster(cluster, this)">
                                    {{cluster.label}}
                                    <div class="btn-group actions-menu"
                                        uib-dropdown dropdown-append-to-body>
                                       <a href="" role="button" uib-dropdown-toggle
                                          class="dark-background-link actions-expander">
                                           <span class="bowtie-icon bowtie-ellipsis"></span>
                                       </a>
                                       <ul role="menu" class="dropdown-menu dropdown-menu-right" uib-dropdown-menu style="list-style: none">
                                           <li role="menuitem">
                                               <a role="menuitem" tabindex="-1" href="" ng-click="removeCluster(cluster, cluster.folder)">
                                                    Remove Cluster
                                               </a>
                                           </li>
                                           <li role="menuitem">
                                                <a role="menuitem" tabindex="-1" href="" ng-click="renameCluster(cluster)">
                                                    Rename Cluster
                                                </a>
                    
                                            </li>
                                            <li role="menuitem">
                                                <a role="menuitem" tabindex="-1" href="" ng-click="moveCluster(cluster, cluster.folder)">
                                                    Move Cluster
                                                </a>
                                            </li>
                                       </ul>
                                   </div>
                                </li>
                            </ul>
                       
                    </li>
                </ul>
                <hr ng-if="folders.length > 1">
                <ul class="clusters">
                    <li class="hoverable-link" ng-repeat="cluster in folders[0].clusters" ng-click="changeCluster(cluster, this)">
                        {{cluster.label}}
                        <div class="btn-group actions-menu"
                            uib-dropdown dropdown-append-to-body>
                           <a href="" role="button" uib-dropdown-toggle
                              class="dark-background-link actions-expander">
                               <span class="bowtie-icon bowtie-ellipsis"></span>
                           </a>
                           <ul role="menu" class="dropdown-menu dropdown-menu-right" uib-dropdown-menu style="list-style: none">
                               <li role="menuitem">
                                   <a role="menuitem" tabindex="-1" href="" ng-click="removeCluster(cluster, cluster.folder)">
                                        Delete Cluster
                                   </a>
                               </li>
                               <li role="menuitem">
                                    <a role="menuitem" tabindex="-1" href="" ng-click="renameCluster(cluster)">
                                        Rename Cluster
                                    </a>
        
                                </li>
                                <li role="menuitem">
                                    <a role="menuitem" tabindex="-1" href="" ng-click="moveCluster(cluster, cluster.folder)">
                                        Move Cluster
                                    </a>
                                </li>
                           </ul>
                       </div>
                    </li>
                </ul>
            </div>

            

            <div class="add-buttons">
                <button ng-click="addcluster=true">+ Add Cluster</button>
                <form ng-show="addcluster">
                    <label>Url:</label> <br>
                    <input id="new_url" class="input-flat" ng-model="new_url" ><br>
                    Connect to Local Cluster: <input id="local-check" type="checkbox" onclick="document.getElementById('new_url').disabled = this.checked" > <br>
                    <p id="cluster_url_error"></p>

                    <label> Display Name: (Optional) </label> <br>
                    <input id="new_cluster" class="input-flat" ng-model="new_cluster"> <br>
                    <p id="cluster_name_error"></p>


                    <label>Add to Folder:</label> <br>
                    <select class="input-flat" ng-model="selectedFolder" ng-options="folder.label for folder in folders" ng-init="selectedFolder=folders[0]"></select> <br>
                    <submit class="btn btn-default"  ng-click="addcluster=false">Exit</submit>
                    <submit class="btn btn-primary" ng-click="addCluster(new_cluster, new_url, selectedFolder)" >Connect Cluster</submit>
                   
                   
                    
                </form>

                <button ng-click="addfolder=true">+ Add Folder</button>
                    <form ng-show="addfolder">
                        <label>Display Name:</label> <input class="input-flat" ng-model="new_folder"> <br>     
                        <p id="folder_error"></p>
                        <submit class="btn btn-default" ng-click="addfolder=false" >Exit</submit>  
                        <submit class="btn btn-primary" ng-click="addFolder(new_folder)">Add Folder</submit>
                       
                       
                        
                    </form>
            </div>
       </div>
        
       <div class="right-panel" id="iframes"></div>
        
       
    
        <!-- Script imports -->
        <script src="js/lib.min.js"></script>
        <script src="js/templates.min.js"></script>
        <script src="js/app.min.js"></script>
        
    </body>
</html>