.centered {
    display: flex;

    input {
        margin: 0 auto;
    }
}

tr {
    display: table-row;
}

.mif-info {
    padding-right: 5px
}

.dropdown-container {
    padding: 10px;
    color: white;
    font-size: 14px;
}