<div ngbDropdown container="body">
    <button class="simple-button" ngbDropdownToggle title="Contains the toggle for setting advanced mode">
        <span class="mif-tools"></span>
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-container">
        <table>
            <tr ngbDropdownItem>
                <td>
                    <span class="mif-info" title="Advanced mode is only meant to be turned on to perform dangerous operations when not used properly."></span>
                    Advanced Mode
                </td>
                <td class="centered">
                    <input type="checkbox" [(ngModel)]="status" (ngModelChange)="change()">
                </td>
            </tr>
            <tr ngbDropdownItem>
                <td>
                    <span class="mif-info" title="Hide all messages in the bottom right"></span>
                        Suppress Messages
                </td>
                <td class="centered">
                    <input type="checkbox" [(ngModel)]="messageService.suppressMessage">
                </td>
            </tr>
        
            <tr>
                <td>
                    <span class="mif-info" title="Display items per page in lists"></span>
                    Page Size
                </td>
                <td class="centered">
                    <input type="number" min="5" [(ngModel)]="settingsService.paginationLimit" class="input-flat" style="width: 50px; margin-left: 5px">
                </td>
            </tr>
        </table>

        <div style="width: 100%; background-color: gray; height: 1px; margin: 5px 0px;"></div>
        <a href="https://go.microsoft.com/fwlink/?LinkId=512132">Privacy and Cookies</a>
    </div>
</div>

