<div class="detail-pane essen-pane" *ngIf="deployedCodePackage">
    <div class="tail-bar" data-cy="container-logs">
        <label>Tail:
            <app-input [(model)]="deployedCodePackage.containerLogsTail"></app-input>
        </label>
        <button class="simple-button" (click)="getLogs()" data-cy="get-logs">Get Logs</button>
    </div>
    <div *ngIf="containerLogs">
        <pre role="presentation" tabindex="0"><code aria-label="container logs">{{containerLogs}}</code></pre>
    </div>
 </div>
