.key-wrapper {
  white-space: nowrap;
  border: 0px;
  padding: 5px 5px 0px 0px;
}

.value-wrapper {
    border: 0px;
    padding: 5px 5px 0px 0px;
    white-space: pre-wrap;
    display: inline-block;
}
