.upgrade-progress {
    background-color: transparent;
    padding: 1px;
    font-size: var(--font-size-small);
    margin: 1px;
    border-spacing: 0;

    .upgrade-domain-bar {
        display: inline-block;
        color: white !important;
        padding: 1px;
        text-align: center;
        vertical-align: middle;
        .upgrade-domain-title {
            border: 1px solid black;
            padding: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 32px;
            font-size: 9pt;
            width: 80px;
            height: 35px;
            color: white !important;
        }
    }
}


.badge-unknown {
  background-color: var(--badge-unknown);
}

.badge-ok {
  background-color: var(--badge-ok);
}

.badge-warning {
  background-color: var(--accent-darkblue);
}

.badge-error {
  background-color: var(--badge-error);
}
