@if (!showChart) {
  <div>
    @if (upgradeDomains.length < 15) {
      <div class="upgrade-progress">
        @for (ud of upgradeDomains; track ud) {
          <div class="upgrade-domain-bar"  tooltipClass="styled-tooltip" [ngbTooltip]="ud.name + ' - ' + ud.stateName">
            <div class="upgrade-domain-title " [ngClass]="ud.badgeClass">{{ud.name}}</div>
          </div>
        }
      </div>
    }
    @if (upgradeDomains.length > 14) {
      <div>
        <div class="dashboard-datapoints">
          @for (tile of tiles; track tile) {
            <div class="dashboard-datapoint">
              <div class="dashboard-datapoint-leftbar" [ngClass]="tile.css"></div>
              <div class="dashboard-datapoint-title">{{tile.name}}</div>
              <div class="dashboard-datapoint-number">{{tile.uds.length}}</div>
            </div>
          }
        </div>
      </div>
    }
  </div>
}
<div #chart></div>
