@import "src/vars.scss";

.upgrade-progress {
    background-color: transparent;
    padding: 1px;
    font-size: $font-size-small;
    margin: 1px;
    border-spacing: 0;

    .upgrade-domain-bar {
        display: inline-block;
        color: white !important;
        padding: 1px;
        text-align: center;
        vertical-align: middle;
        .upgrade-domain-title {
            border: 1px solid black;
            padding: 1px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 32px;
            font-size: 9pt;
            width: 80px;
            height: 35px;
            color: white !important;
        }
    }
}


.badge-unknown {
  background-color: $badge-unknown-color;
}

.badge-ok {
  background-color: #088105;
}

.badge-warning {
  background-color: $azure-blue;
}

.badge-error {
  background-color: $badge-error-color;
}

$dashboard-datapoint-leftbar-width: 3px;


.dashboard-datapoint {
  position: relative;
  padding: 0 0 0 $dashboard-datapoint-leftbar-width + 5px;
  display: inline-block;
  margin: 5px;

  .dashboard-datapoint-leftbar {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: $dashboard-datapoint-leftbar-width;
  }

  .dashboard-datapoint-title {
      display: block;
      line-height: 1;
      margin-top: -2px;
      font-size: 12pt;
  }

  .dashboard-datapoint-number {
      display: block;
      line-height: 1;
      font-size: 24pt;
  }
}
