.ngb-dp-week{
    font-size: .75rem;
    color: white;
}

.ngb-dp-day {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid gray;
    background: var(--primary-background-color);
}


.custom-day {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.ngb-dp-day.hidden{
    border: 0px;
}


.disabled {
    .custom-day {
        color: gray;
        background-color: var(--accent-background-color);
    }
    color: gray;
}

.ngb-dp-day.hidden {
    border: 0px;
}

.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range, .custom-day:hover {
    background-color: var(--accent-darkblue);
    color: white;
}
.custom-day.faded {
    background-color: color-mix(in srgb, var(--accent-darkblue) 50%, transparent);
}

@media screen and (forced-colors: active) {
    .custom-day.range, .custom-day:hover {
        background-color: Highlight;
    }
    
    .disabled {
        .custom-day {
            color: GrayText;
        }
        background-color: GrayText;
    }
}

.ngb-dp-month-name {
    background: var(--primary-background-color) !important;
    color: white;
}

.ngb-dp-month{
    background: var(--primary-background-color) !important;
    color: white;
}

.ngb-dp-weekdays, .ngb-dp-weekday {
    background: var(--primary-background-color) !important;
}

.ngb-dp-header {
    background: var(--primary-background-color) !important;
}
