.styled-tooltip {

  opacity: 1 !important;
  z-index: 2;

  .tooltip-inner {
    border-radius: var(--primary-border-radius);
    box-shadow: var(--heavy-box-shadow);
    background-color: var(--primary-background-color);
    border: 1px solid var(--accent-background-color);
  }

  .arrow::before {
    border-top-color: var(--primary-background-color)
  }

}
