.nav-wrapper {
  a {
        border-bottom: 4px solid transparent;
        transition: .25s border-bottom-color;

        &.current, &.active {
            border-bottom-color: var(--accent-darkblue) !important;
            color: var(--font-primary-color);
        }

        &:hover {
          border-bottom-color: var(--font-accent-color);
        }
      }

    .nav {
      display: flex;
      gap: 10px;
    }

    .nav-link {
      padding-bottom: 0px;
    }
}
