@import "src/Styles/vars.scss";

$dashboard-margin: 12px;
$dashboard-padding: 7px;
$dashboard-datapoint-leftbar-width: 3px;
// $dashboard-title-font-size: $font-size-medium;
$dashboard-tile-title-font-size: 11pt;
$dashboard-tile-number-font-size:72px;
$dashboard-datapoint-number-font-size: 24pt;
$dashboard-datapoint-large-width: 72px;

$dashboard-large-padding-vertical: 17px;

$dashboard-small-donut-size: 126px;
$dashboard-small-title-font-size: 11pt;
$dashboard-small-number-font-size: 50px;
$dashboard-small-datapoint-number-font-size: 16pt;
$dashboard-small-datapoint-title-font-size: 11pt;
$dashboard-small-padding-horizontal: 12px;

.dashboard-container-small {
    display: inline-block;
    vertical-align: middle;
    width: 270px;
}

.chart-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.dashboard-wrapper {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 100%;
    a {
        text-decoration: none;
        color: var(--font-primary-color) !important;
    }

    .dashboard {
        box-shadow: var(--primary-box-shadow);
        border-radius: var(--primary-border-radius);
        color: var(--font-primary-color);
        padding: $dashboard-padding;
        background: var(--primary-background-color);
        text-align: center;
        height: 100%;
        width: 100%;

        &.has-view-path {
            cursor: pointer;
        }

        .dashboard-tile {
            display: block;
            position: relative;
            text-align: left;
            width: 100%;
            height: 100%;

            .dashboard-tile-inner {
                position: relative;
                width: 100%;
                height: 100%;
                padding-left: $dashboard-datapoint-leftbar-width * 2 + 10px !important;

                .dashboard-tile-leftbar {
                    width: $dashboard-datapoint-leftbar-width * 2;
                    position: absolute;
                    left: 0;
                    top: 0;
                    bottom: 0;

                    &.badge-upgrade-active {
                        background: var(--accent-darkblue);
                    }

                    &.badge-upgrade-inactive {
                        background: var(--accent-background-color);
                    }
                }

                .dashboard-tile-title {
                    display: block;
                    font-size: $dashboard-tile-title-font-size;
                    line-height: 0.9;
                }

                .dashboard-tile-number {
                    display: block;
                    font-size: $dashboard-tile-number-font-size;
                    line-height: 1;
                    margin: 20px 0;
                }
            }
        }
    }

    .dashboard-large {
        padding: $dashboard-large-padding-vertical $dashboard-padding;
        position: relative;
        display: flex;
        flex-direction: column-reverse;

        .dashboard-datapoints {
          margin: 20px 5px 0 5px;
          display: flex;
          justify-content: space-evenly;

            .dashboard-datapoint {
                flex: 1;

                .dashboard-datapoint-title {
                    font-size: var(--font-size-default);
                }

                .dashboard-datapoint-number {
                    font-size: $dashboard-datapoint-number-font-size;
                }
            }
        }
    }

    .dashboard-small {
        padding: $dashboard-padding $dashboard-small-padding-horizontal;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .dashboard-datapoints {
            margin: 0 0 0 20px;
            float: right;

            .dashboard-datapoint {
                height: 36px;
                padding: 0 0 0 14px;
                margin: 4px 0 8px 0;

                .dashboard-datapoint-title {
                    font-size: $dashboard-small-datapoint-title-font-size;
                }

                .dashboard-datapoint-number {
                    font-size: $dashboard-small-datapoint-number-font-size;
                    width: 54px;
                }
            }
        }
    }
}
