<div class="tile-container">
  <app-essential-health-tile [healthState]="service?.healthState" *ngIf="service && service.isInitialized" class="long"
    [listItems]="essentialItems">
    <ng-template appEssentialTemplate id="status">
      <app-status-resolver [status]="service.raw.ServiceStatus"></app-status-resolver>
    </ng-template>
  </app-essential-health-tile>

  <app-tile-wrapper *ngIf="service?.description.raw" data-cy="state-data">
    <app-state-info [stateful]="service.isStatefulService" [data]="service.description.raw"></app-state-info>
  </app-tile-wrapper>

  <app-dashboard-text-scale-tile *ngIf="service?.description?.isInitialized" data-cy="placementconstraints">
    <div class="placement-constraint-wrapper">
      <div class="text-center ">
        <div class="top-seperator title">Placement Constraints</div>
        <div>
          {{service.description.raw.PlacementConstraints || 'No placement constraints defined'}}
        </div>
      </div>
      <div>
        <a href="https://learn.microsoft.com/en-us/azure/service-fabric/service-fabric-cluster-resource-manager-configure-services#placement-constraints"
          target="_blank"><span class="mif-info"></span> Learn More</a>
      </div>
    </div>
  </app-dashboard-text-scale-tile>

  <app-dashboard-tile [data]="partitionsDashboard" *ngIf="partitionsDashboard"></app-dashboard-tile>
  <app-dashboard-tile [data]="replicasDashboard" *ngIf="replicasDashboard"></app-dashboard-tile>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Health Evaluations" [tooltipSouth]="true">
    <div collapse-header>
      <h2>Health Evaluations</h2>
    </div>
    <div collapse-body>
        <app-health-viewer *ngIf="service && service.health" [healthyEvaluations]="service.health.healthEvents" [unhealthyEvaluations]="service.health.unhealthyEvaluations" ></app-health-viewer>
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Partitions">
    <div collapse-header>
      <h2>Partitions</h2>
    </div>
    <div collapse-body>
      <app-detail-list [list]="service.partitions.collection" [listSettings]="listSettings" data-cy="partitions"
        *ngIf="service && service.partitions.isInitialized"></app-detail-list>
    </div>
  </app-collapse-container>
</div>
