<div class="detail-pane essen-pane" *ngIf="service">
  <div class="essential-container">
    <div class="essential-item essential-half">
      <div class="essential-head">
        Name
      </div>
      <div class="essential-body">
        {{service?.name}}<app-clip-board [text]="service?.name"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Service Type
      </div>
      <div class="essential-body">
        {{service?.raw.TypeName}}<app-clip-board [text]="service?.raw.TypeName"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Health State
      </div>
      <div class="essential-body">
        <app-health-badge [badgeClass]="service?.healthState.badgeClass" [text]="service?.healthState.text">
        </app-health-badge>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Service Type Version
      </div>
      <div class="essential-body">
        {{service?.raw.ManifestVersion}}<app-clip-board text="service.raw.ManifestVersion"></app-clip-board>
      </div>
    </div>
  </div>
  <div class="essential-container" *ngIf="service.isStatefulService">
    <div class="essential-item essential-half">
      <div class="essential-head">
        Status
      </div>
      <div class="essential-body">
        {{service.raw.ServiceStatus}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Minimum Replica Set Size
      </div>
      <div class="essential-body" *ngIf="service.description.raw">
        {{service.description.raw.MinReplicaSetSize}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Service Kind
      </div>
      <div class="essential-body">
        {{service.raw.ServiceKind}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Target Replica Set Size
      </div>
      <div class="essential-body" *ngIf="service.description.raw">
        {{service.description.raw.TargetReplicaSetSize}}
      </div>
    </div>

    <div class="essential-item essential-half"
      *ngIf="service.description.raw && service.description.raw.ServiceDnsName">
      <div class="essential-head">
        Service Dns Name
      </div>
      <div class="essential-body">
        {{service.description.raw.ServiceDnsName}}
      </div>
    </div>
  </div>

  <div class="essential-container" *ngIf="service.isStatelessService">
    <div class="essential-item essential-half">
      <div class="essential-head">
        Status
      </div>
      <div class="essential-body">
        {{service.raw.ServiceStatus}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Instance Count
      </div>
      <div class="essential-body" *ngIf="service.description.raw">
        {{service.description.raw.InstanceCount}}
      </div>
    </div>

    <div class="essential-head">
      Service Kind
    </div>
    <div class="essential-body">
      {{service.raw.ServiceKind}}
    </div>
  </div>

  <div class="essential-item essential-half" *ngIf="service.description.raw && service.description.raw.ServiceDnsName">
    <div class="essential-head">
      Service Dns Name
    </div>
    <div class="essential-body">
      {{service.description.raw.ServiceDnsName}}
    </div>
  </div>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Unhealthy Evaluations">
    <div collapse-header>
      <h4>Unhealthy Evaluations</h4>
    </div>
    <div collapse-body>
      <detail-list [list]="service.health.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"
        *ngIf="service && service.health"></detail-list>
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Partitions">
    <div collapse-header>
      <h4>Partitions</h4>
    </div>
    <div collapse-body>
      <detail-list [list]="service.partitions.collection" [listSettings]="listSettings"
        *ngIf="service && service.partitions.isInitialized"></detail-list>
    </div>
  </app-collapse-container>
</div>
