<div class="tile-container">
  <app-essential-health-tile [healthState]="service?.healthState" *ngIf="service && service.isInitialized" class="long"
    [listItems]="essentialItems">
    <ng-template appEssentialTemplate id="status">
      <app-status-resolver [status]="service.raw.ServiceStatus"></app-status-resolver>
    </ng-template>
  </app-essential-health-tile>
<!-- 
  <app-dashboard-text-tile *ngIf="service?.description.raw" middleMargin="5px 0"
    [title]="service.isStatefulService ? 'Stateful': 'Stateless'">
    <app-state-info [stateful]="service.isStatefulService" [data]="service.description.raw"></app-state-info>
  </app-dashboard-text-tile> -->

  <app-tile-wrapper *ngIf="service?.description.raw">
    <app-state-info [stateful]="service.isStatefulService" [data]="service.description.raw"></app-state-info>
  </app-tile-wrapper>

  <app-dashboard-tile [data]="partitionsDashboard" *ngIf="partitionsDashboard"></app-dashboard-tile>
  <app-dashboard-tile [data]="replicasDashboard" *ngIf="replicasDashboard"></app-dashboard-tile>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Unhealthy Evaluations">
    <div collapse-header>
      <h4>Unhealthy Evaluations</h4>
    </div>
    <div collapse-body>
      <app-detail-list [list]="service.health.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"
        *ngIf="service && service.health"></app-detail-list>
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Partitions">
    <div collapse-header>
      <h4>Partitions</h4>
    </div>
    <div collapse-body>
      <app-detail-list [list]="service.partitions.collection" [listSettings]="listSettings" data-cy="partitions"
        *ngIf="service && service.partitions.isInitialized"></app-detail-list>
    </div>
  </app-collapse-container>
</div>
