.placement-constraint-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .title {
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: 1.2;
  }
}

// .list-container {
//   display: flex;
//   gap: 5px;
//   flex-direction: column;
// }

// .table-item {
//   background-color: var(--primary-background-color);
//   border-radius: var(--primary-border-radius);
//   padding: 2px;
//   display: flex;
//   justify-content: space-between;


// }

// .tooltip-content {
//   white-space: nowrap;
//   text-align: left;

//   tr {
//     height: 35px;

//     *:first-child {
//       padding-right: 5px;
//     }
//   }
// }
