.row-container {
  border-bottom: solid 2px white;
  border-top: solid 2px white;
}

.replica-container {
  display: inline-block;
  padding: 5px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  // margin: 5px;
  height: 100%;
  position: relative;
}

.left-side {
  width: 250px;

}

.top-side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner-green {
  border-left: 8px solid green;
}

.banner-blue {
  border-left: 8px solid #0075c9;
}

.banner-yellow {
  border-left: 8px solid yellow;
}

.field {
  color: #c9c9c9;
}

.fullscreen {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #262626;
  z-index: 2;
  margin-bottom: 0px !important;
}
