<div class="replica-container essen-pane" [ngClass]="leftBannerColor">
  <div class="top-side">
    <app-health-badge [badgeClass]="replica.healthState.badgeClass" size="25px"></app-health-badge>

    <button class="flat-button underline" style="display: flex;
    align-items: center; height: 25px" *ngIf="replicator" (click)="changeReplication()">
      <span class="mif-2x mif-arrow-drop-down status-icon"></span>
      View Replication</button>
    <app-clip-board [text]="copyText" style="float: right"></app-clip-board>
  </div>

  <div style="display: flex;flex: 1;min-height: 0;">
    <div style="flex: 1; display: flex; flex-direction: column;">
      <div class="replica-header">
        <div style="width: 100%;">
          <app-essential-item *ngFor="let item of overviewItems; let l = last; " [item]="item" [underline]="false">
          </app-essential-item>
          <app-essential-item [item]="status" [underline]="true">
            <app-status-resolver [status]="replica.raw.ReplicaStatus"></app-status-resolver>
          </app-essential-item>
        </div>
      </div>

      <div *ngIf="showReplication" style="flex: 1; min-height: 0px; display: flex; flex-direction: column;" [ngClass]="{'fullscreen' :  fullScreen}"  >
        <h4 class="underline-title" style="margin-bottom: 0px;
        margin-left: 5px;
        margin-right: 5px;">LSN Rate Over Time

          <span class="link {{ fullScreen ? 'mif-shrink' : 'mif-enlarge' }}" style="float: right; margin-top: 5px;" (click)="changeFullScreen()"></span>
        </h4>
        <p style="text-align: center; margin-bottom: 0px;">
          (This information is only recorded on this tab and is cleared when left)
        </p>

        <div style="    flex: 1;
        min-height: 0px;">
          <app-replication-trend-line [data]="chartData" style="height: 100%; width: 100%; padding-bottom: -10px;"></app-replication-trend-line>
        </div>

      </div>
    </div>


    <div *ngIf="showReplication" style="margin-left: 10px; flex: 1;">
      <app-replica-status [replicator]="replicator"></app-replica-status>
    </div>
  </div>

</div>
