<div class="replica-container essen-pane" [ngClass]="leftBannerColor">
  <div class="top-side">
    <app-health-badge [badgeClass]="replica.healthState.badgeClass" size="25px"></app-health-badge>

    <button class="flat-button underline" style="display: flex;
    align-items: center; height: 25px" *ngIf="replicator" (click)="changeReplication()">
      <span class="mif-2x mif-arrow-drop-down status-icon"></span>
      View Replication</button>
    <app-clip-board [text]="copyText" style="float: right"></app-clip-board>
  </div>

  <div style="display: flex;     flex: 1;
  min-height: 0;
">
    <div style="flex: 1">
      <div class="replica-header">
        <div style="width: 100%;">
            <app-essential-item *ngFor="let item of overviewItems; let l = last; " [item]="item" [underline]="false">
            </app-essential-item>
            <app-essential-item [item]="status" [underline]="true">
                <app-status-resolver [status]="replica.raw.ReplicaStatus"></app-status-resolver>
            </app-essential-item>
        </div>
      </div>

      <div *ngIf="showReplication">
        <h4 class="underline-title" style="margin-bottom: 0px;">LSN Rate Over Time
        </h4>
        <!-- (This information is only recorded on this tab and is cleared when left) -->

        <!-- <span>LSN difference over time</span> -->
        <app-replication-trend-line [data]="chartData"></app-replication-trend-line>

      </div>
    </div>
    <div *ngIf="showReplication" style="margin-left: 10px; flex: 1;">
      <app-replica-status [replicator]="replicator"></app-replica-status>
    </div>
  </div>

</div>
