@if (replica) {
  <div>
    <div class="tile-container">
      @if (replica && replica.isInitialized) {
        <app-essential-health-tile [healthState]="$safeNavigationMigration(replica?.healthState)"
          class="long" [listItems]="essentialItems">
          <ng-template appEssentialTemplate id="status">
            <app-status-resolver [status]="replica.raw.ReplicaStatus"></app-status-resolver>
          </ng-template>
          <ng-template appEssentialTemplate id="nodeName">
            <a [routerLink]="replica.nodeViewPath">{{replica.raw.NodeName}}</a>
          </ng-template>
          <ng-template appEssentialTemplate id="viewNode">
            <a [routerLink]="nodeView">View on Node</a>
          </ng-template>
        </app-essential-health-tile>
      }
    </div>
    @if (replica.address) {
      <div class="detail-pane essen-pane" data-cy="address">
        <app-replica-address [address]="replica.address"></app-replica-address>
      </div>
    }
    @if (replica.health.isInitialized) {
      <div class="detail-pane essen-pane">
        <h2>Health Evaluations</h2>
        <app-health-viewer [healthyEvaluations]="replica.health.healthEvents" [unhealthyEvaluations]="replica.health.unhealthyEvaluations" ></app-health-viewer>
      </div>
    }
  </div>
}
