<div *ngIf="replica">

  <div class="tile-container">
    <app-essential-health-tile [healthState]="replica?.healthState" *ngIf="replica && replica.isInitialized"
      class="long" [listItems]="essentialItems">
      <ng-template appEssentialTemplate id="status">
        <app-status-resolver [status]="replica.raw.ReplicaStatus"></app-status-resolver>
      </ng-template>
      <ng-template appEssentialTemplate id="nodeName">
        <a [routerLink]="replica.nodeViewPath">{{replica.raw.NodeName}}</a>
      </ng-template>
      <ng-template appEssentialTemplate id="viewNode">
        <a [routerLink]="nodeView">View on Node</a>
      </ng-template>
    </app-essential-health-tile>
  </div>

  <div class="detail-pane essen-pane" data-cy="address" *ngIf="replica.address">
    <app-replica-address [address]="replica.address"></app-replica-address>
  </div>

  <div class="detail-pane essen-pane" *ngIf="replica.health.isInitialized">
    <h4>Health Evaluations</h4>
    <app-health-viewer [healthyEvaluations]="replica.health.healthEvents" [unhealthyEvaluations]="replica.health.unhealthyEvaluations" ></app-health-viewer>
  </div>
</div>
