@use 'Styles/vars.scss';
@use 'Styles/vis';
@use 'Styles/tiles';
@use 'Styles/noui_tooltip';
@use 'Styles/global_tooltip';
@use 'Styles/calender';
@use 'Styles/modal';
@use 'Styles/navbar';
@use 'Styles/detail_table';

// Custom Theming for Angular Material
@use '@angular/cdk';
@use '@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import '@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
// TODO(v15): As of v15 mat.legacy-core no longer includes default typography styles.
//  The following line adds:
//    1. Default typography styles for all components
//    2. Styles for typography hierarchy classes (e.g. .mat-headline-1)
//  If you specify typography styles for the components you use elsewhere, you should delete this line.
//  If you don't need the default component typographies but still want the hierarchy styles,
//  you can delete this line and instead use:
//    `@include mat.legacy-typography-hierarchy(mat.define-typography-config());`
@include mat.all-component-typographies();
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SfxWeb-primary: mat.define-palette(mat.$indigo-palette);
$SfxWeb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SfxWeb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$SfxWeb-theme: mat.define-light-theme($SfxWeb-primary, $SfxWeb-accent, $SfxWeb-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SfxWeb-theme);


//--------------------------------------------------------------
// Mixins
//--------------------------------------------------------------

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

label {
  margin-bottom: 0px;
}

body {
  overflow: auto;
  background-color: var(--accent-background-color);
  margin: 0;
  font-family: "Segoe UI",-apple-system,"Helvetica Neue","Lucida Grande",Trebuchet,Arial,sans-serif;
  font-size: var(--font-size-default);
  line-height: 1.42857;
  color: var(--font-primary-color);
}
html,body {
  height: 100%;
}


.essen-pane {
    background-color: var(--primary-background-color);
    padding: 10px;
    box-shadow: var(--primary-box-shadow);
    border-radius: var(--primary-border-radius);

    .essen-table {
        width: 100%;
        table-layout: fixed;

        td {
            vertical-align: middle;
            padding: 0px 30px 0px 0px;
            width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: top;
        }

        th {
            color: var(--font-primary-color);
            padding: 5px 5px 1px 0px;
            width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: var(--font-size-small);
            font-weight: var(--font-weight-normal);
        }
    }
}

.detail-pane {
    display: block;
    margin-bottom: 15px;

    h4, h2, .heading {
        color: var(--font-accent-color);
        margin-left: 0;
        font-size: var(--font-size-large);
        margin-top: 0;
        padding-top: 0px;
        margin-bottom: 0px;
        font-weight: 500;
    }

    h4.no-uppercase {
        text-transform: none;
    }

    pre {
        color: var(--font-accent-color); //TODO check
        background-color: var(--primary-background-color);
        border-width: 0;
        margin: 0;
    }
}

a, a:active, a:focus, a:hover {
    text-decoration: none !important;
}
a {
    color: var(--accent-lightblue);
}
a[disabled], a.disabled {
    color: var(--disabled);
    cursor: default;
    pointer-events: none;
}

button[disabled], button.disabled {
    cursor: default;
    pointer-events: none;
}

a.dark-background-link {
    color: var(--accent-lightblue);
}

th {
    text-align: left;
}

table.detail-list {
    width: 100%;
    margin-bottom: 1px; // Setting this to 0 will cause IE to cut off table header when there is no contents
    border-bottom: 1px solid var(--accent-underline);
    color: var(--font-primary-color);
    overflow-x: inherit;

    td {
        vertical-align: middle !important;
        padding: 5px;
        white-space: normal;
        border-top: 1px solid var(--accent-underline);
    }

    th {
        padding: 5px;
        // color: $detail-table-header-color; TODO check
        border: 0px solid;
        border-bottom: 1px solid var(--accent-underline);
    }

    .no-border {
      border-top: none;
  }


    .shift-expander-col {
        margin-left: 27px;
    }

    .row-expander {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }

    .sort-filter-th {
        // To show filters dropdown
        overflow: visible;
        white-space: nowrap;

        .active {
            cursor: pointer;
        }

        .transparent-icon {
            color: transparent;
        }

        .btn-group.dropdown {
            vertical-align: baseline;

            .dropdown-toggle[aria-expanded="true"] .filter-icon {
                color: var(--accent-lightblue);
            }
        }

        .sort-icon {
            position: relative;
            top: 2px;
            font-size: 11pt;
            cursor: pointer;

            &.transparent-icon {
                pointer-events: none;
            }

            &:hover {
                color: var(--accent-lightblue);
            }
        }

        .filter-icon {
            font-size: 8pt;
            cursor: pointer;
            padding: 0 3px;

            &.active {
                color: var(--accent-lightblue);
            }

            &:hover {
                color: var(--accent-lightblue);
            }
        }

        ul {
            padding: 5px 10px;

            li {
                padding: 2px;
            }
        }
    }
}

.nested-table-container {
    border-left: 8px solid var(--accent-underline);
    padding-left: 8px;
    margin-left: 4px;

    .detail-table {
        border-bottom: none;
    }
}

.table-layout-fixed {
    table-layout: fixed;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.preserve-whitespace {
    white-space: pre !important;
}

.preserve-whitespace-wrap {
    white-space: pre-wrap !important;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
}

.default-table {
  width: 100%;

  tbody {
    tr {
      td {
        line-height: 1.42857;
        vertical-align: top;
        border-top: 1px solid var(--accent-underline);
      }
    }
  }
}

.clear-button {
    border-radius: 0px;
    background-color: transparent;
    border: 0px;
    color: var(--accent-lightblue);
    cursor: pointer;
}

.clear-button:disabled {
    color: gray;
}

.simple-button {
    border: var(--accent-darkblue) 1px solid;
    color: var(--font-primary-color);
    border-radius: var(--primary-border-radius);
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--primary-background-color);
    transition: .25s box-shadow;

    &:focus, &:hover {
      box-shadow: var(--heavy-box-shadow);
    }

    &:disabled {
        border-color: #727272;
    }
}

.simple-button-calendar {
    border: #727272 1px solid;
    color: var(--accent-darkblue);
    border-radius: 0px 5px 5px 0px;
    padding: 6px 12px;
    cursor: pointer;
    background-color: var(--primary-background-color);
    transition: .25s box-shadow;

    &:focus, &:hover {
      box-shadow: var(--heavy-box-shadow);
    }
}

.solid-button {
    border: var(--accent-darkblue) 1px solid;
    color: var(--font-primary-color);
    padding: 4px 12px;
    cursor: pointer;
    background-color: var(--accent-darkblue);

    &:disabled {
        opacity: .65;
    }
}

.blue {
    background-color: var(--accent-darkblue);
}

.yellow {
  background-color: var(--badge-warning);
}

.red {
  background-color: var(--badge-error);
}

.dropdown-item {
    color: var(--font-primary-color);
    font-size: 14px;
    padding: 2px 4px;
}
.dropdown-item:hover {
    background-color: var(--accent-darkblue);
    box-shadow: var(--heavy-box-shadow);
    border-radius: var(--primary-border-radius);
    color: var(--font-primary-color);
}

.link {
    color: var(--accent-lightblue);
    cursor: pointer;
}

.page-link {
    background-color: var(--primary-background-color);
    color: var(--accent-lightblue);
    border: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.page-link:active {
    background-color: var(--accent-darkblue);
    color: var(--font-primary-color);
}

.page-item.disabled .page-link{
    background-color: #5a5a5a;
    color: var(--font-primary-color);
    border: 1px solid #5a5a5a;
}

.flat-button {
    border: transparent 1px solid;
    color: var(--font-primary-color);
    padding: 4px 12px;
    cursor: pointer;
    background-color: transparent;
    border-radius: var(--primary-border-radius);

    &.round {
      border-radius: 50px;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.empty-button {
    border: var(--accent-darkblue) 0px solid;
    color: var(--font-primary-color);
    padding: 4px 12px;
    cursor: pointer;
    background-color: transparent;
}

.empty-button:hover {
    background-color: var(--primary-background-color);
}

// TODO consider hiding drop down?
.hidden-toggle {
    .dropdown-toggle::after {
        display: none;
    }
}

.rotate {
    animation-name: rotate;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotate {
    from {
        transform: scale( 1 ) rotate( 0deg );
    }

    to {
        transform: scale( 1 ) rotate( 360deg );
    }
}

.input-flat {
    padding: 3px 6px;
    font-size: 10pt;
    border-style: solid;
    border-width: 1px;
    border-color: #727272;
    background-color: transparent;
    color: var(--font-accent-color);
    border-radius: var(--primary-border-radius);

    &:focus, &:hover {
      box-shadow: var(--heavy-box-shadow);
    }
    &::placeholder{
        color: var(--font-placeholder-color);
        font-style: italic;
    }
}

.input-flat.ng-valid[required], .input-flat.ng-valid.required  {
    border-left: 5px solid var(--badge-ok);
  }

  .input-flat.ng-invalid:not(form)  {
    border-left: 5px solid var(--badge-error);
  }

.search-match {
  color: black;
  background-color: #FDFBAC;
}


.row-wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
}

.nav-tabs, .nav-link {
    border-bottom-width: 0px;
    color: #FFFFFF !important;
    border-bottom-color: inherit;
}

.nav-link:hover {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;

}

.toast {
    border-radius: 0px;

    .toast-header {
        color: var(--font-primary-color);
        background-color: rgb(90, 90, 90);
        font-weight: 200;
    }
}

.highlight-hover {
    transition: .5s;
    &:hover, &:focus-within {
        filter: brightness(100%);
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #262626;
  border-color: var(--accent-darkblue);
  border: 1px solid var(--accent-darkblue);
  box-sizing: border-box;
}


@media screen and (forced-colors: active) {
  .highcharts-title {
    color: CanvasText !important;
    fill: CanvasText !important;
  }

  .highcharts-subtitle {
    color: CanvasText !important;
    fill: CanvasText !important;
  }

  .page-item {
    .page-link {
        &:hover {
        border: 2px solid HighlightText !important;
        }
    }
  }
  .radio-btns {
    .checkbox-push{
        input:checked  + label{
            @-moz-document url-prefix() {
                color: HighlightText !important;
            }
            color: Highlight !important;
            & {
                background-color: Highlight !important;
            }
        }

    }
  }
}

:checked {
  accent-color: var(--accent-darkblue);
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.underline {
    border-bottom: 1px solid var(--accent-underline);
}

.aboveline {
  border-top: 1px solid var(--accent-underline);
}

.centering-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-item {
    @extend .centering-row;
    height: 35px;
    position: relative;
}

.text-wrapper {
    position: relative;
    overflow-x: auto;
    flex: 1;
    gap: 5px;

    .middle-text {
        transition: .5s;
        max-width: 800px;
        text-align: right;
        flex: 1;
        white-space: nowrap;
    }

    .left-text {
        transition: .5s;
        white-space: nowrap;
        color: #c9c9c9;
        font-weight: 500;
        font-size: 14px;
    }

    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background: transparent
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background: var(--font-accent-color);
    }
    &::-webkit-scrollbar-thumb:hover{
        background: var(--font-placeholder-color);
    }
    &::-webkit-scrollbar-thumb:active{
        background: var(--font-placeholder-color);
    }

}

.essential-list-item {
    display: flex; align-items: center;
    justify-content: space-between;

}

.dropdown-menu {
  list-style: none;
  padding: 5px;
  color: var(--font-accent-color);
  border-radius: var(--primary-border-radius);
  box-shadow: var(--heavy-box-shadow);
  background-color: var(--primary-background-color);
  margin: 5px;
  z-index: 1000;
}

.underline-title {
  @extend .underline;

    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: initial;
    padding-bottom: 10px;
}

.center-text {
  text-align: center;
}

.hover-row {
  &:hover, &:focus-within {
    filter: brightness(100%);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.dropdown-layout {
  list-style: none;
  padding: 5px;
  color: var(--font-primary-color);
  margin-bottom: 0px;

   label {
    @extend .hover-row;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-top: 1px solid var(--accent-underline);
    margin: 4px;
   }
}

.input-wrapper {
  margin-right: 15px;
}

.toggle-wrapper {
  background-color: var(--accent-background-color);
  border-radius: 50px;
  padding: 5px;
  padding-left: 10px;
  box-shadow: var(--primary-box-shadow);
}

.highcharts-container {
    p {
        margin: 0;
    }
}
.hidden {
  visibility: hidden;
}

.visually-hidden {
  display: none;
}

.warning-icon {
  align-self: center;
  color: var(--badge-warning);
}

.top-seperator {
  border-bottom: 5px solid var(--accent-underline);
  padding-bottom: 8px;
}

.wrap-overflow {
    overflow-wrap: break-word;
}

.main-view {
    padding-top: 18px;
    padding-right: 5px;
}


.form-inline {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0
}

.dropdown-item.disabled {
  color: #6c757d;
}
