
// Custom Theming for Angular Material
@use '~@angular/material' as mat;
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import 'vars.scss';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$SfxWeb-primary: mat.define-palette(mat.$indigo-palette);
$SfxWeb-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$SfxWeb-warn: mat.define-palette(mat.$red-palette);

// Create the theme object (a Sass map containing all of the palettes).
$SfxWeb-theme: mat.define-light-theme($SfxWeb-primary, $SfxWeb-accent, $SfxWeb-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($SfxWeb-theme);

//--------------------------------------------------------------
// Mixins
//--------------------------------------------------------------

@mixin transition($transition...) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

.essen-pane {
    background-color: $essen-pane-background-color;
    padding: 5px 15px 10px 15px;

    .essen-table {
        width: 100%;
        table-layout: fixed;

        td {
            vertical-align: middle;
            padding: 0px 30px 0px 0px;
            width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            vertical-align: top;
        }

        th {
            color: $detail-pane-sub-title-color;
            padding: 5px 5px 1px 0px;
            width: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: $font-size-small;
            font-weight: $font-weight-normal;
        }
    }
}

.detail-pane {
    display: block;
    margin-bottom: 15px;

    h4 {
        color: $detail-tab-color;
        margin-left: 0;
        font-size: $detail-tab-title-font-size;
        margin-top: 0;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    h4.no-uppercase {
        text-transform: none;
    }

    pre {
        color: $detail-pane-pre-color;
        background-color: $detail-pane-pre-background-color;
        border-width: 0;
        margin: 0;
    }
}

.right-panel {
    padding-left: 20px;
    padding-right: 15px;
    overflow: hidden;
    min-width: $right-panel-min-width;
    background-color: $right-panel-background-color;
}

.left-panel {
    overflow: hidden;
    background-color: $tree-background-color;
}

.view-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.main-view {
    padding-right: 5px;
    overflow: auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0px; /* for non-chrome browsers */
}

body {
    overflow: auto;
    background-color: $right-panel-background-color;
    margin: 0;
    font-family: "Segoe UI",-apple-system,"Helvetica Neue","Lucida Grande",Trebuchet,Arial,sans-serif;
    font-size: 10pt;
    line-height: 1.42857;
    color: #fff;
}

a, a:active, a:focus, a:hover {
    text-decoration: none !important;
}
a {
    color: #70DAF8;
}
a[disabled], a.disabled {
    color: $link-disabled-color;
    cursor: default;
    pointer-events: none;
}

button[disabled], button.disabled {
    cursor: default;
    pointer-events: none;
}

a.dark-background-link {
    color: $link-dark-background-color;

    &:hover {
        color: $link-dark-background-hover-color;
    }
}

a.light-background-link {
    color: $link-light-background-color;

    &:hover {
        color: $link-light-background-hover-color;
    }
}

th {
    text-align: left;
}

table.table.map-table {
    width: auto;

    tbody > tr:last-child > td.header {
        border-bottom-color: $essen-pane-background-color;
    }

    tbody > tr > td {
        padding: 3px;
        border: 1px solid $table-border-color;

        &.legend {
            color: $detail-pane-sub-title-color;
            font-weight: $font-weight-bold;
            padding: 5px;
            border: none;
        }

        &.header {
            text-align: center;
            vertical-align: middle;
            padding: 5px;
            color: $detail-table-header-color;
            border-top-color: $essen-pane-background-color;
            border-left-color: $essen-pane-background-color;
            background-color: $essen-pane-background-color;

            &:last-child {
                border-right-color: $essen-pane-background-color;
            }
        }
    }
}

table.detail-list {
    width: 100%;
    margin-bottom: 1px; // Setting this to 0 will cause IE to cut off table header when there is no contents
    border-bottom: 1px solid $table-border-color;
    color: white;
    overflow-x: inherit;
    min-height: 72px;

    .no-border {
        border-top: none;
    }

    td {
        vertical-align: middle !important;
        padding: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: normal;

        // Add transition to padding when the line is collapsing
        @include transition(padding $global-transition-time linear);
    }

    th {
        padding: 5px;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $detail-table-header-color;
        border: 0px solid;
        border-bottom: 1px solid #4c4c4c;
        a {
            color: $detail-table-header-color;
        }
    }

    .shift-expander-col {
        margin-left: 27px;
    }

    .row-expander {
        display: inline-block;
        margin-right: 10px;
        cursor: pointer;
    }

    .sort-filter-th {
        // To show filters dropdown
        overflow: visible;

        .active {
            cursor: pointer;
        }

        .transparent-icon {
            color: transparent;
        }

        .btn-group.dropdown {
            vertical-align: baseline;

            .dropdown-toggle[aria-expanded="true"] .filter-icon {
                color: $link-hover-color;
            }
        }

        .sort-icon {
            position: relative;
            top: 2px;
            font-size: $font-size-large;
            cursor: pointer;

            &.transparent-icon {
                pointer-events: none;
            }

            &:hover {
                color: $link-hover-color;
            }
        }

        .filter-icon {
            font-size: 8pt;
            cursor: pointer;
            padding: 0 3px;

            &.active {
                color: $link-hover-color;
            }

            &:hover {
                color: $link-hover-color;
            }
        }

        ul {
            padding: 5px 10px;

            li {
                padding: 2px;
            }
        }
    }
}

.nested-table-container {
    border-left: 8px solid $table-section-divider-color;
    padding-left: 8px;
    margin-left: 4px;

    .detail-table {
        border-bottom: none;
    }
}

.table-layout-fixed {
    table-layout: fixed;
}

.detail-table {
    font-size: $font-size-default;
    // border-bottom: 1px solid $table-border-color;

    th {
        color: $detail-table-header-color;
    }

    td {
        color: $detail-table-cell-color;
    }

    &.table {
        margin-bottom: 0;
    }

    td, th {
        text-overflow: ellipsis;
        overflow: hidden;
        border-bottom: 1px solid #4c4c4c;
    }

    // td:last-child, th :last-child {
    //     border-bottom: 0px solid #4c4c4c;
    // }

    tbody > tr {
        &:first-child {
            th {
                border-top: 0;
            }

            td {
                border-top: 0;
            }
        }

        th.sub-title {
            color: $details-pane-table-sub-title-color;
            border-bottom: 1px solid $table-section-divider-color;
        }
    }

    .detail-param-table {
        margin-bottom: 0;
        font-size: $font-size-default;
        font-weight: $font-weight-normal;

        td, th {
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.badge-container {
    display: inline;
    white-space: nowrap;
    // overflow: hidden;
    text-overflow: ellipsis;
}

.badge-icon {
    display: inline-block;
    position: relative;
    bottom: 1px;
    width: 16px;
    height: 16px;
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.preserve-whitespace {
    white-space: pre !important;
}

.preserve-whitespace-wrap {
    white-space: pre-wrap !important;
}


html,body {
    height: 100%;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-y: visible;
    -webkit-overflow-scrolling: touch;
}

.table>tbody>tr>td {
        line-height: 1.42857;
    vertical-align: top;
    border-top: 1px solid #4c4c4c;
}

app-navbar {
    width: 100%;
}

.clear-button {
    border-radius: 0px;
    background-color: transparent;
    border: 0px;
    color: $link-color;
    cursor: pointer;
}

.clear-button:disabled {
    color: gray;
}

.simple-button {
    border: $azure-blue 1px solid;
    color: white;
    padding: 4px 12px;
    cursor: pointer;
    background-color: $detail-pane-pre-background-color;

    &:disabled {
        border-color: #727272;
    }
}

.solid-button {
    border: $azure-blue 1px solid;
    color: white;
    padding: 4px 12px;
    cursor: pointer;
    background-color: $azure-blue;

    &:disabled {
        opacity: .65;
    }
}

.blue {
    background-color: $azure-blue;
}

.yellow {
  background-color: yellow;
}

.red {
  background-color: red;
}

.dropdown-menu {
    background-color: black;
    border-radius: 0px;
}

.dropdown-item {
    color: white;
    font-size: 14px;
    padding: 2px 4px;
}
.dropdown-item:hover {
    background-color: $azure-blue;
    color: white;
}

.link {
    color: #70DAF8;
    cursor: pointer;
}

.page-link {
    background-color: $detail-pane-pre-background-color;
    color: #70DAF8;
    border: 0px;
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.page-link:active {
    background-color: $azure-blue;
    color: white;
}

.page-item.disabled .page-link{
    background-color: #5a5a5a;
    color: white;
}

.flat-button {
    border: transparent 1px solid;
    color: white;
    padding: 4px 12px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 2px;

    &:hover {
        background-color: rgba(0, 0, 0, 0.25);
        // border: $azure-blue 1px solid;
    }
}

.empty-button {
    border: $azure-blue 0px solid;
    color: white;
    padding: 4px 12px;
    cursor: pointer;
    background-color: transparent;
}

.empty-button:hover {
    background-color: $detail-pane-pre-background-color;
}

// TODO consider hiding drop down?
.hidden-toggle {
    .dropdown-toggle::after {
        display: none;
    }
}








//needs to be placed in a globel css file due to how css in components work and vis timeline uses
// global css names
.vis-timeline {
    font-size: $font-size-default;
    background-color: $essen-pane-background-color;
  }

  .vis-item {
    background-color: $candybar-background-color;
    font-size: $font-size-small;
    color: $dashboard-color;
  }
  .vis-item,
  .vis-item.vis-line {
    border-width: 0px;
    color: white;
    font-family: monospace;
  }
  .vis-item.vis-dot {
    border-width: 10px;
    border-radius: 10px;
  }
  .vis-item.vis-range {
      border-radius: 0px;
  }
  .vis-item.vis-selected {
    border-color: green;
    background-color: lightgreen;
  }
  .vis-time-axis .vis-text {
    color: $dashboard-color;
    padding-top: 10px;
    padding-left: 10px;
  }
  .vis-time-axis .vis-text.vis-major {
    font-weight: bold;
  }
  .vis-time-axis .vis-grid.vis-minor {
    border-width: 2px;
    border-color: $dashboard-color;
  }
  .vis-time-axis .vis-grid.vis-major {
    border-width: 2px;
    border-color: $dashboard-color;
  }

  .vis-labelset .vis-label {
    font-size: $font-size-medium;
    color: $dashboard-color;
  }

  .vis-panel.vis-left {
    background-color: #0075c9;
  }
  .vis-ltr .vis-label.vis-nested-group .vis-inner {
    padding-left: 0px;
    white-space: pre;
  }

  .vis-group-level-unknown-but-gte1 {
    background-color: #0075c9 !important;
    border: 1px solid white;
  }

  .vis-item.white {
    background-color: #ffffff;
    color: black;
  }

  .vis-item.red {
    background-color: red;
    border-color: darkred;
  }

  .vis-item.green {
    background-color: $dashboard-ok-color;
    color: black;
  }

  .vis-item.orange {
    background-color: $dashboard-warning-color;
    color: black;
  }

  .vis-item.yellow {
      background-color: yellow;
      color: black;
  }

  .vis-item.blue {
    background-color: #0075c9;
  }

  .vis-item.red-point {
    border-color: red;
    border-width: 5px;
  }

  .vis-item.orange-point {
    border-color: $dashboard-warning-color;
    border-width: 5px;
  }

  .vis-item.white-point {
    border-color: #ffffff;
    border-width: 5px;
  }

  .vis-item.green-point {
    border-color: $dashboard-ok-color;
    border-width: 5px;
  }

  .tooltip-test{
    padding: 5px;
    border: solid;
    border-width: 2px;
    border-color: #0057c9;
    background-color: $essen-pane-background-color;
    font-size: $font-size-small;
    color: $dashboard-color;
    white-space: pre-wrap;
    box-shadow: none;
  }

  .vis-tooltip {
    padding: 0px !important;
    max-width: 50%;
  }

  .vis-timeline {
    overflow:visible !important;
  }

  .timeline-button {
    background-color: #262626;
    border: 1px solid #0075c9;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .vis-label{
    background-color: #0075c9;
    color: #dad7d7;
  }

  .noUi-tooltip {
    display: none;
    background-color: #262626;
    border: 1px solid #0075c9;
    color: white;
    border-radius: 0px;
    z-index: 2;
  }
  .noUi-handle {
      &:focus {
        .noUi-tooltip {
            display: initial;
          }

      }
  }


  .noUi-active .noUi-tooltip {
    display: block;
  }

  .noUi-target{
    background-color: #bfbfbf;
    box-shadow: none;
    border: 1px solid black;
  }

  .noUi-touch-area {
    border: 1px solid $chart-text-color;
  }

  .noUi-connect{
    background-color: #0075c9;
  }

  .noUi-horizontal .noUi-handle-upper .noUi-tooltip, .noUi-horizontal .noUi-handle-lower .noUi-tooltip {
    bottom:-32px
  }

.rotate {
    animation-name: rotate;
    -webkit-animation-name: webkit-rotate;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}
@keyframes rotate {
    from {
        transform: scale( 1 ) rotate( 0deg );
    }

    to {
        transform: scale( 1 ) rotate( 360deg );
    }
}

@-webkit-keyframes webkit-rotate {
    from {
        transform: scale( 1 ) rotate( 0deg );
    }

    to {
        transform: scale( 1 ) rotate( 360deg );
    }
}

.input-flat {
    padding: 3px 6px;
    font-size: 8pt;
    border-style: solid;
    border-width: 1px;
    border-color: #727272;
    background-color: transparent;
    color: white;
}


.input-flat.ng-valid[required], .input-flat.ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }

  .input-flat.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }

  .search-match {
    color: $tree-node-search-highlight-color;
    background-color: $tree-node-search-highlight-background-color;
}

.row-wrapper-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
}

.nav-tabs, .nav-link {
    border-bottom-width: 0px;
    color: #FFFFFF !important;
    border-bottom-color: inherit;
}

.nav-item > .active {
    border-bottom-color: #0075c9;
    border-bottom-style: solid;
    color: #FFFFFF;
    padding-bottom: 2px;
    background-color: inherit;
    border-width: 0px;
    border-bottom-width: 4px !important;
}

.nav-link:hover {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important;

}


.toast {
    border-radius: 0px;

    .toast-header {
        color: #ffffff;
        background-color: rgb(90, 90, 90);
        font-weight: 200;
    }
}

.essential-head {
    color: #DED9D9;
    padding: 5px 5px 1px 0px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10pt;
    font-weight: 600;
}

.essential-body {
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 9pt;
}

.spacer {
    width: 10px; height: 1px;
}

.essential-item {
    padding-right: 5px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 180px;
}

.essential-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
}

.essential-fourth {
    width: 25%;
}

.collapse-inner-bar {
    margin-left: 7px;
    border-left: 3px solid gray;
    padding-left: 4px;
}
.essential-half {
  width: 50%;
}


.tall {
    grid-row: span 2;
  }

.long {
    grid-column: span 2;
}

.tile-container {
    width: 100%;
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, $tile-width);
    grid-gap: 10px;
    grid-auto-rows: 150px;
    margin-bottom: 15px;
}

.highlight-hover {
    transition: .5s;
    &:hover, &:focus-within {
        filter: brightness(100%);
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.flex-center {
    display: flex;
    align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.underline {
    border-bottom: 1px solid $table-border-color;
}

.aboveline {
  border-top: 1px solid $table-border-color;
}

.centering-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-item {
    @extend .centering-row;
    height: 35px;
    position: relative;
}

.text-wrapper {
    position: relative;
    overflow: hidden;
    flex: 1;
    .middle-text {
        transition: .5s;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 800px;
        text-align: right;
        flex: 1;
    }

    .left-text {
        transition: .5s;
        white-space: nowrap;
        color: #c9c9c9;
        font-weight: 500;
        font-size: 14px;
    }

}

.essential-list-item {
    display: flex; align-items: center;
    justify-content: space-between;
    &:hover {
        .middle-text {
            min-width: fit-content;
            white-space: normal;
        }

        .left-text {
            overflow: hidden;
        }
    }

}

.dropdown-menu {
  list-style: none;
  padding: 5px;
  color: white;
  margin-bottom: 0px;
}

.underline-title {
  @extend .underline;

    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: initial;
    padding-bottom: 10px;
}

.center-text {
  text-align: center;
}

$dashboard-datapoint-leftbar-width: 3px;

.dashboard-datapoints {
  vertical-align: top;
  text-align: left;
  margin: 10px 0 0 25px;

  .dashboard-datapoint {
      position: relative;
      padding: 0 0 0 $dashboard-datapoint-leftbar-width + 5px;

      .dashboard-datapoint-leftbar {
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          width: $dashboard-datapoint-leftbar-width;

          &.badge-ok {
              background: $dashboard-ok-color;
          }

          &.badge-warning {
              background: $dashboard-warning-color;
          }

          &.badge-error {
              background: $dashboard-error-color;
          }

          &.badge-unknown {
              background: $dashboard-unknown-color;
          }
      }

      .dashboard-datapoint-title {
          display: block;
          line-height: 1;
          margin-top: -2px;
      }

      .dashboard-datapoint-number {
          display: block;
          line-height: 1;
      }
  }
}


.dropdown-layout {
  list-style: none;
  padding: 5px;
  color: white;
  margin-bottom: 0px;

   label {
    margin-bottom: 0px;
    font-size: 15px;
   }
}
