<div class="detail-pane essen-pane" *ngIf="node">
    <app-collapse-container sectionName="Node">
        <h4 collapse-header>
            Node
        </h4>    
        <app-detail-view-part [data]="node.raw" [parent]="node" collapse-body></app-detail-view-part>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="node && node.health">
    <app-collapse-container sectionName="Health Events">
        <h4 collapse-header>
            Health Events
        </h4>    
        <detail-list [list]="node.health.healthEvents" [listSettings]="healthEventsListSettings" collapse-body></detail-list>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="node && node.loadInformation.isInitialized">
    <app-detail-view-part [data]="node.loadInformation.raw" [parent]="node.loadInformation" collapse-body></app-detail-view-part>
</div>