<!-- Area reserved for showing Cluster/None or specific node's neighborhood -->
<div id="myNetwork" #myNetwork></div><br/>

<!-- Section for showing current cluster state (number of nodes in specific state) -->
<label id="labUp" #labUp>Number of UP nodes: {{lUpCnt}}</label><br/>
<label id="labDown" #labDown>Number of DOWN nodes: {{lDownCnt}}</label><br/>
<label id="labGray" #labGray>Number of GRAY nodes: {{lGrayCnt}}</label><br/><br/>

<!-- Input for getting neighborhood of specific node -->
<!-- If input not properly given, Cluster/None is shown -->
<label id="labInputNode" for="inputNode"> Search node by: &nbsp; &nbsp; </label>
<input type="radio" id="byId" name="ctc" checked #byId>
<label for="byId"> &nbsp; Id &nbsp; </label>
<input type="radio" id="byName" name="ctc" #byName>
<label for="byName"> &nbsp; Name &nbsp; &nbsp; </label>
<input id="inputNode" size="68" (change)="onChangeInput($event)" #inputNode><br/><br/>

<!-- Section for listing and chosing nodes of interest -->
<label id="labActions" for="actions"> Select action: </label><br>
<input type="radio" id="noneAction" name="contact" (click)="onClickRadio($event)" #noneAction>
<label for="noneAction"> &nbsp; None &nbsp; </label>
<input type="radio" id="fmAction" name="contact" (click)="onClickRadio($event)">
<label for="fmAction"> &nbsp; FM nodes &nbsp; </label>
<input type="radio" id="fmmAction" name="contact" (click)="onClickRadio($event)">
<label for="fmmAction"> &nbsp; FMM node &nbsp; </label>
<input type="radio" id="seedAction" name="contact" (click)="onClickRadio($event)">
<label for="seedAction"> &nbsp; Seed nodes &nbsp; </label>
<input type="radio" id="downAction" name="contact" (click)="onClickRadio($event)">
<label for="downAction"> &nbsp; Down nodes &nbsp; </label>
<input type="radio" id="leaseAction" name="contact" (click)="onClickRadio($event)">
<label for="leaseAction"> &nbsp; Lease failed nodes &nbsp; </label>
<input type="radio" id="openAction" name="contact" (click)="onClickRadio($event)">
<label for="openAction"> &nbsp; Open failed nodes &nbsp; </label>
<input type="radio" id="grayAction" name="contact" (click)="onClickRadio($event)">
<label for="grayAction"> &nbsp; Gray nodes &nbsp; </label>
<select id="selectActions" name="list" (change)="onChangeCombo($event)" #selectActions>
  <option *ngFor="let elem of selectionArr">{{elem}}</option>
</select><br/>

<!-- Textual info about current dates selected -->
<br> Start date: {{ startDate }}
<br> End date: {{ endDate }} <br><br>

<!-- Timeline bar with double slider and date picker -->
<div style="margin-bottom: 10px;">
    <app-time-picker [dateMin]="dateMin" (dateChange)="setDate($event)"></app-time-picker>
</div>
