<div (click)="openFolder()">
    <div class="image-store-item-name" style="display: inline-block; cursor: pointer; white-space: nowrap;" *ngIf="item.isFolder === -1">
        <span href="" role="button" class="list-item-name" style="display: table-cell;">
            <span class="bowtie-icon bowtie-folder"></span>
            <span [title]="item.path">{{item.displayName}}</span>
        </span>
    </div>
    
    <div class="image-store-item-name" style="display: inline-block; cursor: initial; white-space: nowrap;" *ngIf="item.isFolder === 1">
        <span class="bowtie-icon bowtie-file"></span>
        <span [title]="item.path">{{item.displayName}}</span>
    </div>
</div>
