.main-header {
    position: sticky;
    background-color: var(--accent-background-color);
    width: inherit;
    top: 20px;
    z-index: 10;
    ul {
        list-style: none;
    }

    .detail-view-title-bar {
      padding-bottom: 18px;
      position: relative;

        .detail-view-title {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: var(--font-size-large-title);
            color: var(--font-primary-color);
            font-weight: 300;
        }
    }

    .detail-view-navbar {
        clear: left;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 10px;
        flex-wrap: wrap;

        .detail-view-navbar-tab {
            white-space: nowrap;
            text-overflow: ellipsis;

            a {
              text-align: right;
              text-decoration: none;
              text-transform: capitalize;
              color: var(--font-accent-color);
              font-size: var(--font-size-large);
            }

            .tab-superscript {
                display: inline-block;
                position: absolute;
                padding: 0px;
                margin-left: 3px;
            }

            .tab-superscript-number {
                border-radius: 50% !important;
                background-color:var(--accent-darkblue);
                font-size: var(--font-sze-small);
                text-align: center;
                height: 16px;
                min-width: 16px;
                color: white;
                padding: 0 1px;
            }

            .tab-superscript-badge-container {
                height: 14px;
                width: 14px;

                .tab-superscript-badge {
                    margin-bottom: 8px;
                }
            }
        }
    }
}

.actions {
    float: right;
    height: 40px;
    margin-top: 20px;
    margin-right: 20px;
}

@media (max-width: 500px) {

  .actions {
    float: initial;
  }

  .main-header {
    padding-top: 0px;
    position: initial;

    .detail-view-title-bar {
        margin-bottom: 0px;

        .detail-view-title {
            padding-left: 15px;
            margin-bottom: 0px;
            line-break: anywhere;
            text-overflow: initial;
            overflow: initial;
            white-space: initial;
          }
    }

    .detail-view-navbar {
            .detail-view-navbar-tab {
                min-width: initial;
                overflow: initial;
                text-overflow: initial;
                margin-top: 0px;
            }

        }
    }
}
