<div class="main-header">
  <div class="detail-view-title-bar">
    <div>
      <div class="detail-view-title">
        <h1 class="detail-view-title" *ngIf="type" style="line-height: initial;" appFocusable tabindex="-1">
          <span data-cy="header" [title]="type">
            <b>{{type}}</b>
            <span *ngIf="name"> {{name}} </span>
          </span>
        </h1>
        <app-clip-board [text]="name" *ngIf="showCopy" [name]="type + ' name '"></app-clip-board>
      </div>
      <div class="detail-view-navbar nav-wrapper" role="tablist" [attr.aria-label]="name" data-cy="navtabs">
          <a  *ngFor="let tab of tabs; let i = index" #rla="routerLinkActive" [attr.aria-selected]="rla.isActive" [routerLink]="tab.route"
            [attr.aria-posinset]="i + 1" role="tab" routerLinkActive="current" [routerLinkActiveOptions]="{ exact: true }"
            [id]="'tab' + i" (keydown.space)="navigateBySpaceBar(tab.route)" class="detail-view-navbar-tab nav-link">{{tab.name}}</a>
          <!-- <div ng-if="tab.superscriptInHtml" class="tab-superscript {{::tab.superscriptClass}}" sfx-bind-html-compile="tab.superscriptInHtml()"></div> -->
      </div>
    </div>
    <div *ngIf="actions && actions.length > 0" class="actions">
      <app-action-collection-drop-down [actionCollection]="actions" data-cy="actions"></app-action-collection-drop-down>
    </div>
    <ng-content></ng-content>
  </div>
</div>