<div class="tile-container" data-cy="tiles">
  @if (usage) {
    <app-dashboard-text-tile [barClass]="'badge-upgrade-active'" [count]="usage.activeAppTypes.length"
      title="Active Application Types" style="display: block" data-cy="active-app-type">
    </app-dashboard-text-tile>
  }

  @if (usage) {
    <app-dashboard-text-tile [barClass]="'badge-upgrade-inactive'" [count]="usage.inactiveAppTypes.length"
      title="Unused Application Types" style="display: block" data-cy="inactive-app-type">
    </app-dashboard-text-tile>
  }
</div>

@if (usage) {
  <div class="detail-pane essen-pane">
    <app-apptype-viewer [activeAppTypes]="usage.activeAppTypes" [inactiveAppTypes]="usage.inactiveAppTypes"></app-apptype-viewer>
  </div>
}
