.title {
  text-align: center;
    font-size: 16px;
    margin-bottom: 10px; font-weight: initial;
    padding-bottom: 10px;;
}

.seed-node-warning {
  width: 100%;
  display: flex;
  border: 1px solid yellow;
  padding: 5px;
  padding-left: 0px;
  margin-bottom: 10px;

  .seed-node-icon {
    padding: 10px;
    border-right: 2px solid grey;
    margin-right: 10px;
    align-self: center;
    color: yellow;
  }

  .seed-node-link {
    text-align: center;
    margin-top: 5px;
  }
}

.deactivation-info {
  flex-grow: 1;
  margin-left: 15px; 
  min-width: 400px; 
  max-width: 1120px
}