.chip {
  border-left: 5px solid var(--accent-darkblue);
  display: flex;
  align-items: center;
  line-height: 1;
  padding: 5px;
  font-size: var(--font-size-small);

  &.concerning {
    border-left-color: var(--warning);
  }

  &.pending {
    border-left-color: var(--accent-underline);
  }
}

.chip-container {
  margin: 10px 0px;
  display: flex;
  gap: 5px;
}
