<div class="detail-pane essen-pane" *ngIf="deployedApp">
  <app-overview-container [healthState]="deployedApp.health.healthState">
    <table>
      <tr>
        <td>Status</td>
        <td> : <app-status-resolver [status]="deployedApp.raw.Status"></app-status-resolver></td>
      </tr>
      <tr>
        <td>Disk Location</td>
        <td> : {{deployedApp.diskLocation}}<app-clip-board [text]="deployedApp.diskLocation"></app-clip-board>
        </td>
      </tr>
      <tr>
        <td>Application Type</td>
        <td> :         <a [routerLink]="deployedApp.appTypeViewPath"
          [title]="deployedApp.raw.TypeName">{{deployedApp.raw.TypeName}}</a>
        </td>
      </tr>
    </table>
  </app-overview-container>
</div>

<div class="detail-pane essen-pane" data-cy="health">
  <app-collapse-container sectionName="Unhealthy Evaluations">
    <div collapse-header>
      <h4>Unhealthy Evaluations</h4>
    </div>
    <div collapse-body>
      <app-detail-list [list]="deployedApp.health.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"
        *ngIf="deployedApp && deployedApp.health"></app-detail-list>
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane" data-cy="services">
  <app-collapse-container sectionName="Deployed Service Packages">
    <div collapse-header>
      <h4>Deployed Service Packages</h4>
    </div>
    <div collapse-body>
      <app-detail-list [list]="deployedApp.deployedServicePackages" [listSettings]="listSettings"
        *ngIf="deployedApp?.deployedServicePackages.isInitialized"></app-detail-list>
    </div>
  </app-collapse-container>
</div>
