<div class="detail-pane essen-pane" *ngIf="deployedApp">
  <div class="essential-container">
    <div class="essential-item essential-half">
      <div class="essential-head">
        Name
      </div>
      <div class="essential-body">
        {{deployedApp.name}}<app-clip-board [text]="deployedApp.name"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Application Type
      </div>
      <div class="essential-body">
        <a [routerLink]="deployedApp.appTypeViewPath"
              [title]="deployedApp.raw.TypeName">{{deployedApp.raw.TypeName}}</a>
      </div>
    </div>

    <div class="essential-item essential-half" *ngIf="deployedApp && deployedApp.health">
      <div class="essential-head">
        Health State
      </div>
      <div class="essential-body">
        <app-health-badge [badgeClass]="deployedApp.health.healthState.badgeClass"
        [text]="deployedApp.health.healthState.text"></app-health-badge>
      </div>
    </div>

    <div class="essential-item essential-half" *ngIf="deployedApp && deployedApp.health">
      <div class="essential-head">
        Disk Location
      </div>
      <div class="essential-body">
        {{deployedApp.diskLocation}}
      </div>
    </div>

    <div class="essential-item essential-half" *ngIf="deployedApp && deployedApp.health">
      <div class="essential-head">
        Status
      </div>
      <div class="essential-body">
        {{deployedApp.raw.Status}}
      </div>
    </div>
  </div>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Unhealthy Evaluations">
    <div collapse-header>
      <h4>Unhealthy Evaluations</h4>
    </div>
    <div collapse-body>
      <detail-list [list]="deployedApp.health.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"
        *ngIf="deployedApp && deployedApp.health"></detail-list>
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Deployed Service Packages">
    <div collapse-header>
      <h4>Deployed Service Packages</h4>
    </div>
    <div collapse-body>
      <detail-list [list]="deployedServicePackages.collection" [listSettings]="listSettings"
        *ngIf="deployedServicePackages"></detail-list>
    </div>
  </app-collapse-container>
</div>
