<div class="tile-container">
  <app-essential-health-tile [healthState]="deployedApp.health.healthState" *ngIf="deployedApp?.isInitialized"
    class="long" [listItems]="essentialItems">
    <ng-template appEssentialTemplate id="appTypeViewPath">
      <a [routerLink]="deployedApp.appTypeViewPath" [title]="deployedApp.raw.TypeName">{{deployedApp.raw.TypeName}}</a>
    </ng-template>

    <ng-template appEssentialTemplate id="status">
      <app-status-resolver [status]="deployedApp.raw.Status"></app-status-resolver>
    </ng-template>
  </app-essential-health-tile>
</div>

<div class="detail-pane essen-pane" data-cy="health">
  <app-collapse-container sectionName="Unhealthy Evaluations">
    <div collapse-header>
      <h4>Unhealthy Evaluations</h4>
    </div>
    <div collapse-body>
      <app-health-viewer *ngIf="deployedApp && deployedApp.health" [healthyEvaluations]="deployedApp.health.healthEvents" [unhealthyEvaluations]="deployedApp.health.unhealthyEvaluations" ></app-health-viewer>
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane" data-cy="services">
  <app-collapse-container sectionName="Deployed Service Packages">
    <div collapse-header>
      <h4>Deployed Service Packages</h4>
    </div>
    <div collapse-body>
      <app-detail-list [list]="deployedApp.deployedServicePackages" [listSettings]="listSettings"
        *ngIf="deployedApp?.deployedServicePackages.isInitialized"></app-detail-list>
    </div>
  </app-collapse-container>
</div>
