<div class="refresh-container">
  <div>
    REFRESH RATE {{displayRate === "0" ? 'OFF' : displayRate}} 
  </div>
  <button (click)="change(0)"> OFF </button>
  <input [(ngModel)]="refreshRate" type="range" list="tickmarks" step="1" min="0" max="6" (click)="changed()" aria-label="Set the refresh rate">
  <button (click)="change(6)"> FAST </button>
  <button (click)="forceRefresh()" class="mif-refresh mif-2x" [ngClass]="{'rotate': refresh}" aria-label="Force a refresh"> </button>  
</div>

<datalist id="tickmarks">
  <option value="0"></option>
  <option value="1"></option>
  <option value="2"></option>
  <option value="3"></option>
  <option value="4"></option>
  <option value="5"></option>
  <option value="6"></option>
</datalist> 