.rounded-button {
    border: #202223 1px solid;
    color: var(--primary-font-color);
    padding: 6px;
    cursor: pointer;
    background-color: var(--accent-underline);
    border-radius: 5px;
    margin: 2px;
}

input {
    vertical-align: middle;
}

.refresh-container {
    display: flex;
    align-items: center;
}

@media (max-width: 500px) {
  input {
    width: 30%;
  }
}
