button {
    background-color: transparent;
    color: white;
    border-color: transparent;
    cursor: pointer;
}

input {
    vertical-align: middle;
}

.refresh-container {
    display: flex;
    align-items: center;
}