.rounded-button {
    border: #202223 1px solid;
    color: white;
    padding: 4px 4px;
    cursor: pointer;
    background-color: #3b4044;
    border-radius: 5px;
    margin: 2px;
}

input {
    vertical-align: middle;
}

.refresh-container {
    display: flex;
    align-items: center;
}
