<div style="white-space: nowrap;">
    <div class="essential-item">
        <div class="essential-head">
            Status
        </div>
        <div class="essential-body">
            <app-status-resolver [status]="node.nodeStatus"></app-status-resolver>
        </div>
    </div>

    <div class="essential-item">
        <div class="essential-head">
            {{up ? 'Up' : 'Down'}} Time
        </div>
        <div class="essential-body">
            {{duration}} <app-clip-board [text]="duration"></app-clip-board>
        </div>
    </div>
    <div class="essential-item">
        <div class="essential-head">
            Since
        </div>
        <div class="essential-body" style="display: flex;">
            <app-display-time [time]="timestamp"></app-display-time>
            <app-clip-board [text]="timestamp"></app-clip-board>
        </div>
    </div>
</div>