<app-dashboard-text-scale-tile>
  <div style="display: flex; flex-direction: column">
    <h2 class="title-wrapper top-seperator">
      FMM Location
      <span class="mif-loop2 rotate" *ngIf="isLoading"></span>
    </h2>
    
    <div>
      <div class="flex-center line-item-seperator">
        <div class="fmm-label">Node Name</div>
        <div class="fmm-value">
          {{ fmmLocation?.NodeName }}
        </div>
        <app-clip-board [text]="fmmLocation?.NodeName" *ngIf="fmmLocation?.NodeName" [name]="'Node Name'"></app-clip-board>
      </div>
      
      <div class="flex-center line-item-seperator">
        <div class="fmm-label">Node ID</div>
        <div class="fmm-value">
          {{ fmmLocation?.NodeId?.Id }}
        </div>
        <app-clip-board [text]="fmmLocation?.NodeId?.Id" *ngIf="fmmLocation?.NodeId?.Id" [name]="'Node ID'"></app-clip-board>
      </div>
      
      <div class="flex-center line-item-seperator">
        <div class="fmm-label">Node Instance ID</div>
        <div class="fmm-value">
          {{ fmmLocation?.InstanceId }}
        </div>
        <app-clip-board [text]="fmmLocation?.InstanceId" *ngIf="fmmLocation?.InstanceId" [name]="'Instance ID'"></app-clip-board>
      </div>
    </div>
  </div>
</app-dashboard-text-scale-tile>