.fmm-location-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;

  .title {
    font-size: var(--font-size-large);
    font-weight: 500;
    line-height: 1.2;
  }
}

.label-bold {
  font-weight: bold;
}