<div class="tile-container">
  <app-dashboard-text-scale-tile>
    <div class="fmm-location-wrapper">
      <div class="text-center">
        <h2 class="top-seperator title">FMM Location</h2>
        <div>
          <span class="label-bold">Node Name:</span> {{ fmmLocation?.NodeName || 'N/A' }}
        </div>
        <div>
          <span class="label-bold">Node ID:</span> {{ fmmLocation?.NodeId || 'N/A' }}
        </div>
        <div>
          <span class="label-bold">Instance ID:</span> {{ fmmLocation?.InstanceId || 'N/A' }}
        </div>
      </div>
    </div>
  </app-dashboard-text-scale-tile>
</div>