.aad-profiles {
    font-size: 1.1rem;
    text-align: center;
}

.aad-account {
    padding-bottom: 10px;
    border-bottom: var(--accent-underline) 1px solid;
}


.logout-aad {
    margin: auto;
    margin-top: 5px;
}

.flex {
    display: flex;
}