<div style="    display: flex;
gap: 10px;
align-items: center;">
  <div>
    <app-phase-diagram [items]="healthPolicyProgress" [currentIndex]="1" [failed]="false"></app-phase-diagram>

    <div style="margin-left: 30px; margin-top: 5px;">
      <a href="https://docs.microsoft.com/azure/service-fabric/service-fabric-diagnostics-code-package-errors"
        target="_blank"><i class="mif-info"></i>{{healthCheckPhaseText}} </a>
    </div>
  </div>

  <div style="width: 350px;">
    <app-essential-item [item]="healthCheckTimeLeft"></app-essential-item>

    <app-display-duration topText="displayTopText" [topInMilliseconds]="healthCheckDurationLeft"
      [colorMap]="{'0': color}" bottomText="displayBottomText"
      [bottomInMilliseconds]="HealthCheckDurationOverall"></app-display-duration>
  </div>
</div>
