<div class="layout-container">
  <div>
    <app-phase-diagram [items]="healthPolicyProgress" [currentIndex]="currentPhaseIndex" [failed]="failed"></app-phase-diagram>

    <div class="reference-link">
      <a href="https://docs.microsoft.com/azure/service-fabric/service-fabric-diagnostics-code-package-errors"
        target="_blank" class="help-text"><i class="mif-info"></i><span>{{healthCheckPhaseText}}</span> </a>
    </div>
  </div>

  <div style="width: 350px;">
    <app-essential-item [item]="healthCheckTimeLeft"></app-essential-item>

    <app-display-duration [topText]="displayTopText" [topInMilliseconds]="healthCheckDurationLeft"
      [colorMap]="{'0': color}" [bottomText]="displayBottomText"
      [bottomInMilliseconds]="HealthCheckDurationOverall"></app-display-duration>
  </div>
</div>
