.layout-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.reference-link {
  margin-left: 30px;
  margin-top: 5px;
  gap: 5px;
}


.help-text {
  display: flex;
  gap: 5px;
  align-items: center;
}

.retry-counter-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  color: var(--font-list-item-color);
  font-weight: 500;

  .flip-count {
    font-size: var(--font-size-large);
  }
}

