<div *ngIf="metricsViewModel">
  <div style="display: flex; max-width: 100%;">
    <div>
      <div>
        <button (click)="toggleSide()" class="simple-button">Hide </button>
      </div>
      <div *ngIf="showOptions">
        <div class="essen-pane filter-container">
          <app-node-filter [nodes]="nodes.collection" (filteredNodes)="setNodes($event)"
            [(groupByNodeType)]="groupByNodeType"></app-node-filter>
        </div>

        <app-collapse-container buttonClass="underline" class="metrics-column">
          <div collapse-header class="underline text-center title-container">
            Resource Capacity
          </div>
          <div collapse-body>
            <label style="margin-top: 10px;">
              <app-toggle [(state)]="metricsViewModel.normalizeMetricsData"></app-toggle> Normalize metric
              data
            </label>
            <div class="metrics-column">
              <app-metric-tile [metric]="metric" *ngFor="let metric of metricsViewModel.metricsWithCapacities"
                (click)="updateSelectedMetric(metric, metricsViewModel.metricsWithCapacities)">
              </app-metric-tile>
            </div>
          </div>
        </app-collapse-container>

        <app-collapse-container buttonClass="underline" class="metrics-column">
          <div collapse-header class="underline text-center title-container">
            Load metrics
          </div>
          <div collapse-body>
            <div class="metrics-column">
              <app-metric-tile [metric]="metric" *ngFor="let metric of metricsViewModel.metricsWithoutCapacities"
                (click)="updateSelectedMetric(metric, metricsViewModel.metricsWithoutCapacities)">
              </app-metric-tile>
            </div>
          </div>
        </app-collapse-container>

        <app-collapse-container buttonClass="underline" class="metrics-column" [collapsed]="true">
          <div collapse-header class="underline text-center title-container">
            system Metrics
          </div>
          <div collapse-body>
            <div class="metrics-column">
              <app-metric-tile [metric]="metric" *ngFor="let metric of metricsViewModel.systemMetrics"
                (click)="updateSelectedMetric(metric, metricsViewModel.systemMetrics)">
              </app-metric-tile>
            </div>
          </div>
        </app-collapse-container>
      </div>
    </div>

    <div class="layout-container" data-cy="tabs">
      <div ngbNav #nav="ngbNav" [destroyOnHide]="false">
        <div [ngbNavItem]="1">
          <a ngbNavLink style="font-size: 12pt;">
            Chart
          </a>
          <ng-template ngbNavContent>
            <app-bar-chart class="dynamic-bar-chart" [xAxisCategories]="tableData.categories"
              [dataSet]="tableData.dataPoints" [title]="tableData.title">
            </app-bar-chart>
          </ng-template>
        </div>
        <div [ngbNavItem]="2">
          <a ngbNavLink style="font-size: 12pt;">
            Map
          </a>
          <ng-template ngbNavContent>
            <ng-template #customWrapperTemplate let-data="data">
              <div *ngFor="let metric of metricsViewModel.selectedMetrics" style="white-space: nowrap;"  >
                {{metric.displayName}} : {{data.loadInformation.metrics[metric.name]}}
              </div>
            </ng-template>
            <app-map [listTemplate]="customWrapperTemplate" [nodes]="filteredNodes" [groupByNodeType]="groupByNodeType">
            </app-map>
          </ng-template>
        </div>
      </div>
      <div [ngbNavOutlet]="nav"></div>
    </div>
  </div>
</div>

<div *ngIf="!metricsViewModel" style="text-align: center;">
  Loading Metrics
</div>
