
.layout {
  display: flex;
  width: fit-content;
}

app-toggle {
  float: right;
  margin-left: 10px;
}

.label-group {
  label:not(:last-child) {
    margin-bottom: 5px;
  }
}


.first {
  padding: 10px !important;
  position: relative;
}
