.label-group {
  label:not(:last-child) {
    margin-bottom: 5px;

  }

  label {
    width: 120px;
    display: flex;
    justify-content: space-between;
  }
}

.first {
  padding: 10px !important;
  position: relative;
}

.layout-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.type-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
