@if (compact) {
  <div class="compact-node-filter">
    <input type="search" aria-label="Filter nodes by name" placeholder="Filter nodes by name" [(ngModel)]="filter" (ngModelChange)="updateNodes()">
    <div ngbDropdown [autoClose]="'outside'">
      <button type="button" class="node-type-button" ngbDropdownToggle>Node types</button>
      <div ngbDropdownMenu class="node-type-menu">
        @for (type of data.nodes.nodeTypes; track type) {
          <label><input type="checkbox" [(ngModel)]="nodeTypeFilter[type]" (ngModelChange)="updateNodes()">{{type}}</label>
        }
      </div>
    </div>
    <fieldset><legend>Health</legend><div class="health-choices">
      @for (health of healthOptions; track health) {
        <label class="health-filter-choice" [attr.data-health]="health" [class.enabled]="healthFilter[health]">
          <input type="checkbox" [(ngModel)]="healthFilter[health]" (ngModelChange)="updateNodes()">
          {{health === 'OK' ? 'Healthy' : health}}
        </label>
      }
    </div></fieldset>
    @if (showGroupByNodeType) {
      <label class="group-node-types" data-cy="nodetype-filter"><input type="checkbox" [(ngModel)]="groupByNodeType" (ngModelChange)="updateNodes()"> Group by node type</label>
    }
  </div>
} @else {
<div class="layout">
  <app-input data-cy="filter" placeholder="Filter nodes" [model]="filter" (changed)="filter = $event; updateNodes();">
  </app-input>

  <div class="layout-wrapper">
    <div class="type-container">
      <div ngbDropdown container="body" display="dynamic">
        <button class="simple-button" ngbDropdownToggle>node Types</button>
        <ul ngbDropdownMenu role="menu" class="dropdown-layout">
          @for (type of data.nodes.nodeTypes; track type; let last = $last) {
            <li role="menuitem" class="item">
              <label>
                <input type="checkbox" (click)=" $event.stopPropagation()" [(ngModel)]="nodeTypeFilter[type]"
                  (ngModelChange)="updateNodes();" />
                  {{type}}
                </label>
              </li>
            }
          </ul>
        </div>

        @if (showGroupByNodeType) {
          <label data-cy="nodetype-filter">
            Group By NodeType
            <br>
              <app-toggle [(state)]="groupByNodeType" (stateChange)="updateNodes();" style="float: left;"></app-toggle>
            </label>
          }
        </div>
        <div class="label-group flex-column">
          <label>
            <app-health-badge [badgeClass]="'badge-ok'" [text]="'OK'"></app-health-badge>
            <app-toggle [(state)]="healthFilter.OK" color="green" (stateChange)="updateNodes();"></app-toggle>
          </label>

          <label>
            <app-health-badge [badgeClass]="'badge-warning'" [text]="'Warning'"></app-health-badge>
            <app-toggle [(state)]="healthFilter.Warning" color="#f19d03" (stateChange)="updateNodes();"></app-toggle>
          </label>

          <label>
            <app-health-badge [badgeClass]="'badge-error'" [text]="'Error'"></app-health-badge>
            <app-toggle [(state)]="healthFilter.Error" color="red" (stateChange)="updateNodes();"></app-toggle>
          </label>
        </div>
      </div>
    </div>
}
