<label *ngIf="commandParam.type !== paramTypes.bool" [for]="commandParam.name">{{commandParam.name}}</label>
<div *ngIf="!commandParam.allowCustomValAndOptions; else dropDown">
    <div [ngSwitch]="commandParam.type">
        
        <input *ngSwitchCase="paramTypes.string" [id]="commandParam.name" [name]="commandParam.name"
        type="text" [(ngModel)]="commandParam.value" [required]="commandParam.required" class="input-flat" />
        
        <input *ngSwitchCase="paramTypes.number" [id]="commandParam.name" [name]="commandParam.name"
        type="number" [(ngModel)]="commandParam.value" [required]="commandParam.required" class="input-flat"/>   
        
        <div *ngSwitchCase="paramTypes.enum">
            <ng-container *ngTemplateOutlet="dropDown"></ng-container>
        </div>
        <!-- no need to account for required fields, as required bools are in the prefix -->
        <div *ngSwitchCase="paramTypes.bool">
            <label class="toggle-label">
                <span>{{commandParam.name}}</span>
                <app-toggle [(state)]="commandParam.value"></app-toggle>
            </label>
        </div>
    </div> 
</div>

<!-- dropdown applies to enums but also others with predefined options -->
<ng-template #dropDown>
    <div ngbDropdown 
    [class]="(dropDownInput.invalid ? 'invalid ' : 'valid ') + (commandParam.required ? 'required' : '')" >
        
        <input [id]="commandParam.name" [name]="commandParam.name" #dropDownInput="ngModel"
        type="hidden" [(ngModel)]="commandParam.value" [required]="commandParam.required" />
        
        <button class="simple-button" ngbDropdownToggle>{{commandParam.value ? commandParam.value : '-Select-'}}</button>
        
        <div ngbDropdownMenu>
            <div *ngFor="let option of commandParam.options" >
                <button [value]="option"  
                ngbDropdownItem (click)="setDropdownValue($event, commandParam)">
                    {{option}}
                </button>
            </div>
            <div *ngIf="commandParam.allowCustomValAndOptions">
                <input [id]="commandParam.name + '-custom'" [name]="commandParam.name + '-custom'"
                type="text" [(ngModel)]="commandParam.value" placeholder="custom input" class="input-flat"/>
            </div>
        </div>
    </div>
</ng-template>