$label-spacing: 5px;

label {
    display: flex;
    flex-direction:column; 
    gap: $label-spacing;
}


.invalid {
    border-left: 5px solid var(--badge-error);
    border-radius: var(--primary-border-radius);
}

.valid.required {
    border-left: 5px solid var(--badge-ok);
    border-radius: var(--primary-border-radius);
}

.required-text {
    font-size: 8pt;
    color: var(--badge-error);
}