<div *ngIf="replica">
    <div class="tile-container">
        <app-essential-health-tile [listItems]="essentialItems" class="long">
          <ng-template appEssentialTemplate id="status">
            <app-status-resolver [status]="replica.raw.ReplicaStatus"></app-status-resolver>
          </ng-template>

          <ng-template appEssentialTemplate id="view">
            <a [routerLink]="appView">View on Application</a>
            </ng-template>
        </app-essential-health-tile>

        <app-essential-health-tile [listItems]="essentialItems2" class="long">
            <ng-template appEssentialTemplate id="serviceName">
                <a [routerLink]="replica.serviceViewPath">{{replica.raw.ServiceName}}</a>
            </ng-template>
          </app-essential-health-tile>
      </div>

      <div class="essen-pane" *ngIf="replica.address">
        <app-replica-address [address]="replica.address"></app-replica-address>
      </div>
</div>
