.sticky {
  position: sticky;
  left: 0px;
  z-index: 3;
}

table {
  margin: 0px;
}

app-toggle {
  float: right;
  margin-left: 10px;
}

.label-group {
  label {
    margin-bottom: 5px;
  }
}


.first {
  padding: 10px !important;
  position: relative;
}

.upgrade-domain {
  transform: rotate(270deg);
  margin: auto;
  position: absolute;
  transform-origin: left;
  top: 25%;
  width: 120px;
}

.layout {
  padding: 15px;
  width: fit-content;
}
