<div class="detail-pane">
  <div data-cy="clustermap">
    <label *ngIf="showScaleButton">
      Scale Width <app-toggle [(state)]="scaleToFit" (stateChange)="onResize()"></app-toggle>
    </label>
    <div class="table-responsive" *ngIf="nodes.length >= 0 && matrix" #container>
      <table class="table map-table" role="presentation" #map style="transform-origin: 0 0;" [ngStyle]="{'transform': scale}">
        <tbody>
          <tr>
            <td class="legend" colspan="2" rowspan="2"></td>
            <td [colSpan]="data.nodes.faultDomains.length" class="legend">Fault Domain</td>
          </tr>
          <tr>
            <td *ngFor="let faultDomain of data.nodes.faultDomains; trackBy: trackByFn" class="header top-side">
              <app-section-overview [nodes]="matrix[faultDomain]" [moreInfo]="false" [vertical]="false"
                [title]="faultDomain"></app-section-overview>
            </td>
          </tr>
          <tr *ngFor="let upgradeDomain of data.nodes.upgradeDomains; first as isFirst; trackBy: trackByFn">
            <td class="legend" [rowSpan]="data.nodes.upgradeDomains.length" *ngIf="isFirst" [ngClass]="{'first': isFirst}">
              <div class="upgrade-domain">
                Upgrade Domain
              </div>
            </td>
            <td class="header sticky left-side">
              <app-section-overview [nodes]="matrix[upgradeDomain]" [moreInfo]="false" [title]="upgradeDomain"
                [vertical]="true"></app-section-overview>
            </td>
            <td *ngFor="let faultDomain of data.nodes.faultDomains; trackBy: trackByFn" style="color: white;">
              <div style="color: white;" *ngIf="matrix[faultDomain + upgradeDomain].length > 0">
                <app-status-tile [nodes]="matrix[faultDomain + upgradeDomain]" [listTemplate]="listTemplate"
                  [title]="faultDomain + ' : ' + upgradeDomain" [groupByNodeType]="groupByNodeType"></app-status-tile>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
