.sticky {
  position: sticky;
  left: 0px;
  z-index: 3;
}

table {
  margin: 0px;
}


// .left-side {
//   border-right: 10px solid transparent !important;
// }

// .top-side {
//     border-bottom: 10px solid transparent !important;
// }
