.container {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.overall-progress {
  width: fit-content;

  .header {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}