<div style="display: flex; flex-direction: column">
    <h2 class="title-wrapper top-seperator">
        {{data.ServiceKind}}
    </h2>
    <div class="flex-center">
        <div class="badge-container flex-center" style="position: relative;">
            <span class="mif-server icon-item-middle"></span>
            <span *ngIf="stateful" class="mif-database icon-item-left link"></span>
        </div>
        <div>
            <div *ngIf="stateful">
                <div class="flex-center line-item-seperator">
                    <div class="line-item-small">
                        {{data.MinReplicaSetSize}}
                    </div>
                    <div>Minimum Replica Set Size</div>
                </div>
                <div class="flex-center">
                    <div class="line-item-small">
                        {{data.TargetReplicaSetSize}}
                    </div>
                    <div>Target Replica Set Size</div>
                </div>
            </div>

            <div *ngIf="!stateful">
                <div class="flex-center line-item-seperator">
                    <div class="line-item-small">
                        {{data.InstanceCount}}
                    </div>
                    <div>Instance Count</div>
                </div>
                <div class="flex-center" [ngClass]="{'line-item-seperator': data.ServiceKind === 'Stateless'}">
                    <div class="line-item-small">
                        {{data.MinInstanceCount}}
                    </div>
                    <div >Minimum Instance Count</div>
                </div>
                <div class="flex-center" *ngIf="data.ServiceKind === 'Stateless'">
                    <div class="line-item-small">
                        {{data.MinInstancePercentage}}
                    </div>
                    <div >Minimum Instance Percentage</div>
                </div>
            </div>
        </div>
    </div>
</div>
