<div style="display: flex; flex-direction: column">
    <h4 class="title-wrapper top-seperator">
        {{stateful ? 'Stateful' : 'Stateless'}}
    </h4>
    <div class="flex-center">
        <div class="badge-container flex-center" style="position: relative;">
            <span class="mif-minus icon-item-middle"></span>
            <span *ngIf="stateful" class="mif-minus icon-item-left">
            </span><span *ngIf="stateful" class="mif-minus icon-item-right"></span>
        </div>
        <div>
            <div *ngIf="stateful">
                <div class="flex-center line-item-seperator">
                    <div class="line-item-small">
                        {{data.MinReplicaSetSize}}
                    </div>
                    <div>Minimum Replica Set Size</div>
                </div>
                <div class="flex-center">
                    <div class="line-item-small">
                        {{data.TargetReplicaSetSize}}
                    </div>
                    <div>Target Replica Set Size</div>
                </div>
            </div>

            <div *ngIf="!stateful">
                <div class="flex-center line-item-seperator">
                    <div class="line-item-small">
                        {{data.InstanceCount}}
                    </div>
                    <div>Instance Count</div>
                </div>
                <div class="flex-center">
                    <div class="line-item-small">
                        {{data.MinInstanceCount}}
                    </div>
                    <div >Minimum Instance Count</div>
                </div>
            </div>
        </div>
    </div>
</div>