@if (deployedApp) {
  @if (experience.isNew()) {
    <div class="resource-details-layout">
      <section class="resource-detail-card" aria-label="General">
        <header class="resource-detail-header"><h2>General</h2></header>
        <div class="resource-detail-body"><app-detail-view-part [data]="deployedApp"></app-detail-view-part></div>
      </section>
    </div>
  } @else {
  <div>
    <div class="detail-pane essen-pane">
      <app-collapse-container sectionName="General">
        <div collapse-header>
          <h2>
            General
          </h2>
        </div>
        <div collapse-body>
          <app-detail-view-part [data]="deployedApp"></app-detail-view-part>
        </div>
      </app-collapse-container>
    </div>
  </div>
  }
}
