.slider-wrapper {
    min-width: 300px;
    flex: 1;
    padding-left: 15px;
    margin-right: 15px;

    app-double-slider {
        width: 90%;
    }
}

@media (max-width: 400px) {
  .slider-wrapper {
    min-width: 200px;
  }
}

.flex-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.wrap {
    flex-wrap: wrap;
}
