<div class="flex-container wrap">
    <app-dual-date-picker [minDate]="dateMin" [maxDate]="dateMax" (dateChanged)="setNewDates($event)"
          [currentStartDate]="startDate" [currentEndDate]="endDate"></app-dual-date-picker>
  <div ngbDropdown style="margin-right: 10px;">
    <button class="simple-button" ngbDropdownToggle>Quick Dates </button>
    <div ngbDropdownMenu>
      <button *ngFor="let date of quickDates" ngbDropdownItem (click)="setDate(date)">
        {{date.display}}
      </button>
    </div>
  </div>
  <div class="slider-wrapper">
    <app-double-slider [startDate]="startDate" [endDate]="endDate" [minDate]="dateMin" (dateChanged)="setNewDates($event)">
    </app-double-slider>
  </div>
</div>