<form class="form-inline">
    <div class="form-group hidden">
        <div class="input-group">
        <input name="datepicker"  aria-hidden="true" tabindex="-1"
                class="form-control hidden"
                ngbDatepicker
                #datepicker="ngbDatepicker"
                [autoClose]="'outside'"
                (dateSelect)="onDateSelection($event)"
                [displayMonths]="2"
                [dayTemplate]="t"
                outsideDays="'collapsed'"
                [markDisabled]="isDisabled" [navigation]="'arrows'"
                [startDate]="fromDate"
                aria-label="set dates">
        <ng-template #t let-date let-focused="focused">
            <div class="custom-day"
                [class.focused]="focused"
                [class.range]="isRange(date)"
                [class.faded]="isHovered(date) || isInside(date)"
                (mouseenter)="hoveredDate = date"
                (mouseleave)="hoveredDate = null">
            {{ date.day }}
        </div>
        </ng-template>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
        <ng-content select="[startTime]"></ng-content>
        <div style="margin-left: 5px;">
        <span style="color:  var(--font-primary-color); font-size: 105%;">Start:  </span>
        <input #dpFromTime
                type="time"
                name="dpFromTime"
                class="input-flat-time clear-disabled height" placeholder="HH:mm" ng-model-options="{ timezone: 'UTC' }"
                [value]="currentStartTime"
                (input)="onTimeSelection(dpFromTime.value, true)"
                aria-label="set start time" />
        </div>
        <input #dpFromDate
                class="input-flat" placeholder="yyyy-mm-dd"
                name="dpFromDate"
                [value]="formatter.format(fromDate)"
                (input)="fromDate = validateInput(fromDate, dpFromDate.value)"
                aria-label="set start date">
        <div class="input-group-append">
            <button class="mif-calendar simple-button-calendar" (click)="datepicker.toggle()" type="button" aria-label="Toggle start date calender date picker" style="margin-right: 8px"></button>
        </div>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
        <ng-content select="[toTime]"></ng-content>
        <div style="margin-left: 5px;">
        <span style="color:  var(--font-primary-color); font-size: 105%;">End:  </span>
        <input #dpToTime
                type="time"
                name="dpToTime"
                class="input-flat-time clear-disabled height" placeholder="HH:mm" ng-model-options="{ timezone: 'UTC' }"
                [value]="currentEndTime"
                (input)="onTimeSelection(dpToTime.value, false)"
                aria-label="set end time" />
        </div>
        <input #dpToDate
                class="input-flat" placeholder="yyyy-mm-dd"
                name="dpToDate"
                [value]="formatter.format(toDate)"
                (input)="toDate = validateInput(toDate, dpToDate.value)"
                aria-label="set end date">
        <div class="input-group-append">
            <button class="mif-calendar simple-button-calendar" (click)="datepicker.toggle()" type="button" aria-label="Toggle end date calender date picker" style="margin-right: 8px"></button>
        </div>
        </div>
    </div>

</form>
