<div style="width: fit-content; display: flex;" class="essen-pane">
    <div>
        <div #chart></div>
    </div>
    <div>
        <h5>{{type}} - {{events.length}}</h5>
        <app-essential-item *ngFor="let item of reasons; let l = last" [item]="item" [underline]="false">
          <div class="flex-center" style="gap: 5px;">
            {{item.displayText}}
            <div class="legend" [ngStyle]="{'background-color': colorKey[item.descriptionName]}"></div>
          </div>
        </app-essential-item>
    </div>
</div>
