<div *ngIf="replica">

    <div class="detail-pane essen-pane">
        <app-collapse-container sectionName="General">
            <div collapse-header>
                <h4>General</h4>
            </div>
            <div collapse-body>
                <app-detail-view-part [data]="replica"></app-detail-view-part>    
            </div>
        </app-collapse-container>
    </div>

    <div class="detail-pane essen-pane">
        <app-collapse-container sectionName="Details">
            <div collapse-header>
                <h4>
                    Details
                </h4>
            </div>
            <div collapse-body>
                <app-detail-view-part [data]="replica.detail.raw" [parent]="replica.detail"></app-detail-view-part>    
            </div>
        </app-collapse-container>
    </div>

    <div class="detail-pane essen-pane">
        <app-collapse-container sectionName="Health Events">
            <div collapse-header>
                <h4>
                    Health Events
                </h4>
            </div>
            <div collapse-body>
                <app-detail-list [list]="replica.health.healthEvents" [listSettings]="healthEventsListSettings" *ngIf="replica.health"></app-detail-list>
            </div>
        </app-collapse-container>
    </div>
</div>