.table {
    width: inherit;
}

table.detail-list {
    width: inherit;
    margin-bottom: 1px;
    border-bottom: 1px solid #4c4c4c;
    color: white;
}

.repair-blue {
    color: #0074c9 !important;
}

.repair-green {
    color: #30a530 !important;
}