.clickable-replica-id {
  color: var(--accent-lightblue);
  cursor: pointer;
  
  &:hover {
    color: #106ebe;
  }
}

.non-clickable-replica-id {
  color: var(--text-primary);
  cursor: default;
  text-decoration: none;
}
