<div class="essential-list-item highlight-hover " [ngClass]="{'underline': !underline, 'allow-wrap' : item.allowWrap }">
  <div class="text-wrapper tile-item" tabindex="0">
    @if (item.descriptionName) {
      <div class="tile-list-entry left-text">
        {{item.descriptionName}}
      </div>
    }
    <div class="middle-text">
      @if (!item.displaySelector) {
        <span>
          {{item.displayText}}
        </span>
      }
      @if (item.displaySelector) {
        <span>
          <ng-content></ng-content>
        </span>
      }
    </div>
  </div>
  @if (item.copyTextValue) {
    <app-clip-board [text]="item.copyTextValue" [name]="item.descriptionName"></app-clip-board>
  }
</div>
