.options-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.options-wrapper{ > * {
	padding-right: 15px;
	}
}

ul {
  list-style: none;
  padding: 5px;
  color: white;
  margin-bottom: 0px;
}
