@import "../chart.scss";

.badge-container {
    margin: 0px 10px 0px 0px;
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side-wrapper {
    flex: 1;
    min-width: 0px;
    flex-direction: column;
    display: flex;
    height: 100%;
}