
dl {
    dt {
        width: 160px;
        display: inline-block;
        vertical-align: top;
        font-weight: 400;
    }

    dd {
        width: calc(100% - 160px);
        display: inline-block;
        margin-left: 0px;
        input {
            width: 100%;
        }
    }
}

.solid-grey {
    border-radius: 0px !important;
    border-color: white !important;
    background-color: gray;
    border-width: 2px;
    font-size: unset;
    line-height: unset;

    &:hover {
        color: white;
    }
}

.active {
    background-color: #0075c9 !important;
    border-width: 2px;
}