<form name="createServiceForm" *ngIf="description" class="action-modal">
    <div class="modal-header">
        <h1 class="modal-title">Create Service</h1>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Service Kind</dt>
            <dd>
                {{serviceType.serviceKind}}
            </dd>
            <dt>Service Type Name</dt>
            <dd>
                {{description.raw.ServiceTypeName}}
            </dd>
            <dt>Application Name</dt>
            <dd>
                {{description.raw.ApplicationName}}
            </dd>
            <dt>Service Name</dt>
            <dd>
                <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.ServiceName" name="ServiceName" title="Service name must start with application name"
                    required ng-pattern="description.serviceNamePattern" aria-label="Service Name">
            </dd>
            <dt title="Service Package Activation Mode">Service Package Activation Mode</dt>
            <dd>
                <ng-container *ngFor="let activationMode of description.servicePackageActivationModes; let i = index;">
                  <div class="radio-btns">
                      <input type="radio" [value]="i.toString()" name="a" [id]="i + 'a'" [(ngModel)]="description.raw.ServicePackageActivationMode" [ngModelOptions]="{standalone: true}">
                    <label [for]="i + 'a'">{{activationMode}}</label>
                  </div>
                </ng-container>

            </dd>
            <dt>Initialization Data</dt>
            <dd>
                <input type="text" class="input-flat" autocomplete="off" placeholder="Hexadecimal string with even length, e.g. 13A013FF"
                    title="Hexadecimal string with even length, e.g. 13A013FF" aria-label="Initialization Data" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.initializationData"
                    pattern="/^([0-9a-fA-F][0-9a-fA-F])+$/">
            </dd>
            <dt>
                Create From Template
            </dt>
            <dd class="checkbox-container-default">
                    <input type="checkbox" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.createFromTemplate"  style="float: left; width: auto;"
                            (ngModelChange)="description.isAdvancedOptionCollapsed = true" [ngModelOptions]="{standalone: true}">
            </dd>
        </dl>

        <app-collapse-container [collapsed]="description.isAdvancedOptionCollapsed" *ngIf="!description.createFromTemplate" sectionName="Advanced Options">
            <h1 collapse-header>{{description.isAdvancedOptionCollapsed ? "Show" : "Hide"}} Advanced Options</h1>
            <div collapse-body>
                <dl class="dl-horizontal" >
                    <dt>Service Dns Name</dt>
                    <dd>
                        <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.ServiceDnsName" aria-label="Service Dns Name">
                    </dd>
                    <dt *ngIf="!serviceType.raw.ServiceTypeDescription.IsStateful">Instance Count</dt>
                    <dd *ngIf="!serviceType.raw.ServiceTypeDescription.IsStateful">
                        <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.InstanceCount" aria-label="Instance Count" pattern="^(?:-1|[1-9]\d*)$" integer>
                    </dd>
                    <dt *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">Has Persisted State</dt>
                    <dd *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">
                        <input type="text" class="input-flat" readonly="readonly" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.HasPersistedState" aria-label="Has Persisted State">
                    </dd>
                    <dt *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">Min Replica Set Size</dt>
                    <dd *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">
                        <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.MinReplicaSetSize" name="MinReplicaSetSize"
                        aria-label="Min Replica Set Size" min="1" aria-valuemin="1" integer>
                    </dd>
                    <dt *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">Target Replica Set Size</dt>
                    <dd *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">
                        <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.TargetReplicaSetSize" aria-label="Target Replica Set Size" min="1" aria-valuemin="1" integer>
                    </dd>
                    <dt *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful && serviceType.raw.ServiceTypeDescription.HasPersistedState">Auxiliary Replica Count</dt>
                    <dd *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful && serviceType.raw.ServiceTypeDescription.HasPersistedState">
                        <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.AuxiliaryReplicaCount" aria-label="Auxiliary Replica Count" min="0" aria-valuemin="0" integer>
                    </dd>
                    <dt *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful" title="Replica Restart Wait Duration">Replica Restart Wait Duration</dt>
                    <dd *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">
                        <input type="number" class="input-flat" autocomplete="off" placeholder="Duration in seconds" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.ReplicaRestartWaitDurationSeconds"
                            aria-label="Replica Restart Wait Duration" min="0" aria-valuemin="0">
                    </dd>
                    <dt *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful" title="Quorum Loss Wait Duration">Quorum Loss Wait Duration</dt>
                    <dd *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">
                        <input type="number" class="input-flat" autocomplete="off" placeholder="Duration in seconds" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.QuorumLossWaitDurationSeconds"
                            aria-label="Quorum Loss Wait Duration" min="0" aria-valuemin="0">
                    </dd>
                    <dt *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful" title="Stand By Replica Keep Duration">Stand By Replica Keep Duration</dt>
                    <dd *ngIf="serviceType.raw.ServiceTypeDescription.IsStateful">
                        <input type="number" class="input-flat" autocomplete="off" placeholder="Duration in seconds" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.StandByReplicaKeepDurationSeconds"
                            aria-label="Stand By Replica Keep Duration" min="0" aria-valuemin="0">
                    </dd>
                    <dt>Placement Constraints</dt>
                    <dd>
                        <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.PlacementConstraints" aria-label="Placement Constraints">
                    </dd>
                    <dt>Partition Scheme</dt>
                    <dd>

                        <ng-container
                            *ngFor="let partitionScheme of description.servicePartitionKinds;  let i = index;">
                            <div class="radio-btns">
                                <input ngbButton type="radio" [value]="i.toString()" [id]="i + 's'" name="s"
                                        [(ngModel)]="description.raw.PartitionDescription.PartitionScheme" [ngModelOptions]="{standalone: true}">
                                <label [for]="i + 's'">{{partitionScheme}}</label>
                            </div>
                        </ng-container>
                        <dl class="dl-horizontal short">
                            <dt *ngIf="description.raw.PartitionDescription.PartitionScheme !== '1'">Count</dt>
                            <dd *ngIf="description.raw.PartitionDescription.PartitionScheme !== '1'">
                                <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.PartitionDescription.Count" required
                                    aria-label="Count" min="1" aria-valuemin="1">
                            </dd>
                            <dt *ngIf="description.raw.PartitionDescription.PartitionScheme === '2'">Low Key</dt>
                            <dd *ngIf="description.raw.PartitionDescription.PartitionScheme === '2'">
                                <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.PartitionDescription.LowKey" required
                                    aria-label="Low Key">
                            </dd>
                            <dt *ngIf="description.raw.PartitionDescription.PartitionScheme === '2'">High Key</dt>
                            <dd *ngIf="description.raw.PartitionDescription.PartitionScheme === '2'">
                                <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.PartitionDescription.HighKey" required
                                    aria-label="High Key">
                            </dd>
                            <dt *ngIf="description.raw.PartitionDescription.PartitionScheme === '3'">Name List</dt>
                            <dd *ngIf="description.raw.PartitionDescription.PartitionScheme === '3'">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>
                                                    <button (click)="description.addName()" role="button" class="flat-button">Add</button>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let name of description.raw.PartitionDescription.Names; let outerIndex = index;">
                                                <td>
                                                    <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="description.raw.PartitionDescription.Names[outerIndex]"
                                                        required aria-label="Name">
                                                </td>
                                                <td>
                                                    <button (click)="description.raw.PartitionDescription.Names.splice(outerIndex, 1)" class="flat-button" role="button">Remove</button>
                                                </td>
                                            </tr>
                                            <tr *ngIf="description.raw.PartitionDescription.Names.length === 0">
                                                <td colspan="2">No items to display</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </dd>
                        </dl>
                    </dd>
                    <dt>Placement Policies</dt>
                    <dd>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Type</th>
                                        <th>Domain Name</th>
                                        <th>
                                            <button (click)="description.addPlacementPolicy()" class="simple-button">
                                                Add
                                            </button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let placementPolicy of description.raw.ServicePlacementPolicies; let outerIndex = index;">
                                        <td>
                                            <div ngbDropdown container="body">
                                                <button class="simple-button" ngbDropdownToggle>
                                                    {{description.resolvePlacementPolicyType(placementPolicy.Type)}}
                                                </button>
                                                <div ngbDropdownMenu>
                                                    <span *ngFor="let placementPolicyOption of description.placementPolicies; let isFirst=first; let i = index">
                                                        <button ngbDropdownItem (click)="placementPolicy.Type = i.toString()" *ngIf="!isFirst">
                                                        {{placementPolicyOption}}
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="placementPolicy.DomainName" required aria-label="Domain name">
                                        </td>
                                        <td>
                                            <button (click)="description.raw.ServicePlacementPolicies.splice(outerIndex, 1)" role="button" class="flat-button">Remove</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="description.raw.ServicePlacementPolicies.length === 0">
                                        <td colspan="3">No items to display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </dd>
                    <dt>Service Correlations</dt>
                    <dd>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Scheme</th>
                                        <th>Service Name</th>
                                        <th>
                                            <button (click)="description.addServiceCorrelation()" class="simple-button">Add</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let correlation of description.raw.CorrelationScheme; let outerIndex = index;">
                                        <td>
                                            <div ngbDropdown container="body">
                                                <button class="simple-button" ngbDropdownToggle>
                                                    {{description.resolveCorrelationScheme(correlation.Scheme)}}
                                                </button>
                                                <div ngbDropdownMenu>
                                                    <span *ngFor="let correlationSchemeOption of description.serviceCorrelationSchemes; let isFirst=first; let i = index">
                                                        <button ngbDropdownItem (click)="correlation.Scheme = i.toString()" *ngIf="!isFirst">
                                                        {{correlationSchemeOption}}
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <div uib-dropdown dropdown-append-to-body>
                                                <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle aria-label="Select a scheme">
                                                    {{description.resolveCorrelationScheme(correlation.Scheme)}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul role="menu" class="dropdown-menu" uib-dropdown-menu>
                                                    <li class="dropdown-item" *ngFor="let correlationSchemeOption of description.serviceCorrelationSchemes">
                                                        <button (click)="correlation.Scheme = index.toString()" *ngIf="index > 0">{{correlationSchemeOption}}</button>
                                                    </li>
                                                </ul>
                                            </div> -->
                                        </td>
                                        <td>
                                            <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="correlation.ServiceName" required aria-label="Service name">
                                        </td>
                                        <td>
                                            <button (click)="description.raw.CorrelationScheme.splice(outerIndex, 1)" class="flat-button">Remove</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="description.raw.CorrelationScheme.length === 0">
                                        <td colspan="3">No items to display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </dd>
                    <dt>Load Metrics</dt>
                    <dd>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Primary</th>
                                        <th>Secondary</th>
                                        <th *ngIf="description.raw.AuxiliaryReplicaCount > 0">Auxiliary</th>
                                        <th>Weight</th>
                                        <th>
                                            <button (click)="description.addLoadMetric()" class="simple-button">Add</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let loadMetric of description.raw.ServiceLoadMetrics; let outerIndex = index;">
                                        <td>
                                            <input type="text" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="loadMetric.Name" required aria-label="Metric name">
                                        </td>
                                        <td>
                                            <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="loadMetric.PrimaryDefaultLoad" required aria-label="Primary default load" min="0" aria-valuemin="0">
                                        </td>
                                        <td>
                                            <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="loadMetric.SecondaryDefaultLoad" required aria-label="Secondary default load" min="0" aria-valuemin="0">
                                        </td>
                                        <td *ngIf="description.raw.AuxiliaryReplicaCount > 0">
                                            <input type="number" class="input-flat" autocomplete="off" [ngModelOptions]="{standalone: true}" [(ngModel)]="loadMetric.AuxiliaryDefaultLoad" required aria-label="Auxiliary default load" min="0" aria-valuemin="0">
                                        </td>
                                        <td>
                                            <div ngbDropdown container="body">
                                                <button class="simple-button" ngbDropdownToggle aria-label="Select a weight">
                                                    {{description.resolveLoadMetricWeight(loadMetric.Weight)}}
                                                </button>
                                                <div ngbDropdownMenu>
                                                    <span *ngFor="let loadMetricOption of description.serviceLoadMetricWeights; let isFirst=first; let i = index">
                                                        <button ngbDropdownItem (click)="loadMetric.Weight = i.toString()" *ngIf="!isFirst">
                                                        {{loadMetricOption}}
                                                        </button>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- <div uib-dropdown dropdown-append-to-body>
                                                <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle aria-label="Select a weight">
                                                    {{description.resolveLoadMetricWeight(loadMetric.Weight)}}
                                                    <span class="caret"></span>
                                                </button>
                                                <ul role="menu" class="dropdown-menu" uib-dropdown-menu>
                                                    <li class="dropdown-item" *ngFor="let loadMetricOption of description.serviceLoadMetricWeights">
                                                        <button (click)="loadMetric.Weight = index.toString()">{{loadMetricOption}}</button>
                                                    </li>
                                                </ul>
                                            </div> -->
                                        </td>
                                        <td>
                                            <button (click)="description.raw.ServiceLoadMetrics.splice(outerIndex, 1)" class="flat-button">Remove</button>
                                        </td>
                                    </tr>
                                    <tr *ngIf="description.raw.ServiceLoadMetrics.length === 0">
                                        <td colspan="5">No items to display</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </dd>
                </dl>
            </div>
        </app-collapse-container>



    </div>
    <div class="modal-footer">
        <button (click)="description.reset()" title="Reset dialog with default settings" class="flat-button">Reset</button>
        <button type="submit" class="solid-button blue" (click)="create()" >Create</button>
        <button type="button" class="flat-button" (click)="cancel()">Cancel</button>
    </div>
</form>
