
dl {
    dt {
        width: 160px;
        display: inline-block;
        vertical-align: top;
        font-weight: 400;
    }

    dd {
        width: calc(100% - 160px);
        display: inline-block;
        margin-left: 0px;
        input {
            width: 100%;
        }
    }
}

