<div *ngIf="timeLineEventsData">
  
  <app-event-store-timeline [events]="timeLineEventsData" (itemClicked)="setSearch($event)">
    <div buttons class="flex-center">
      <span class="mif-info mif-lg correlated-icon" placement="right"  tooltipClass="styled-tooltip"
        ngbTooltip="Correlated: Only certain high value scenarios are plotted, created from multiple events.&#010;All: Every event listed is plotted."></span>
  
      <div class="btn-group btn-group-toggle" ngbRadioGroup [(ngModel)]="showAllEvents" name="radioBasic"
        style="margin-right: 5px;">
        <label class="flat-button checkbox-push solid-grey" ngbButtonLabel *ngIf="showCorrelatedBtn">
          <input ngbButton type="radio" [value]="false"> Correlated
        </label>
        <label class="flat-button checkbox-push solid-grey" ngbButtonLabel>
          <input ngbButton type="radio" [value]="true"> All
        </label>
      </div>
  
      <span *ngIf="dataService.isAdvancedModeEnabled() && showAllEvents" class="flex-center">
        <app-input placeholder="query string" [(model)]="transformText">
        </app-input>
        <button class="simple-button" (click)="update()">filter</button>
      </span>
  
    </div>
  </app-event-store-timeline><br>
</div>
