.solid-grey {
    border-radius: 0px !important;
    border-color: white !important;
    background-color: rgb(97, 97, 97);
    border-width: 2px;
    font-size: unset;
    line-height: unset;

    &:hover {
        color: white;
    }
}

$border-radius: 5px;

.btn-group {
  border: 2px solid transparent;
  border-radius: $border-radius;

  &:focus-within {
    border: 2px solid var(--accent-lightblue)  !important;
  }

  div {
    &:first-child label{
    border-bottom-left-radius: $border-radius !important;
    border-top-left-radius: $border-radius !important;
    }

    &:last-child label{
    border-bottom-right-radius: $border-radius !important;
    border-top-right-radius: $border-radius !important;
    }

    &.active {
      background-color: var(--accent-darkblue);;
    }
  }
}

.correlated-icon {
    vertical-align: middle;
    margin-right: 3px;
}
