@import "src/vars.scss";

$metric-container-margin: 12px;
$metric-container-padding: 8px;

.metric-container {
  margin-bottom: $metric-container-margin;
  padding: $metric-container-padding;
  background-color: $essen-pane-background-color;
  cursor: pointer;
  position: relative;
  border-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-radius: var(--primary-border-radius);

  &.selected {
    border-color: $azure-blue;
    border-width: 3px;
    padding: $metric-container-padding - 2px;

    .metric-ratio {
      right: $metric-container-padding - 2px;
    }
  }

  .metric-legend {
    width: 16px;
    height: 16px;
    margin-top: 2px;
    float: left;
    border-radius: 50px;
  }

  .metric-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: $metric-container-padding;
    padding-right: 25px;
  }

  .metric-ratio {
    position: absolute;
    right: $metric-container-padding;
    top: 50%;
    transform: translate(0, -50%);

    &[is-capacity-violation="true"] {
      color: $badge-error-color;
    }
  }
}
