<div class="detail-pane essen-pane" *ngIf="appTypeGroup">
    <app-collapse-container sectionName="Application Type versions">
        <h4 collapse-header>
            Application Type versions
        </h4>    
        <app-detail-list [list]="appTypeGroup.appTypes" [listSettings]="appTypesListSettings" collapse-body></app-detail-list>	
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="appTypeGroup">
    <app-collapse-container sectionName="Applications">
        <h4 collapse-header>
            Applications
        </h4>    
        <app-detail-list [list]="appTypeGroup.apps" [listSettings]="appsListSettings" collapse-body></app-detail-list>	
    </app-collapse-container>
</div>