<div class="detail-pane essen-pane" *ngIf="appTypeGroup">
    <app-apptype-viewer [activeAppTypes]="appTypeGroup.activeAppTypes" [inactiveAppTypes]="appTypeGroup.inactiveAppTypes"></app-apptype-viewer>
</div>

<div class="detail-pane essen-pane" *ngIf="appTypeGroup">
    <app-collapse-container sectionName="Applications">
        <h2 collapse-header>
            Applications
        </h2>
        <app-detail-list [list]="appTypeGroup.apps" [listSettings]="appsListSettings" collapse-body data-cy="applicationsList"></app-detail-list>
    </app-collapse-container>
</div>
