<div *ngIf="info" class="essen-pane no-padding" style="color: white; margin: 2px;">
  <div  class="underline" style=" margin: 3px; text-align: center; font-size: 15px;">
      {{title}}

      <!-- <span class="mif-enlarge" style="float: right;"></span> -->
    <!-- <div style="display: flex; align-items: center;">
      <div style="font-size: 30px; margin: 3px; line-height: 1;">
        {{info.totalCount}}
      </div>
      Nodes
    </div> -->
  </div>

  <div style="display: flex; align-items: center;">
    <app-health-chart [data]="dataPoints" [title]="info.totalCount" style="margin: auto;"></app-health-chart>

    <div>
      <div style="display: flex; flex-direction: column; align-items: center;" >
        <div class="essential-list-item" *ngIf="repairInfo" ngbTooltip="The count of Repair Jobs in progress / Recently finished Repair Job counts" container="body">
          <span class="mif-cog link space-right"></span> <span class="small-icon-text">{{repairInfo.inProgress}}/{{repairInfo.recent}}</span>
        </div>
        <div class="essential-list-item" ngbTooltip="The count of disabled nodes / Nodes that are in the process of disabling" container="body">
          <app-status-resolver status="Disabling" [showText]="false" class="space-right"></app-status-resolver> <span class="small-icon-text">{{info.statusTypeCounts[constants.Disabled]}}/{{info.statusTypeCounts[constants.Disabling]}}</span>
        </div>
        <div class="essential-list-item"  ngbTooltip="The count of down nodes" container="body">
          <app-status-resolver status="Down" [showText]="false" class="space-right"></app-status-resolver><span class="small-icon-text">{{info.statusTypeCounts[constants.Down]}}</span>
        </div>
      </div>
    </div>
    <!-- <div class="dashboard-datapoints" [ngStyle]="{'flex-direction': (vertical || moreInfo ? 'column' : 'row')}">
      <div class="dashboard-datapoint">
        <div class="dashboard-datapoint-leftbar badge-ok"></div>
        <div class="dashboard-datapoint-title">Ok</div>
        <div class="dashboard-datapoint-number">{{info.okCount}}</div>
      </div>

      <div class="dashboard-datapoint">
        <div class="dashboard-datapoint-leftbar badge-warning"></div>
        <div class="dashboard-datapoint-title">Warning</div>
        <div class="dashboard-datapoint-number">{{info.warningCount}}</div>
      </div>

      <div class="dashboard-datapoint">
        <div class="dashboard-datapoint-leftbar badge-error"></div>
        <div class="dashboard-datapoint-title">Error</div>
        <div class="dashboard-datapoint-number">{{info.errorCount}}</div>
      </div>
    </div> -->
    <!-- <div *ngIf="moreInfo" style="margin-left: auto;">
      <app-essential-item *ngFor="let item of item; let l = last" [item]="item" [underline]="l">
      </app-essential-item>
    </div> -->
  </div>
</div>
