.dashboard-datapoints {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.dashboard-datapoint {
  height: 36px;
  margin: 4px;
}

.dashboard-datapoint-number {
  font-size: 16pt;
  // width: 54px;
}

.dashboard-datapoint-title {
  font-size: 11pt;
}

.no-padding {
  padding: 2px !important;
}

.space-right {
  margin-right: 5px;
}

.small-icon-text {
  font-size: 14px;
  min-width: 20px;
  text-align: right;
}

.essential-list-item {
  width: 100%;
}
