.no-padding {
  padding: 2px !important;
}

.space-right {
  margin-right: 5px;
}

.small-icon-text {
  font-size: 14px;
  min-width: 20px;
  text-align: right;
}

.essential-list-item {
  width: 100%;
}

.title-display {
  margin: 3px;
  text-align: center;
  font-size: 15px;
}
