<div *ngFor="let node of upgradeDomain.NodeUpgradeProgressList;trackBy: nodeTrackBy">
    <app-collapse-container collapsed="true" [sectionName]="node.NodeName + ' Progress '">
        <div collapse-header>
            <div style="font-size: 15px; padding: 5px; border-bottom: 1px solid gray; ">Node : {{node.NodeName}} - {{node.UpgradePhase}}
                    Safety Check(s) : {{node.PendingSafetyChecks.length}}
            </div>
        </div>
        <div collapse-body class="table-responsive">
            <app-safety-checks [safetyChecks]="node.PendingSafetyChecks" [partitions]="partitions"></app-safety-checks>
        </div>
    </app-collapse-container>
</div>