<div *ngFor="let node of upgradeDomain.NodeUpgradeProgressList;trackBy: nodeTrackBy" style="border: 1px solid gray;">
    <app-collapse-container collapsed="true" [sectionName]="node.NodeName + ' Progress '">
        <div collapse-header>
            <div style="font-size: 15px; margin-bottom: 5px;">
                {{node.NodeName}} - {{node.UpgradePhase}}
    
                <div style="float: right">
                    Safety Check(s) : {{node.PendingSafetyChecks.length}}
                </div>
            </div>
        </div>
        <div collapse-body class="table-responsive">
            <app-safety-checks [safetyChecks]="node.PendingSafetyChecks" [partitions]="partitions"></app-safety-checks>
        </div>
    </app-collapse-container>
</div>