@import "src/styles.scss";

table.table.map-table {
    width: auto;

    tbody > tr:last-child > td.header {
        border-bottom-color: $essen-pane-background-color;
    }

    tbody > tr > td {
        padding: 3px;
        border: 1px solid $table-border-color;

        &.legend {
            color: $detail-pane-sub-title-color;
            font-weight: $font-weight-bold;
            padding: 5px;
            border: none;
        }

        &.header {
            text-align: center;
            vertical-align: middle;
            padding: 5px;
            color: $detail-table-header-color;
            border-top-color: $essen-pane-background-color;
            border-left-color: $essen-pane-background-color;
            background-color: $essen-pane-background-color;

            &:last-child {
                border-right-color: $essen-pane-background-color;
            }
        }
    }
}