<div *ngFor="let check of safetyChecks;trackBy: safetyCheck" style="padding: 5px; max-width: 500px">
    <h5 style="text-align: center;">Phase : {{check.SafetyCheck.Kind}}</h5>
    <div
        *ngIf="partitions[check.SafetyCheck.PartitionId] && partitions[check.SafetyCheck.PartitionId].loading === 'loaded'; else elseBlock">
        <app-partition-info [partitionInfo]="partitions[check.SafetyCheck.PartitionId]"></app-partition-info>
    </div>
    <ng-template #elseBlock>

    </ng-template>
</div>