.row-container {
    border-bottom: solid 2px white;
    border-top: solid 2px white;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow-x: auto;
    white-space: nowrap;
}

.replica-container {
    width: 300px;
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
}

.green {
    border-left: 8px solid green;
}


.yellow {
    border-left: 8px solid yellow;
}

.field {
    color: #939393;
}