<div style="justify-content: space-between;height: 100%;" class="flex-column">
  <div style="flex: 1;
  min-height: 0px;
  display: flex;
  flex-direction: column;">
    <div class="underline" style="min-height: 0px;overflow: auto;">

      <app-collapse-container [(collapsed)]="!copy" sectionName="Copy" (collapsedChange)="handleCollapseChange($event)">
        <div collapse-header class="center-text">
          Copy
        </div>
        <div collapse-body>
          <app-essential-item *ngFor="let item of copyItems; let l = last; " [item]="item" [underline]="l">
          </app-essential-item>
        </div>
      </app-collapse-container>
    </div>

    <app-collapse-container [(collapsed)]="copy" class="underline" sectionName="Replication">
      <div collapse-header class="center-text">
        Replication
      </div>
      <div collapse-body>
        <app-essential-item *ngFor="let item of replicationItems; let l = last; " [item]="item" [underline]="l">
        </app-essential-item>
      </div>
    </app-collapse-container>
  </div>

  <div collapsed="false" data-cy="current-state">
    <h4 class="underline-title">Current State</h4>
    <div collapse-body>
      <app-essential-item *ngFor="let item of lastItems; let l = last; " [item]="item" [underline]="l">
      </app-essential-item>
    </div>
  </div>
</div>
