<section class="action-modal">
    <div class="modal-header">
        <h4 class="modal-title">Copy Command</h4>
    </div>
    <mat-dialog-content class="modal-body">
        <div>{{data.text}}</div>
    </mat-dialog-content>
    <mat-dialog-actions class="modal-footer">
        <button type="button" class="flat-button" mat-button [mat-dialog-close]="true">Ok</button>
        <button type="button" class="flat-button" mat-button mat-dialog-close>Cancel</button>
    </mat-dialog-actions>
</section>