<div class="wrapper">
    <div>
        <div>
            Minimum Replica Set Size : {{partitionInfo.partition.MinReplicaSetSize}}
        </div>
        <div>
            Target Replica Set Size : {{partitionInfo.partition.TargetReplicaSetSize}}
        </div>
        <div>
            Application name : {{partitionInfo.applicationName.Id}}
        </div>
        <div>
            Service name : {{partitionInfo.serviceName.Id}}
        </div>
    </div>
    <button (click)="view()" class="simple-button">View</button>
</div>
