<div>
    target replica : {{partitionInfo.partition.TargetReplicaSetSize}}
</div>
<div>
    min replica : {{partitionInfo.partition.MinReplicaSetSize}}
</div>
<div>
    Service name : {{partitionInfo.serviceName.Id}}
</div>
<div>
    Application name : {{partitionInfo.applicationName.Id}}
</div>

<!-- <table >
    <tr>
        <th>
            Target Replica count
        </th>
        <td style="border-top: 0px solid;">
            {{partitionInfo.partition.TargetReplicaSetSize}}
        </td>
    </tr>
    <tr>
        <th>
            Min Replica count
        </th>
        <td>
            {{partitionInfo.partition.MinReplicaSetSize}}
        </td>
    </tr>
    <tr>
        <th>
            Service Name
        </th>
        <td>
            {{partitionInfo.serviceName.Id}}
        </td>
    </tr>
    <tr>
        <th>
            Application Name
        </th>
        <td>
            {{partitionInfo.applicationName.Id}}
        </td>
    </tr>
</table> -->



<!-- <div class="row-wrapper">
    <div class="field">
        Target Replica count
    </div>
    <div>
        {{partitionInfo.partition.TargetReplicaSetSize}}
    </div>
</div>

<div class="row-wrapper">
    <div class="field">
        Min Replica count
    </div>
    <div>
        {{partitionInfo.partition.MinReplicaSetSize}}
    </div>
</div>

<div class="row-wrapper">
    <div class="field">
        Service Name
    </div>
    <div>
        {{partitionInfo.serviceName.Id}}
    </div>
</div>

<div class="row-wrapper">
    <div class="field">
        Application Name
    </div>
    <div>
        {{partitionInfo.applicationName.Id}}
    </div>
</div> -->