.wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.panel-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
  width: fit-content;
  font-size: var(--font-size-medium);
}
