<app-navbar type="Network Debugger"></app-navbar>

<div class="detail-pane essen-pane">
    <div>
        <button class="simple-button" >Clear Log</button>
    </div>

    <div class="panel-wrapper">
        <div>
            <div>
                Failure rate: {{networkService.networkDebugger.overall.failureRate}}
            </div>
            <div>
                Average Duration: {{networkService.networkDebugger.overall.averageDuration}}
            </div>
        </div>
    
        <div>
            <div class="wrap">
                Pause Request Recording<input type="checkbox" [(ngModel)]="networkService.networkDebugger.stopRecordingRequests">
            </div>
            <div class="wrap">
                Number Of retained Requests<input type="number" min="0" class="input-flat"
                    style="width: 50px; margin-left: 5px;" [(ngModel)]="networkService.networkDebugger.maxRequests">
            </div>
        </div>
    </div>
</div>

<div ngbNav #nav="ngbNav" class="essen-pane">
    <div ngbNavItem>
        <a ngbNavLink style="font-size: 12pt;">
            Last ({{networkService.networkDebugger.overall.requests.length}}) Requests
        </a>
        <ng-template ngbNavContent>
            <app-detail-list [list]="networkService.networkDebugger.overall.requests" [listSettings]="listSettingsRecent">
            </app-detail-list>

        </ng-template>
    </div>
    <div ngbNavItem>
        <a ngbNavLink style="font-size: 12pt;">
            Request Per Api
        </a>
        <ng-template ngbNavContent>
            <app-detail-list [list]="networkService.networkDebugger.requestsMap" [listSettings]="listSettings"></app-detail-list>

        </ng-template>
    </div>
</div>
<div [ngbNavOutlet]="nav" class="essen-pane"></div>