@import "src/vars.scss";

.tree-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.tree-list {
  flex: 1;
  overflow: auto;
}

.tree-header {
    color: $tree-color;
    position: sticky;
    padding: 10px;

    .toolbar {
        margin-top: 16px;
        padding: 0;
        position: relative;
    }

    .tree-search-bar {
        margin-top: 16px;
        padding: 0;
        width: 100%;
    }
}

.tree-body {
    bottom: $page-padding-bottom;
    color: $tree-color;
    width: fit-content;
    width: 100%;

    .informative {
        margin-left: 20px;
    }

    #treeview-loading-glyph {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }
}

.tree {
    margin: 0;
    padding: 0;
}

.tree-view {
  position: relative;
  height: 100%;

    &:focus {
        outline: 0;

        .tree .node.selected > .self {
            background-color: $tree-node-selected-background-color;
        }
    }
}


.expand-panel-button {
    padding: 0px;
    background-color: black;
    border: 0px;
    border-radius: 8px 0px 0px 8px;
    color: white;
}

.expand-panel-wrapper {
    position: absolute;
    right: 10px;
    z-index: 2;
    bottom: 50%;
}

@media (max-height: 500px) {
  .tree-list {
    flex: initial;
    overflow: initial;
  }

  .tree-wrapper {
    overflow: auto;
  }
}

.filter-items-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px 10px;

    label {
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }
  }

.input-wrapper {
  padding: 5px 10px 0px 0px;
}



.tree-toggle-wrapper {
    background-color: var(--accent-background-color);
    border-radius: 50px;
    padding: 5px;
    padding-left: 10px;
    box-shadow: var(--primary-box-shadow);
}
