@import "src/styles.scss";

.node {
    color: $tree-color;
    .more-children {
        margin-left: 46px;

        .icon {
            margin-right: 2px;
        }
    }

    > .self {
        white-space: nowrap;
        cursor: pointer;
        width: 100%;
        position: relative;
        height: $tree-node-line-height;

        &:hover {
            background-color: $tree-node-hover-background-color;

            .actions-menu .actions-expander {
                display: inline-block;
            }
        }

        .expander {
            cursor: default;
            padding: 3px 3px;
            min-width: 20px;
        }

        .actions-menu {
            position: absolute;
            padding: 3px 6px;
            right: 0px;
            cursor: pointer;

            .actions-expander {
                display: none;
            }
        }

        .tree-badge {
            font-size: $font-size-small;
            position: relative;
            width: 14px;
            height: 14px;
            margin-right: 5px;
        }

        .tree-label {
            .search-match {
                color: $tree-node-search-highlight-color;
                background-color: $tree-node-search-highlight-background-color;
            }
        }
    }

    &.selected > .self {
        background-color: $tree-node-selected-background-color;

        .actions-expander {
            display: inline-block;
            color: $tree-color;
        }
    }
}

.hide-nested{

    &:hover {
        .hidden {
            z-index: 1;
        }
    }

    .hidden {
        z-index: -1;
    }
}

.right-action {
    position: absolute;
    right: 0;
    padding: 1px;
}

.icon {
    cursor: pointer;
}

.disabled {
    .icon {
        cursor: auto;
        color: gray;
    }
}