@if (node.isExpanded) {
  <ul role="group">
    @if (node.loadingChildren) {
      <li class="more-children"
        [ngStyle]="{ 'paddingLeft': node.paddingLeftPx }">
        <span style="padding-left: 18px;"></span>
        <span class="mif-loop2 rotate" ></span>
        <span>Loading...</span>
      </li>
    }
    @for (child of node.displayedChildren; track trackById(i, child); let i = $index) {
      <li role="none">
        <a class="node" [ngClass]="{ 'selected': child.selected,'disabled': child.disabled}" appSelectedNode [selected]="child.selected" [focused]="child.focused" role="treeitem" (focus)="emitFocus(true)" (blur)="emitFocus(false)"
          (click)="child.selectAndInteract(); $event.stopPropagation()" (keyup)="node.tree.onKeyDown($event);" [attr.aria-level]="child.depth" tabindex="-1"
          [attr.aria-expanded]="child.isExpanded"  [attr.aria-current]="treeService.cachedTreeNodeSelection === child.nodeId ? 'page' : null" [attr.aria-disabled]="child.disabled">
          <div class="self hover-row hide-nested hover-row flex-center" [ngClass]="{ 'raised-z-index': i === higherZIndex}">
            <span  [ngStyle]="{ 'paddingLeft': child.paddingLeftPx }"></span>
            <div>
              @switch (child.nodeId) {
                @case (paginationId.prevPage) {
                  <div class="link" [ngClass]="{'disabled': child.disabled}">
                    <div class=" expander icon mif-chevron-thin-up " [title]="'Previous ' + node.listSettings.limit + ' items'"></div>
                  </div>
                }
                @case (paginationId.firstPage) {
                  <div class="link" [ngClass]="{'disabled': child.disabled}">
                    <div class=" expander icon mif-vertical-align-top" [title]="'First ' + node.listSettings.limit + ' items'"></div>
                  </div>
                }
                @case (paginationId.nextPage) {
                  <div class="link" [ngClass]="{'disabled': child.disabled}">
                    <div class=" expander icon mif-chevron-thin-down" [title]="'Next ' + node.listSettings.limit + ' items'"></div>
                  </div>
                }
                @case (paginationId.lastPage) {
                  <div class="link" [ngClass]="{'disabled': child.disabled}">
                    <div class=" expander icon mif-vertical-align-bottom " [title]="'Last ' + node.listSettings.limit + ' items'"></div>
                  </div>
                }
                @default {
                  <div>
                    @if (!child.hasExpander) {
                      <div class="expander"></div>
                    }
                    @if (child.hasExpander) {
                      <button tabindex="-1" class="expander icon mif-chevron-thin-right" aria-hidden="false" role="button"
                        (click)="child.toggle(); $event.stopPropagation(); emitFocus(true)"
                        [ngClass]="{ 'rotated': child.isExpanded }"
                        (blur)="emitFocus(false)"
                        style="display: inline-block;" [title]="child.isCollapsed ? 'Expand Children' : 'Collapse Children'">
                      </button>
                    }
                    @if (child.node.canExpandAll && child.hasExpander) {
                      <button tabindex="-1" class="icon" aria-hidden="false"
                        (click)="child.isExpanded? child.closeAll() : child.toggleAll(); $event.stopPropagation(); emitFocus(true)"
                        (blur)="emitFocus(false)"
                        [ngClass]="{ 'mif-unfold-less': child.isCollapsed, 'mif-unfold-more': child.isExpanded }"
                      [title]="child.isCollapsed ? 'Expand All' : 'Collapse All'" style="font-size: large; padding: 0px;"></button>
                    }
                  </div>
                }
              }
            </div>
            @if (child.badge && child.badge()?.badgeClass && child.badge()?.badgeClass !== 'badge-ok') {
              <span style="margin-right: 3px;">
                <app-health-badge [badgeClass]="child.badge()?.badgeClass" [text]="child.badge()?.text" [showText]="false"></app-health-badge>
              </span>
            }
            <div  [title]="child.displayName()">
              @if (child.isHighlighted) {
                <mark>
                  {{child.displayName()}}
                </mark>
              } @else {
                {{child.displayName()}}
              }
            </div>
            @if (child.actions) {
              <div class="hidden right-action">
                @if (child.actions.length > 0) {
                  <app-action-collection-drop-down [actionCollection]="child.actions" (actionFocus)="emitFocus(true)" tabindex="-1" (actionBlur)="emitFocus(false)"
                  [treeView]="true" (changedState)="changeZIndez(i, $event)"></app-action-collection-drop-down>
                }
              </div>
            }
          </div>
        </a>
        @if (child.isVisibleByBadge) {
          <app-tree-node [node]="child" (focusEmitter)="emitFocus($event)"></app-tree-node>
        }
      </li>
    }
  </ul>
}
