<ul *ngIf="node.isExpanded"  [attr.role]="node.depth === 0 ? 'group' : 'tree'" [attr.aria-expanded]="node.isExpanded">
    <li class="more-children"
        *ngIf="node.loadingChildren"
        [ngStyle]="{ 'paddingLeft': node.paddingLeftPx }">
        <span style="padding-left: 18px;"></span>
        <span class="mif-loop2 rotate" ></span>
        <span>Loading...</span>
    </li>
    <li class="pager-control" *ngIf="node.listSettings && node.listSettings.pageCount > 1"
        [ngClass]="{'disabled': node.listSettings && node.listSettings.currentPage === 1}" >
        <div style="padding-left: 54px;">
            <span  [ngStyle]="{ 'paddingLeft': node.paddingLeftPx }"></span>
            <div (click)="node.pageUp()" class=" expander icon mif-chevron-thin-up link" [title]="'Previous ' + node.listSettings.limit + ' items'" aria-hidden="true"></div>
            <div (click)="node.pageFirst()" style="padding-left: 10px;" class="expander icon mif-vertical-align-top link" [title]="'First ' + node.listSettings.limit + ' items'" aria-hidden="true"></div>
        </div>
    </li>
    <li *ngFor="let child of node.displayedChildren; trackBy: trackById" class="node" [ngClass]="{ 'selected': child.selected }" >
        <button class="self hide-nested" (click)="child.select()" style="width: 100%; display: flex; align-items: center;" tabindex="0"  (keyup)="node._tree.onKeyDown($event)" role="treeitem" [attr.aria-level]="child.depth" 
             [attr.aria-label]="child.displayName()">
            <span  [ngStyle]="{ 'paddingLeft': child.paddingLeftPx }"></span>
            <div class="expander" *ngIf="!child.hasExpander"></div>
            <button tabindex="0" class="expander icon " aria-hidden="false" role="button"
                    (click)="child.toggle(); $event.stopPropagation()" *ngIf="child.hasExpander"
                    [ngClass]="{ 'mif-chevron-thin-right': child.isCollapsed, 'mif-chevron-thin-down': child.isExpanded }"
                    style="display: inline-block;" [title]="child.isCollapsed ? 'Expand Children' : 'Collapse Children'">
            </button>
            <button tabindex="0" class="icon" aria-hidden="false" *ngIf="child.node.canExpandAll && child.hasExpander"
            (click)="child.isExpanded? child.closeAll() : child.toggleAll(); $event.stopPropagation()"
            [ngClass]="{ 'mif-unfold-less': child.isCollapsed, 'mif-unfold-more': child.isExpanded }"
            [title]="child.isCollapsed ? 'Expand All' : 'Collapse All'" style="font-size: large; padding: 0px;"></button>

            <img *ngIf="child.badge && child.badge().badgeClass && child.badge().badgeClass !== 'badge-ok'"
                    class="tree-badge" [title]="child.badge().text" style="margin-right: 3px;"
                    [src]="assetBase + 'assets/' + child.badge().badgeClass + '.svg'" role="presentation">
            <div class="tree-label" [innerHTML]="child.displayHtml"  [title]="child.displayName()" ></div>

            <div *ngIf="child.actions" class="hidden right-action">
                <app-action-collection-drop-down *ngIf="child.actions.length > 0" [actionCollection]="child.actions" [treeView]="true"></app-action-collection-drop-down>
            </div>
        </button>
        
        <app-tree-node [node]="child" *ngIf="child.isVisibleByBadge"></app-tree-node>
    </li>
    <li class="pager-control"
        *ngIf="node.listSettings && node.listSettings.pageCount > 1"
        [ngClass]="{'disabled': node.listSettings && node.listSettings.currentPage === node.listSettings.pageCount}">
        <div style="padding-left: 54px;">
            <span  [ngStyle]="{ 'paddingLeft': node.paddingLeftPx }"></span>
            <span (click)="node.pageDown()" class="icon pagedown-icon mif-chevron-thin-down link" [title]="'Next ' + node.listSettings.limit + ' items'" aria-hidden="true"></span>
            <span style="padding-left: 10px;" (click)="node.pageLast()" class="icon pagedown-icon mif-vertical-align-bottom link" [title]="'Last ' + node.listSettings.limit +  ' items'" aria-hidden="true"></span>
        </div>
    </li>
</ul>
