$tree-node-search-highlight-background-color: #FDFBAC;
$tree-node-search-highlight-color: black !default;

button {
  background-color: transparent;
  border: 0px;
  color: white;

  &:focus {
    border: 1px solid white;
  }
}

.raised-z-index {
  z-index: 5;
}

.node {

  &:hover {
    color: var(--font-primary-color);
  }

  color: var(--font-primary-color);
  .more-children {
    margin-left: 46px;
  }

  > .self {
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    min-height: 23px;
    width: calc(100% - 10px);
    min-width: fit-content;
    margin-left: 5px;
    border-radius: var(--primary-border-radius);

    .expander {
      cursor: default;
      padding: 2px 2px;
      min-width: 20px;
      transition: 0.25s transform;

      &.rotated {
        transform: rotate(90deg);
      }
    }
  }

  &.selected > .self {
    background-color: var(--accent-darkblue);
    box-shadow: var(--heavy-box-shadow);
  }
}

.hide-nested {
  &:hover,
  &:focus-within {
    .hidden {
      visibility: visible;
    }
  }

  .hidden {
    visibility: hidden;
  }
}

.right-action {
  position: absolute;
  right: 0;
  padding: 1px;
}

.icon {
  cursor: pointer;
}

.disabled {
  cursor: auto;
  color: gray;
}

ul {
  margin: 0px;
  list-style: none;
  padding: 0px;
}
