<div class="tile-container">
    <app-essential-health-tile [healthState]="app?.healthState" *ngIf="app && app.isInitialized"
    class="long" [listItems]="essentialItems">
        <ng-template appEssentialTemplate id="typename">
            <a [routerLink]="app?.appTypeViewPath" title="app?.raw.TypeName">
                {{app?.raw.TypeName}}
            </a>
        </ng-template>

        <ng-template appEssentialTemplate id="status">
            <app-status-resolver [status]="app.raw.Status"></app-status-resolver>
          </ng-template>
  </app-essential-health-tile>
  <app-dashboard-tile [data]="servicesDashboard" *ngIf="servicesDashboard"></app-dashboard-tile>
  <app-dashboard-tile [data]="partitionsDashboard" *ngIf="partitionsDashboard"></app-dashboard-tile>
  <app-dashboard-tile [data]="replicasDashboard" *ngIf="replicasDashboard"></app-dashboard-tile>
</div>

<app-collapse-container *ngIf="eventStoreHandler" class="essen-pane detail-pane">
  <h5 collapse-header >Recent Application and Container Exit Event Reasons</h5>
  <div collapse-body>
    <div style="margin-left: 30px"><a routerLink="./events">For Additional Information visit the Events Tab</a></div>
    <div *ngIf="eventStoreHandler.eventsList.isRefreshing">
      Loading information about any recent Application Process Exit or Container Exit Events
    </div>
    <div *ngIf="eventStoreHandler.eventsList.isInitialized && highValueEvents" style="min-height: 200px">
      <app-rca-summary [events]="highValueEvents"></app-rca-summary>
    </div>
    <div *ngIf="failedToLoadEvents">
      Failed to load events.
    </div>
  </div>
</app-collapse-container>

<div data-cy="upgradeDetails" *ngIf="upgradeProgress && upgradeProgress.isInitialized" class="detail-pane essen-pane">
    <app-collapse-container [sectionName]="app.isUpgrading ? 'Upgrade In Progress' : 'Latest Upgrade State'">
        <div collapse-header>
            <h4 *ngIf="upgradeProgress.isUpgrading">Upgrade In Progress</h4>
            <h4 *ngIf="!upgradeProgress.isUpgrading">Latest Upgrade State</h4>
        </div>
        <div collapse-body>
          <app-upgrade-info [upgradeProgress]="upgradeProgress"></app-upgrade-info>
        </div>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="upgradeProgress?.upgradeDescription">
  <app-collapse-container sectionName="Upgrade Description" collapsed="true">
      <h4 collapse-header>Upgrade Parameters</h4>
      <div class="detail-pane"  collapse-body>
        <app-detail-view-part [data]="upgradeProgress.upgradeDescription"></app-detail-view-part>
      </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="app && app.health" data-cy="health">
    <app-collapse-container sectionName="Unhealthy Evaluations">
        <div collapse-header>
            <h4>Health Evaluations</h4>
        </div>
        <div collapse-body>
            <app-health-viewer  [healthyEvaluations]="app.health.healthEvents" [unhealthyEvaluations]="app.health.unhealthyEvaluations" ></app-health-viewer>
        </div>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="app && app.services">
    <app-collapse-container sectionName="Services">
        <div collapse-header>
            <h4>Services</h4>
        </div>
        <div collapse-body>
            <app-detail-list [list]="app.services.collection" [listSettings]="listSettings" data-cy="services"></app-detail-list>
        </div>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="app && app.serviceTypes">
    <app-collapse-container sectionName="Service Types">
        <div collapse-header>
            <h4>Service Types</h4>
        </div>
        <div collapse-body>
            <app-detail-list [list]="app.serviceTypes.collection" [listSettings]="serviceTypesListSettings" data-cy="serviceTypes"></app-detail-list>
        </div>
    </app-collapse-container>
</div>
