.example-wrapper {
    margin: 5px;
    position: relative;
}

.tile-list-entry {
    text-align: center;
    display: flex;
}

.left-auto {
    margin-left: auto;
}

.overflow-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.text-wrapper {
    position: relative;
    overflow: hidden;
    flex: 1;
    .middle-text {
        transition: .5s;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 200px;
        float: left;
    }

    .left-text {
        transition: .5s;
        white-space: nowrap;
        color: #c9c9c9;
        font-weight: 500;
        font-size: 14px;
    }

}

.centering-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tile-item {
    @extend .centering-row;
    height: 35px;
    position: relative;

}

.bottom {
    border-bottom: 1px solid #4c4c4c;
    display: flex; align-items: center;
    justify-content: space-between;

    &:hover {
        .middle-text {
            min-width: fit-content;
            white-space: normal;
        }

        .left-text {
            overflow: hidden;
        }
    }
}