<div class="tile-container">
    <app-essential-health-tile [healthState]="app?.healthState" *ngIf="app && app.isInitialized"
    class="long" [listItems]="essentialItems">
        <ng-template appEssentialTemplate id="typename">
            <a [routerLink]="app?.appTypeViewPath" title="app?.raw.TypeName">
                {{app?.raw.TypeName}}
            </a>
        </ng-template>

        <ng-template appEssentialTemplate id="status">
            <app-status-resolver [status]="app.raw.Status"></app-status-resolver>
          </ng-template>
  </app-essential-health-tile>
  <app-dashboard-tile [data]="servicesDashboard" *ngIf="servicesDashboard"></app-dashboard-tile>
  <app-dashboard-tile [data]="partitionsDashboard" *ngIf="partitionsDashboard"></app-dashboard-tile>
  <app-dashboard-tile [data]="replicasDashboard" *ngIf="replicasDashboard"></app-dashboard-tile>
</div>

<div data-cy="upgradeDetails" *ngIf="upgradeProgress && upgradeProgress.isInitialized" class="detail-pane essen-pane">
    <app-collapse-container [sectionName]="app.isUpgrading ? 'Upgrade In Progress' : 'Latest Upgrade State'">
        <div collapse-header>
            <h4 *ngIf="upgradeProgress.isUpgrading">Upgrade In Progress</h4>
            <h4 *ngIf="!upgradeProgress.isUpgrading">Latest Upgrade State</h4>
        </div>
        <div collapse-body>
          <app-upgrade-info [upgradeProgress]="upgradeProgress"></app-upgrade-info>
            <div class="detail-pane essen-pane" *ngIf="upgradeProgress.raw.FailureReason !== 'None'">
                <h4>Upgrade Failure</h4>
                <div class="table-responsive">
                    <table class="table detail-table">
                        <tbody>
                            <tr>
                                <th>Failure Reason</th>
                                <td><img class="badge-icon" src="images/badge-error.svg"><span> {{upgradeProgress.raw.FailureReason}}</span></td>
                            </tr>
                            <tr>
                                <th>Failure Timestamp UTC</th>
                                <td>{{upgradeProgress.failureTimestampUtc}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <h5>Upgrade Domain Progress At Failure</h5>
                <app-detail-view-part [data]="upgradeProgress.raw.UpgradeDomainProgressAtFailure"></app-detail-view-part>
            </div>
            <div class="detail-pane essen-pane" *ngIf="upgradeProgress.unhealthyEvaluations.length > 0">
                <h4>Unhealthy Evaluations (Upgrade)</h4>
                <app-detail-list [list]="upgradeProgress.unhealthyEvaluations" [listSettings]="upgradeProgressUnhealthyEvaluationsListSettings"></app-detail-list>
            </div>
        </div>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="upgradeProgress?.upgradeDescription">
  <app-collapse-container sectionName="Upgrade Description" collapsed="true">
      <h4 collapse-header>Upgrade Parameters</h4>
      <div class="detail-pane"  collapse-body>
        <app-detail-view-part [data]="upgradeProgress.upgradeDescription"></app-detail-view-part>
      </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="app && app.health" data-cy="health">
    <app-collapse-container sectionName="Unhealthy Evaluations">
        <div collapse-header>
            <h4>Unhealthy Evaluations</h4>
        </div>
        <div collapse-body>
            <app-detail-list [list]="app.health.unhealthyEvaluations" [listSettings]="unhealthyEvaluationsListSettings"></app-detail-list>
        </div>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="app && app.services">
    <app-collapse-container sectionName="Services">
        <div collapse-header>
            <h4>Services</h4>
        </div>
        <div collapse-body>
            <app-detail-list [list]="app.services.collection" [listSettings]="listSettings" data-cy="services"></app-detail-list>
        </div>
    </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="app && app.serviceTypes">
    <app-collapse-container section="Service Types">
        <div collapse-header>
            <h4>Service Types</h4>
        </div>
        <div collapse-body>
            <app-detail-list [list]="app.serviceTypes.collection" [listSettings]="serviceTypesListSettings" data-cy="serviceTypes"></app-detail-list>
        </div>
    </app-collapse-container>
</div>

<!-- <div class="detail-pane essen-pane" *ngIf="clusterManifest && clusterManifest.isNetworkInventoryManagerEnabled">
    <h4>Networks</h4>
    <app-detail-list [list]="networks" [listSettings]="networkListSettings"></app-detail-list>
</div> -->
