<div ngbDropdown style="margin-left: 10px;">
    <button class="simple-button" ngbDropdownToggle>{{type? type : 'Type'}}</button>
    <div ngbDropdownMenu>
        <div *ngFor="let type of types">
            <button [value]='type' ngbDropdownItem (click)="setType($event)">{{type}}</button>
        </div>
    </div>
</div>
<label>
    <span>Name/Id: </span>
    <input [(ngModel)]="id">
</label>
<label>
    <span>EventFilter: </span>
    <input [(ngModel)]="filterString">
</label>
<button (click)="getEvents()">Get Events</button>