<div class="flex-container wrap">
<div ngbDropdown style="margin-left: 10px;">
    <button class="simple-button" ngbDropdownToggle>{{type? type : 'Type'}}</button>
    <div ngbDropdownMenu>
        <div *ngFor="let type of types">
            <button [value]='type' ngbDropdownItem (click)="setType($event)">{{type}}</button>
        </div>
    </div>
</div>
<label *ngIf="type === 'Replica'">
    <span>Partition Id: </span>
    <input class="input-flat" [(ngModel)]="partitionId">
</label>
<label *ngIf="type !== 'Cluster'">
    <span>Name/Id: </span>
    <input class="input-flat" [(ngModel)]="id">
</label>
<label>
    <span>EventFilter: </span>
    <input class="input-flat" [(ngModel)]="filterString">
</label>
<button class="simple-button" [disabled]="!type" (click)="getEvents()">Load Events</button>
</div>