<ng-template #internal>
  <div class="dashboard-wrapper">
    <div class="dashboard"
      [ngClass]="{'has-view-path' : data.viewPath, 'dashboard-large': data.largeTile,  'dashboard-small': !data.largeTile}"
      role="group">
      <div class="dashboard-donut-chart chart-wrapper">
        <div #chart></div>
      </div>
      <div class="dashboard-datapoints">
        <div class="dashboard-datapoint" *ngFor="let dataPoint of data.dataPoints; let i = index">
          <div class="dashboard-datapoint-leftbar" [ngClass]="dataPoint.state.badgeClass"></div>
          <div class="dashboard-datapoint-title">{{dataPoint.title}}</div>
          <div class="dashboard-datapoint-number">{{dataPoint.count}}</div>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<a *ngIf="data.viewPath; else internal" [routerLink]="data.viewPath" [attr.aria-label]="data.acessibilityText">
  <ng-container *ngTemplateOutlet="internal"></ng-container>
</a>
