<!-- <app-essential-item *ngFor="let item of item; let l = last" [item]="item" [underline]="false">

</app-essential-item>

<app-essential-item [item]="startTimeEssentialItem" [underline]="false">
  <app-display-time [time]="upgradeProgress.startTimestampUtc"></app-display-time>
</app-essential-item> -->

<div>
  <div class="essential-list-item underline" *ngFor="let item of nodes; let l = last" style="height: 30px;">
    <app-status-resolver [status]="item.nodeStatus" [showText]="false" class="space-right"></app-status-resolver>
    <a [routerLink]="item.viewPath" style="margin: auto;">{{item.name}}</a>

  </div>
</div>

<!-- <app-essential-item *ngFor="let item of items; let l = last; let i = index;" [item]="item" [underline]="false">
  <app-status-resolver [status]="nodes[i].nodeStatus" [showText]="false" class="space-right"></app-status-resolver>
</app-essential-item> -->
