<div class="detail-pane essen-pane" [class]="command.safetyLevel">
<app-collapse-container [sectionName]="command.name">
    <div collapse-header class="command-name">
        <span [ngSwitch]="command.safetyLevel">
            <app-health-badge *ngSwitchCase="safetyLevelEnum.safe" 
            text="Safe Command" [showText]="false" [badgeClass]="BadgeConstants.BadgeOK"></app-health-badge>
            <app-health-badge *ngSwitchCase="safetyLevelEnum.unsafe" 
            text="Unsafe Command" [showText]="false" [badgeClass]="BadgeConstants.BadgeWarning"></app-health-badge>
            <app-health-badge *ngSwitchCase="safetyLevelEnum.dangerous"
            text="Dangerous Command" [showText]="false" [badgeClass]="BadgeConstants.BadgeError"></app-health-badge>
        </span>
        <h5>{{command.adminOnly? command.name + ' - Admin Only' : command.name}}</h5>
        <button class="reference-link" *ngIf="command.referenceUrl" (click)="goToReference($event)" [attr.aria-label]="'learn about' + command.name">
            <span class="mif-info link"></span>
        </button>
    </div>

    <div collapse-body>
        <form #inputForm="ngForm" class="input-group">
            <div *ngFor="let commandParam of command.parameters">
               <app-command-input [commandParam]="commandParam"></app-command-input>
            </div>
        </form>
    
        <div class="card"c>
            <div class="card-body">
                <app-clip-board style="float: right;" [text]="command.getScript()" [disabled]="!inputForm.valid" [tooltipText]="inputForm.valid ? '' : 'Missing required parameters!'" confirmationText="hello"></app-clip-board>
                <p class="card-text">
                    {{(command.safetyLevel === safetyLevelEnum.dangerous ? '#' : '') + command.prefix}}
                    <span *ngFor="let param of command.paramsToStringArr()"> {{param.name}} <span class="param-value"> {{param.value}} </span></span>
                </p>
            </div>
        </div>
    </div>

</app-collapse-container>
</div>