$background-col: rgb(97, 97, 97);

.card {
    background-color: $background-col;
}

.input-wrapper{
    display: flex;
    flex-wrap: wrap;

    .user-input {
        display: block;
        margin: 5px;
        flex: 1 1 20%;

    }

}