.dropdown-container {
  position: relative;

  .dropdown-content {
    position: absolute;
    right: 0px;
    z-index: 10;
    animation-name: fade-in;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    list-style: none;
    padding: 5px;
    color: var(--font-accent-color);
    border-radius: var(--primary-border-radius);
    box-shadow: var(--heavy-box-shadow);
    background-color: var(--primary-background-color);
    margin: 5px;
    }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

ul {
    margin: 0px;
    margin-bottom: 0px !important;
    padding: 0px;
    margin-inline-start: 0px;
    min-width: 60px;
}