@import "../Base/_config.scss";

$chaos-view-expander-hover-color: lighten($essen-pane-background-color, 10%);

.chaos-view {    

    div {
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .chaos-btn {
        width: 300px;
        height: 64px;  
        border: none;
        font-size: 30px;
        margin-top: 12px; 
        margin-bottom: 12px;
    }

    .start-chaos-btn {
        background-color: green; 
    }

    .stop-chaos-btn {
        background-color: #ff8c00;
    }
}