@import "../Base/_config.scss";

$chaos-view-expander-hover-color: lighten($essen-pane-background-color, 10%);

.chaos-view {    

    div {
        margin-top: 12px;
        margin-bottom: 12px;
    }
    .input-box {
        display: inline-flex;
        padding-left: 10px;
        padding-right: 10px;
        color: $font-color;
        font-size: 10pt;

        .time-to-run-form {
            margin-top: auto;
            margin-bottom: auto;
            padding-left: 5px;
            font-size: $font-size-small;
            background-color: transparent;
            width: 100%;
            
            .input-style {
                color: $font-color-invert;
            }
        }
    }
    

    //for the radio buttons (sec, mins, hours)
    .dashboard-container-small {
        //display: inline;
        display: inline-flex; //adriana changed

            .checkbox-container-default { //added
                display: inline-block;
                margin-bottom: $metric-container-margin;
    
                label { //added
                    display: block;
                }
            }
    }

    .chaos-btn {
        width: 300px;
        height: 64px;  
        border: none;
        font-size: 30px;
        margin-top: 12px; 
        margin-bottom: 12px;
        margin-left: 12px; //adriana added
    }

    .start-chaos-btn {
        background-color: green; 
    }

    .stop-chaos-btn {
        background-color: #ff8c00;
    }
}