@import "../Base/_config.scss";

.checkbox-container-default {

    label {
        font-weight: $font-weight-normal;

        input[type="checkbox"] {
            margin: 0 5px;
            vertical-align: middle;
        }
    }
}

/*  Currently the custom checkbox control (below) is not being used for accessbility reasons. */

.checkbox-container {
    $checkbox-width: 16px;
    $checkbox-height: 16px;
    $checkbox-checkmark-margin: 2px;

    > label {
        position: relative;
        padding-left: $checkbox-width + 5px;
        font-weight: $font-weight-normal;
        display: inline-block;
        margin-right: 15px;
    }

    [type="checkbox"] {
        display: none;
    }

    [type="checkbox"] + label {
        position: absolute;
        left: 0;
        cursor: pointer;
    }

    [type="checkbox"] + label:before {
        pointer-events: none;
        content: "";
        position: absolute;
        left: 0;
        top: 3px;
        width: $checkbox-width;
        height: $checkbox-height;
        border: 1px solid;
        border-radius: 0;
        opacity: 0.5;
    }

    [type="checkbox"] + label:after {
        font-family: "bowtie";
        pointer-events: none;
        content: "\E977";
        position: absolute;
        top: 6px;
        left: 3px;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
        line-height: 1;
    }

    [type="checkbox"]:not(:checked) + label:after {
        opacity: 0;
    }

    [type="checkbox"]:checked + label:after {
        opacity: 1;
    }

    [type="checkbox"]:disabled + label:before {
        box-shadow: none;
        border-color: #bbb;
        background-color: #ddd;
    }

    [type="checkbox"]:disabled:checked + label:after {
        color: #999;
    }

    [type="checkbox"]:disabled + label {
        color: #aaa;
    }

    [type="checkbox"]:focus + label:before {
        border: 1px dotted blue;
    }

    label:hover:before {
        border: 1px solid #4778d9 !important;
    }
}

.checkbox-push {
    display: inline-block;
    margin-right: 12px;
    border-width: 1px;
    border-color: transparent;
    border-style: solid;
    padding: 2px 12px;
    cursor: pointer;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: $tree-node-hover-background-color;
    }

    &.active {
        border-color: $azure-blue;
    }
}