@import "../Base/_config.scss";

body {
    overflow: auto;
    background-color: $right-panel-background-color;
}

.table {
    @extend .table-condensed;

    th, td {
        padding-left: 0 !important;
    }
}

a, a:active, a:focus, a:hover {
    text-decoration: none !important;
}

a[disabled], a.disabled {
    color: $link-disabled-color;
    cursor: default;
    pointer-events: none;
}

button[disabled], button.disabled {
    cursor: default;
    pointer-events: none;
}

a.dark-background-link {
    color: $link-dark-background-color;

    &:hover {
        color: $link-dark-background-hover-color;
    }
}

a.light-background-link {
    color: $link-light-background-color;

    &:hover {
        color: $link-light-background-hover-color;
    }
}

h1, h2, h3, h4, h5, h6 {
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rotate {
    animation-name: rotate;
    -webkit-animation-name: webkit-rotate;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-timing-function: linear;
}

.collapsing {
    @include transition(all $global-transition-time linear);
}

@keyframes rotate {
    from {
        transform: scale( 1 ) rotate( 0deg );
    }

    to {
        transform: scale( 1 ) rotate( 360deg );
    }
}

@-webkit-keyframes webkit-rotate {
    from {
        transform: scale( 1 ) rotate( 0deg );
    }

    to {
        transform: scale( 1 ) rotate( 360deg );
    }
}

.left-panel {
    position: absolute;
    top: 50px;
    left: 0;
    min-width: 150px;
    width: $left-panel-width;
    max-width: 600px;
    bottom: 0;
    overflow: hidden;
    padding: 10px 23px 20px 20px;
    background-color: $tree-background-color;
}

#splitter {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: $splitter-width;
    cursor: col-resize;
}

.right-panel {
    position: absolute;
    left: $left-panel-width;
    right: 20px;
    top: 50px;
    bottom: 20px;
    padding-left: 20px;
    overflow: hidden;
    min-width: $right-panel-min-width;
    background-color: $right-panel-background-color;
}

.badge-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge-icon {
    display: inline-block;
    position: relative;
    bottom: 1px;
    width: 16px;
    height: 16px;
}

.message-container {
    position: fixed;
    bottom: 0;
    right: 5px;

    > div {
        width: 450px;
        margin-bottom: 5px;

        strong {
            color: black;
        }
    }
}

.btn:disabled {
    cursor: not-allowed;
    opacity: .65;
}

.preserve-whitespace {
    white-space: pre !important;
}

.preserve-whitespace-wrap {
    white-space: pre-wrap !important;
}

.dropdown-menu {
    color: $font-color;
    margin: 0;
    border: none;
    background-color: $font-color-invert;
    padding: 2px 0px;
    // The modal dialog z-index is 1050, this dropdown should display above the modal dialog
    z-index: 1100;

    .checkbox-container {
        padding: 2px 15px;
    }

    > li > a {
        color: $font-color;
        padding: 2px 15px;

        &:hover, &:focus {
            background-color: $action-hover-background-color;
            color: $action-hover-color;
        }

        &[disabled] {
            color: $link-disabled-color;
        }
    }
}

.dropdown {
    color: $font-color;
    font-weight: $font-weight-semibold;

    button {
        font-weight: $font-weight-semibold;
    }
}

.dropdown-toggle {

    &:focus {
        outline: 2px dotted;
        outline: 2px solid -webkit-focus-ring-color;
    }
}

.btn {
    padding: 4px 20px 6px;
}

.search-bar {
    padding: 0;
    position: relative;
    white-space: nowrap;

    .reset-link {
        display: inline;
        margin-left: 5px;
    }

    .bowtie-icon {
        position: absolute;
        right: 4px;
        top: 3px;
        color: $input-border-color;

        &.bowtie-edit-delete {
            cursor: pointer;
        }
    }

    &.dark-bg .bowtie-icon {
        color: $input-border-color-dark-bg;
    }
}

.tail-bar {
    padding: 0;
    position: relative;
    white-space: nowrap;
    width: 50px;

    .reset-link {
        display: inline;
        margin-left: 5px;
    }

    &.dark-bg .bowtie-icon {
        color: $input-border-color-dark-bg;
    }
}

.dark-bg .input-flat, .dark-bg.input-flat {
    border-color: $input-border-color-dark-bg;

    &:-ms-input-placeholder {
        color: $input-border-color-dark-bg;
    }

    &::-webkit-input-placeholder {
        color: $input-border-color-dark-bg;
    }

    &::-moz-placeholder {
        color: $input-border-color-dark-bg;
    }
}

.input-flat {
    padding: 3px 6px;
    font-size: $font-size-small;
    border-style: solid;
    border-width: 1px;
    border-color: $input-border-color;
    background-color: transparent;
    width: 100%;

    &[readonly], &[disabled], &.disabled {
        color: $input-color-disabled;
        background-color: $input-background-color-disabled;
    }

    &.ng-invalid {
        border-color: $input-invalid-border-color;
    }

    &::-ms-clear {
        display: none;
    }

    &:-ms-input-placeholder {
        color: $input-border-color;
    }

    &::-webkit-input-placeholder {
        color: $input-border-color;
    }

    &::-moz-placeholder {
        color: $input-border-color;
    }
}

.no-padding {
    padding: 0 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

// Get rid of slider background image files dependencies
.ui-widget-content {
    background: none;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: none;
}

.tooltip {
    pointer-events: none;

    .tooltip-inner {
        pointer-events: none;
        font-size: $font-size-base;
        white-space: nowrap;
        padding: 3px 10px 5px 10px;

        b {
            color: $badge-error-color;
        }
    }
}

.summaryTab {
    width: 80%;
    height: 100px;
    background-color: gray;
    left: 10px;
}

.header {
    background-color: #262626;
    color: gray;
    text-align: center;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.headerfirstcell {
    flex-grow: 1;
    text-align: left;
    max-width: inherit - 1000px;
    //background-color: aqua;
}

.completeList {
    font-family: "Segoe UI",-apple-system,"Helvetica Neue","Lucida Grande",Trebuchet,Arial,sans-serif;
    padding-left: 0px;
    padding-right: 0px;
}

.linkasbtn {
    color: lightgray;
    text-align: left;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 0px;
}

.ulforimgstr {
    list-style-type: none;

    a:link, a:focus {
        color: lightgray;
    }

    a:visited {
        color: lightgray;
    }
}

.span {
    display: inline-block;
    width: 800px;
}

.parent {
    display: flex;
    flex-flow: column;
    max-width: auto;
}

.child {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-content: flex-start;
    align-items: flex-start;
    width: inherit;
    max-width: auto;
}

.fileIndentation {
    width: 800px;
    max-width: 800px;
}

.indentation {
    flex-grow: 1;
    max-width: inherit - 1000px;
}

.columnItem {
    text-align: center;
    font-size: 12px;
    width: 240px;
    flex-shrink: 1;
}

.ellipsis {
    width: 40px;
}

.explorer-search {
    width: 15%;
}

.loader {
    position: fixed;
    right: 45%;
    top: 45%;
    animation: spin 5s;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}