@import "../Base/_config.scss";

$modal-dt-width: 160px;
$modal-short-dt-width: 100px;

.modal {

        .input-flat:not([readonly]) {
        background-color: $dialog-input-bg-color;
    }

    [type="checkbox"] + label:before {
        background-color: $dialog-input-bg-color;
    }

    .modal-header {
        color: $font-color;
        background-color: $essen-pane-background-color;
        padding: 18px 15px 18px 15px;
        border-bottom: 1px solid $modal-content-border-color;

        .modal-title {
            font-weight: $font-weight-normal;
            font-size: 18pt;
        }
    }

    .modal-body {
        color: $font-color;
        max-height: 550px;
        overflow-y: auto;
        padding: 12px 15px 0px 15px;
        border: none !important;

        .dl-horizontal {
            margin-bottom: 0px;

            &.short {
                dt {
                    width: $modal-short-dt-width;
                }

                dd {
                    margin-left: $modal-short-dt-width + 10px;
                }
            }

            dt {
                width: $modal-dt-width;
                margin: 5px 0px;
                text-align: left;
                font-weight: $font-weight-semibold;
            }

            dd {
                margin-left: $modal-dt-width + 10px;
                padding: 5px 0px;

                dl {
                    margin-top: 5px;
                }

                .btn {
                    margin-top: -1px;
                    padding: 2px 12px 3px;
                    font-weight: $font-weight-normal;

                    &[uib-btn-radio] {
                        color: darken(white, 25%);

                        &.active, &:hover {
                            color: white;
                        }
                    }
                }

                .btn.active {
                    padding-bottom: 1px;
                    border-bottom-width: 3px;
                }
                
                .table-responsive {
                    margin-top: -4px;
                }

                .table {
                    margin-bottom: 0;

                    thead > tr > th {
                        font-weight: $font-weight-semibold;
                        border-bottom: 1px solid $tree-searchbox-border-color;
                    }
                }
            }
        }
    }

    .modal-footer {
        padding: 20px 15px 15px 15px;
        border: none !important;
        background-color: $background-color;
        
        #reset-dialog-link {
            float: left;
            margin-top: 5px;
        }
    }
}
