@import "../Base/_config.scss";

.image-store-view {
    display: flex;
    flex-direction: column;
    
    .image-store-breadcrumb {
        margin-bottom: 12px;
    }

    .store-content-pane {
        display: flex;
        flex-direction: column;        
    }
    
    .bowtie-spinner {
        font-size: 20pt;
    }
    
    .list-item-name {
        color: lightgray;
        text-align: left;
        font-size: 12px;
        padding-top: 4px;
        padding-bottom: 4px;
        padding-left: 0px;
    }
    
    .image-store-item-name {        
        .list-item-name {
            display: inline-block;
            width: calc(100% - 60px);
        }
    }

    .list-item {
        list-style-type: none;

        a:link, a:focus {
            color: lightgray;
        }

        a:visited {
            color: lightgray;
        }
    }

    .header-first-item {    
        min-width: 220px;
        font-weight: normal;
    }

    .column-item {                    
        min-width: 120px;
        font-weight: normal;
    }

    .folder-name-text, .file-name-text {
        padding-left: 4px;
        display: inline-block;
    }

    .folder-name-text {
        width: calc(100% - 40px);
    }

    .file-name-text {    
        width: calc(100% - 20px);
    }

    .ellipsis, .bowtie-security-lock {
        width: 40px;
    }

    .explorer-search {
        width: 25%;
        margin-top: 12px;
        margin-bottom: 6px;
    }

    .loader {
        position: fixed;
        right: 45%;
        top: 45%;
        animation: spin 5s;
    }

    .dropdown-menu-right {
        list-style: none;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}