

.add-buttons{

    width: 100%;
    bottom: 0;
    position: absolute;

    button{
        background-color: $azure-blue;
        color: $btn-default-color;
        width: inherit ;
        border: none;
        margin-top: 2.5%;
     
       
    }
  
}

#iframes{
    iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
   
}




  

