@import "../Base/_config.scss";

.vis-timeline {
  font-size: $font-size-default;
  background-color: $essen-pane-background-color;
}

.vis-item {
  background-color: $candybar-background-color;
  font-size: $font-size-small;
  color: $dashboard-color;
}
.vis-item,
.vis-item.vis-line {
  border-width: 0px;
  color: white;
  font-family: monospace;
}
.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}
.vis-item.vis-selected {
  border-color: green;
  background-color: lightgreen;
}
.vis-time-axis .vis-text {
  color: $dashboard-color;
  padding-top: 10px;
  padding-left: 10px;
}
.vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}
.vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: $dashboard-color;
}
.vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: $dashboard-color;
}

.vis-labelset .vis-label {
  font-size: $font-size-medium;
  color: $dashboard-color;
}

.vis-item.red {
  background-color: red;
  border-color: darkred;
}

.vis-item.green {
  background-color: $dashboard-ok-color;
  color: black;
}

.vis-item.orange {
  background-color: $dashboard-warning-color;
  color: black;
}

.vis-item.blue {
  background-color: #0075c9;
}

.vis-item.white {
  background-color: #ffffff;
  color: black;
}

.vis-item.red-point {
  border-color: red;
  border-width: 5px;
}

.vis-item.orange-point {
  border-color: $dashboard-warning-color;
  border-width: 5px;
}

.vis-item.white-point {
  border-color: #ffffff;
  border-width: 5px;
}

.vis-item.green-point {
  border-color: $dashboard-ok-color;
  border-width: 5px;
}

.tooltip-test{
  padding: 5px;
  border: solid;
  border-width: 2px;
  border-color: #0057c9;
  background-color: $essen-pane-background-color;
  font-size: $font-size-small;
  color: $dashboard-color;
  white-space: pre-wrap;
  box-shadow: none;
}

.vis-tooltip {
  padding: 0px !important;
  max-width: 50%;
}

.vis-timeline {
  overflow:visible !important;
}

.timeline-button {
  background-color: #262626;
  border: 1px solid #0075c9;
  margin-bottom: 10px;
  margin-top: 10px;
}

.vis-label{
  background-color: #0075c9;
  color: #dad7d7;
}

.noUi-tooltip {
  display: none;
}
.noUi-active .noUi-tooltip {
  display: block;
}

.noUi-target{
  background-color: #bfbfbf;
  box-shadow: none;
  border: 0px;
}

.noUi-connect{
  background-color: #0075c9;
}

.noUi-horizontal .noUi-handle-upper .noUi-tooltip, .noUi-horizontal .noUi-handle-lower .noUi-tooltip { 
  bottom:-32px 
}