@import "../Base/_config.scss";

$tree-node-line-height: 23px;

.tree-header {
    white-space: nowrap;
    color: $tree-color;

    .toolbar {
        margin-top: 16px;
        padding: 0;
        position: relative;
    }

    .tree-search-bar {
        margin-top: 16px;
        padding: 0;
        width: 100%;
    }
}

.tree-body {
    overflow-x: auto;
    overflow-y: auto;
    position: absolute;
    bottom: $page-padding-bottom;
    top: 108px;
    left: 0;
    right: 0;
    color: $tree-color;

    .informative {
        margin-left: 20px;
    }

    #treeview-loading-glyph {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
    }
}

.uib-dropdown-open {
    .actions-menu .actions-expander[aria-expanded="true"]  {
        display: inline-block !important;
        color: $tree-color;
    }
}

.tree {
    margin: 0;
    padding: 0;

    .node {
        color: $tree-color;

        .more-children {
            margin-left: 46px;

            .icon {
                margin-right: 2px;
            }
        }

        > .self {
            padding-right: 24px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: inline-block;
            cursor: pointer;
            width: 100%;
            position: relative;
            height: $tree-node-line-height;

            &:hover {
                background-color: $tree-node-hover-background-color;

                .actions-menu .actions-expander {
                    display: inline-block;
                }
            }

            .expander {
                position: absolute;
                cursor: default;
                padding: 3px 0px;
            }

            .actions-menu {
                position: absolute;
                padding: 3px 6px;
                right: 0px;
                cursor: pointer;

                .actions-expander {
                    display: none;
                }
            }

            .tree-badge {
                font-size: $font-size-small;
                position: relative;
                width: 14px;
                height: 14px;
            }

            .tree-label {
                vertical-align: middle;

                .search-match {
                    color: $tree-node-search-highlight-color;
                    background-color: $tree-node-search-highlight-background-color;
                }
            }
        }

        &.selected > .self {
            background-color: $tree-node-selected-background-color;

            .actions-expander {
                display: inline-block;
                color: $tree-color;
            }
        }
    }
}

.tree-view {
    &:focus {
        outline: 0;

        .tree .node.selected > .self {
            background-color: $tree-node-selected-background-color;
        }
    }
}

li.pager-control {
    height: 36px;

    &.disabled {
        pointer-events: none;
        color: $input-border-color;
    }

    span {
        width: 90%;
        text-align: center;
        cursor: pointer;
        position: relative;
        display: block;

        &:hover {
            background-color: $tree-node-hover-background-color;
        }
    }
}