<div class="detail-pane essen-pane">
    <div style="display: flex; width: 100%;">
        
        <div *ngIf="clusterUpgradeProgress.upgradeDomains.length > 0">
            <h5 style="margin-bottom: 0px;
            text-align: center;">Upgrade Domain Progress</h5>
            <app-upgrade-progress [upgradeDomains]="clusterUpgradeProgress.upgradeDomains" [showChart]="true"></app-upgrade-progress>
        </div>
        
        <div class="spacer"></div>
        <div style="flex: 1;">
            <div>
                <h5 style="margin-bottom: 0px;
                text-align: center;">Overview</h5>
                <app-essential-item *ngFor="let item of essentialItems; let l = last" [item]="item" [underline]="l"></app-essential-item>
            </div>

            <div data-cy="cud">
                <h5 style="margin-bottom: 0px;
                text-align: center; margin-top: 15px;">Current Domain</h5>
                <app-essential-item *ngFor="let item of essentialItems2; let l = last" [item]="item" [underline]="l"></app-essential-item>
            </div>
        </div>

    </div>
</div>

<div *ngIf="clusterUpgradeProgress.isUpgrading" data-cy="currentud">
    <h5 style="text-align: center;">Nodes status</h5>
    <app-upgrade-domain-progress [upgradeDomain]="clusterUpgradeProgress.raw.CurrentUpgradeDomainProgress">
    </app-upgrade-domain-progress>
</div>