.duration {
    margin-top: 5px;
}

h5 {
  margin-bottom: 0px;
  text-align: center;
}

.domain-container {
  flex: 1;
  max-width: 350px;
  display:flex;
  flex-direction: column;

}

.overview-container {
  flex: 1;
  min-width: 400px;
  max-width: 600px;
}
