<div *ngIf="actions" style="height: 40px;">
    <app-action-collection-drop-down [actionCollection]="actions" style="float: right;"
                                     displayText="Backup Actions"></app-action-collection-drop-down>
</div>

<div *ngIf="partition">
    <div class="detail-pane essen-pane"  *ngIf="partition.partitionBackupInfo.latestPartitionBackup.collection.length > 0">
        <h4>Latest Backup</h4>
        <app-detail-view-part [data]="partition.partitionBackupInfo.latestPartitionBackup.collection[0]"></app-detail-view-part>
        <div class="text-right">
            <button (click)="restore()" class="solid-button">Restore</button>
        </div>
    </div>
    
    <div *ngIf="partition && partition.partitionBackupInfo">
        <div class="detail-pane essen-pane">
            <h4>Partition Backup Configuration</h4>
            <app-detail-view-part [data]="partition.partitionBackupInfo.partitionBackupConfigurationInfo"></app-detail-view-part>
        </div>
        
        <div class="detail-pane essen-pane" *ngIf="partition.partitionBackupInfo.partitionBackupProgress.isInitialized && partition.partitionBackupInfo.partitionBackupProgress.raw.TimeStampUtc">
            <h4>Partition Backup Progress</h4>
            <app-detail-view-part [data]="partition.partitionBackupInfo.partitionBackupProgress"></app-detail-view-part>
        </div>
        
        <div class="detail-pane essen-pane" *ngIf="partition.partitionBackupInfo.partitionRestoreProgress.isInitialized && partition.partitionBackupInfo.partitionRestoreProgress.raw.TimeStampUtc">
            <h4>Partition Restore Progress</h4>
            <app-detail-view-part [data]="partition.partitionBackupInfo.partitionRestoreProgress"></app-detail-view-part>
        </div>
    </div>
    
    <div *ngIf="partition" class="detail-pane essen-pane">
        <app-detail-list [list]="backupList" [listSettings]="partitionBackupListSettings" >
            <app-dual-date-picker [minDate]="minDate" [maxDate]="maxDate"
            [currentStartDate]="startDate" [currentEndDate]="endDate" (dateChanged)="setNewDates($event)">
            <div startTime>
                <input type="time" [(ngModel)]="startTime" placeholder="HH:mm:ss" class="input-flat clear-disabled" ng-model-options="{ timezone: 'UTC' }" (change)="startTimeChange()" />
            </div>
            <div toTime>
                <input type="time" [(ngModel)]="endTime" placeholder="HH:mm:ss" class="input-flat clear-disabled" ng-model-options="{ timezone: 'UTC' }" (change)="endTimeChange()" />
            </div>
        </app-dual-date-picker>
        </app-detail-list>
    </div>
    
</div>
