<div *ngIf="actions">
    <app-action-collection-drop-down [actionCollection]="actions" style="float: right;"></app-action-collection-drop-down>
</div>
<div *ngIf="partition && partition.partitionBackupInfo">
    <div class="detail-pane">
        <h4>Partition Backup Configuration</h4>
        <app-detail-view-part [data]="partition.partitionBackupInfo.partitionBackupConfigurationInfo"></app-detail-view-part>
    </div>
    
    <div class="detail-pane" *ngIf="partition.partitionBackupInfo.partitionBackupProgress.isInitialized && partition.partitionBackupInfo.partitionBackupProgress.raw.TimeStampUtc">
        <h4>Partition Backup Progress</h4>
        <app-detail-view-part [data]="partition.partitionBackupInfo.partitionBackupProgress"></app-detail-view-part>
    </div>
    
    <div class="detail-pane" *ngIf="partition.partitionBackupInfo.partitionRestoreProgress.isInitialized && partition.partitionBackupInfo.partitionRestoreProgress.raw.TimeStampUtc">
        <h4>Partition Restore Progress</h4>
        <app-detail-view-part [data]="partition.partitionBackupInfo.partitionRestoreProgress"></app-detail-view-part>
    </div>
</div>

<div *ngIf="partition && partition.replicas.isInitialized">
    <detail-list [list]="partition.partitionBackupInfo.partitionBackupList.collection" [listSettings]="partitionBackupListSettings" ></detail-list>
</div>
