.input-container {
    display: inline-block;
    width: 100%;
    max-width: 320px;
}

.input-flat {
  width: 100%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d6d4d4;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d6d4d4;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #d6d4d4;
  }
