.input-container {
    display: inline-block;
    width: 100%;
    max-width: 320px;
}

.input-flat {
    padding: 3px 6px;
    font-size: 8pt;
    border-style: solid;
    border-width: 1px;
    border-color: #727272;
    background-color: transparent;
    width: 100%;
    color: #d6d4d4;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d6d4d4;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #d6d4d4;
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #d6d4d4;
  }
