<div class="detail-pane essen-pane">
  @if (actions) {
    <div>
      <app-action-collection-drop-down [actionCollection]="actions" style="float: right;"
      displayText="Backup Actions"></app-action-collection-drop-down>
    </div>
  }
  @if (service) {
    <div class="detail-pane">
      <h2>Service Backup Configuration</h2>
      <app-detail-list [list]="service.serviceBackupConfigurationInfoCollection" [listSettings]="serviceBackupConfigurationInfoListSettings"></app-detail-list>
    </div>
  }
</div>
