.base-header {
  border-radius: var(--primary-border-radius);
  cursor: pointer;
  &:hover,
  &:focus-within {
    filter: brightness(100%);
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.header-wrapper {
  width: calc(100% - 25px);
  display: inline-block;
}

.status-icon {
  width: 25px;
}

button {
  padding: 0px;
  background-color: transparent;
  border: 0px;
  color: white;
}
