.expandable-link {
  cursor: pointer;
  text-decoration: underline;
  color: var(--accent-lightblue);
}

.non-expandable-link {
  color: var(--font-primary-color);
  cursor: default;
}

.info-icon {
  color: var(--badge-warning);
}

