<form class="action-modal">
    <div class="modal-header">
        <h1 class="modal-title">{{data.modalTitle}}</h1>
    </div>
    <div class="modal-body">
        <label>{{data.modalMessage}}
            <input class="input-flat"  data-cy="input-dialog" type="text" [placeholder]="placeHolderText" name="userInput" style="width: 100%;"
            *ngIf="data.confirmationKeyword" [(ngModel)]="userInput">
        </label>
    </div>
    <div class="modal-footer">
        <button type="button" class="solid-button blue" [disabled]="data.confirmationKeyword && (data.confirmationKeyword !== userInput.trim())" (click)="ok()" data-cy="submit">{{data.title}}</button>
        <button type="button" class="flat-button" (click)="cancel()">Cancel</button>
    </div>
</form>
