<div class="flex-center" style="font-size: 15px; padding: 5px; justify-content: space-between;">
  <span>
    Node : {{node.NodeName}}
  </span>
  <span>
    Safety Check(s) : {{node.PendingSafetyChecks.length}}
  </span>
</div>

<div class="flex-center" style="margin-left: 10px; margin-bottom: 5px;">
  Phase :
  <ng-container  *ngFor="let phase of progress; let l = last;" >
    <div class="progress-item" [ngClass]="cssClass[phase.state]">
      <div class="text-description" >{{phase.name}}
      </div>
      <span [ngClass]="iconMap[phase.state]"></span>
    </div>
    <div class="mif-arrow-right" *ngIf="!l"></div>
  </ng-container>
</div>
