<div style="font-size: 15px; padding: 5px; display: flex; align-items: top">Node : {{node.NodeName}} 
    Safety Check(s) : {{node.PendingSafetyChecks.length}}

        <div style="display: flex; margin-left: 10px">
            Phase :
            <div class="progress-item done">
                <!-- <div>PreUpgrade SafetyCheck</div> -->
                <!-- <div class="progress-indicator">
                </div> -->
                <span class="mif-checkmark"></span>
            </div>
            <div class="progress-item inProgress">
                <div>Upgrading</div>
                <!-- <div class="progress-indicator">
                    <span></span>
                </div> -->
                <div class="spacer"></div>
                <span class="mif-spinner4 rotate"></span>
            </div>
            <div class="progress-item pending">
                <!-- <div>PostUpgrade SafetyCheck</div> -->
                <div class="progress-indicator">
                    <span></span>
                </div>
            </div>
        </div>
</div>

