<form>
    <div class="modal-header">
        <h4 class="modal-title">{{::action.confirmationDialogTitle}}</h4>
    </div>
    <div class="modal-body">
        <p>{{::action.confirmationDialogMessage}}</p>
        <input class="input-flat" type="text" placeholder="Type in '{{::action.confirmationKeyword}}' to continue"
               autocomplete="off" ng-show="::action.confirmationKeyword" ng-model="usertypedkeyword" aria-label="Type in '{{::action.confirmationKeyword}} to confirm">
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="action.confirmationKeyword !== usertypedkeyword" ng-click="ok()">{{::action.title}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="usertypedkeyword = null; cancel()">Cancel</button>
    </div>
</form>