<sfx-detail-view-navbar ctrl="appTypeCtrl" actions="appTypeGroup.actions" type="Application Type" name="{{appTypeGroup.name}}"></sfx-detail-view-navbar>

<section class="main-view">
    <div sfx-include src="'tab_' + appTypeCtrl.activeTabId" ng-if="appTypeCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane">
            <sfx-detail-list list="appTypeGroup.appTypes" list-settings="appTypesListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>Applications</h4>
            <sfx-detail-list list="appTypeGroup.apps" list-settings="appsListSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <h4>
            Package Versions
        </h4>
        <div class="detail-pane">
            <div class="table-responsive">
                <table class="table detail-table">
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Packages</th>
                    </tr>
                    <tr ng-repeat="appType in appTypeGroup.appTypes track by appType.uniqueId">
                        <td>
                            {{appType.raw.Name}}
                        </td>
                        <td>
                            {{appType.raw.Version}}
                        </td>
                        <td>
                            <div class="table-responsive">
                                <table class="table detail-param-table">
                                    <tr>
                                        <th>Package Name</th>
                                        <th>Version</th>
                                        <th>Packages</th>
                                    </tr>
                                    <tr ng-repeat="service in appType.serviceTypes.collection track by service.uniqueId">
                                        <td>
                                            {{service.raw.ServiceManifestName}}
                                        </td>
                                        <td>
                                            {{service.raw.ServiceManifestVersion}}
                                        </td>
                                        <td>
                                            <div class="table-responsive">
                                                <table class="table detail-param-table">
                                                    <tr>
                                                        <th>Type</th>
                                                        <th>Name</th>
                                                        <th>Version</th>
                                                    </tr>
                                                    <tr ng-repeat="package in service.manifest.packages track by package.uniqueId">
                                                        <td>
                                                            {{package.Type}}
                                                        </td>
                                                        <td>
                                                            {{package.Name}}
                                                        </td>
                                                        <td>
                                                            {{package.Version}}
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </script>

</section>
