<div class="chaos-view">
    <h4>Service Fabric Chaos</h4>
    <div>
        <h5>
            What's this?
        </h5>
        <p>
            Large-scale distributed systems like cloud infrastructures are inherently unreliable. Azure Service Fabric enables you to
            write reliable distributed services on top of an unreliable infrastructure. To write verifiably robust distributed
            services on top of an unreliable infrastructure, you need to be able to test the stability of your services while
            the underlying unreliable infrastructure is going through complicated state transitions due to faults. This is
            where Chaos comes in: Service Fabric Chaos provides a very simple way to induce targeted, simulated, realistic
            faults that can help identify bugs that show up only in hard-to-predict, long, and complicated sequences of state
            transitions.
        </p>
    </div>
    <div>
        <p>Click Stop Chaos to immediately end your Chaos experiment.</p>
    </div>
    <div class="dashboard-container-small">
        <div class="config-container">
            <div class="time-config-container">
                <div class="config-title">
                    <h4>Time Settings:</h4>
                </div>

                <div class="time-to-run-span">
                    <div class="days-textbox">Time to run:
                        <input class="input-flat" id="time-run-d" type="number" value="0" min="0" max="100"> d</div>
                    <div class="hours-textbox">
                        <input class="input-flat" id="time-run-h" type="number" value="0" min="0" max="24"> h</div>
                    <div class="minutes-textbox">
                        <input class="input-flat" id="time-run-m" type="number" value="1" min="0" max="60"> m</div>
                </div>

                <div class="max-stabilization-timeout-span">
                    <div class="hours-textbox">Max stabilization timeout:
                        <input class="input-flat" id="max-stabilization-h" type="number" value="0" min="0" max="24"> h</div>
                    <div class="minutes-textbox">
                        <input class="input-flat" id="max-stabilization-m" type="number" value="1" min="0" max="60"> m</div>
                </div>

                <div class="time-btwn-iterations-span">
                    <div class="hours-textbox">Time between iterations:
                        <input class="input-flat" id="time-iterations-h" type="number" value="0" min="0" max="24"> h</div>
                    <div class="minutes-textbox">
                        <input class="input-flat" id="time-iterations-m" type="number" value="1" min="0" max="60"> m</div>
                </div>
            </div>

            <div class="fault-config-container">
                <div class="config-title">
                    <h4>Fault Settings:</h4>
                </div>

                <div class="fault-config-components-container">
                    <div class="fault-options-container">
                        <div class="concurrent-faults-form">
                            <div class="input-title">Max Concurrent Faults:
                                <input class="input-flat" id="concurrent-faults" type="number" aria-label="Max concurrent faults"
                                    value="1" min="0" max="1000" />
                            </div>
                        </div>

                        <div class="target-filter">
                            <div>Target Filter:
                                <i>Select Node Types to enable node specific faults</i>.</div>

                            <div uib-dropdown dropdown-append-to-body>
                                <button type="button" class="btn btn-primary dropdown-toggle" uib-dropdown-toggle aria-label="Select Node Types to include">
                                    Node Types
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu-container" id="dropdown-menu" role="menu"uib-dropdown-menu>
                                    <li class="option" ng-repeat="nodeType in chaos.runScope.nodeTypes" style="padding-left: 10px;">
                                        <span>
                                            <input type="checkbox" value="{{nodeType}}" id="{{nodeType}}" checked/>
                                            <label for="{{nodeType}}" style="font-weight: normal;">{{nodeType}}</label>
                                        </span>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="button-container">
            <button ng-click="ctrl.handleClick($event)" class="chaos-btn start-chaos-btn">START CHAOS</button>
        </div>
    </div>
    <div>
        <p>
            <i>Learn more about Service Fabric controlled Chaos:
                <a target="_blank" href="https://docs.microsoft.com/azure/service-fabric/service-fabric-controlled-chaos">https://docs.microsoft.com/azure/service-fabric/service-fabric-controlled-chaos</a>
            </i>
        </p>
    </div>
</div>