<sfx-detail-view-navbar ctrl="clusterCtrl" type="Cluster" name="{{SFXClusterName}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + clusterCtrl.activeTabId" ng-if="clusterCtrl.activeTabId" role="tabpanel" aria-label="{{clusterCtrl.activeTabId}}" class="flex-child"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">      
                <table class="essen-table" role="presentation">
                    <tr>
                        <th>Code Version</th>
                        <th>Upgrade State</th>
                    </tr>
                    <tr>
                        <td>{{clusterUpgradeProgress.raw.CodeVersion}}</td>
                        <td>{{clusterUpgradeProgress.raw.UpgradeState}}</td>
                    </tr>
                    <tr>
                        <th>Cluster Health State</th>
                        <th>Upgrade Domains</th>
                    </tr>
                    <tr>
                        <td><sfx-badge badge-class="clusterHealth.healthState.badgeClass" text="clusterHealth.healthState.text"></sfx-badge></td>
                        <td>{{nodes.upgradeDomains.length}}</td>
                    </tr>
                    <tr>
                        <th>System Application Health State</th>
                        <th>Fault Domains</th>
                    </tr>
                    <tr>
                        <td><sfx-badge badge-class="systemApp.healthState.badgeClass" text="systemApp.healthState.text"></sfx-badge></td>
                        <td>{{nodes.faultDomains.length}}</td>
                    </tr>
                    <tr>
                        <th>Healthy Seed Nodes</th>                        
                    </tr>
                    <tr>
                        <td>{{nodes.healthySeedNodes}}</td>                        
                    </tr>                    
                </table>
            </div>
        </div>

        <div class="detail-pane alert alert-dismissible alert-danger" role="alert" ng-if="$root.ShowPreviewWarning">
            <strong>Warning:</strong>
            <span>This cluster is running an unsupported preview version of Service Fabric. Upgrades and downgrades to other versions of Service Fabric is not supported. See 
                <a class="light-background-link" target="_blank" href="https://aka.ms/servicefabricpreview">https://aka.ms/servicefabricpreview</a> for more details.</span>
        </div>

        <div class="detail-pane" ng-if="appsDashboard && nodesDashboard">
            <h4>
                Dashboard
            </h4>
            <div class="dashboard-container container-fluid">
                <sfx-dashboard data="nodesDashboard"></sfx-dashboard>
                <sfx-dashboard data="appsDashboard"></sfx-dashboard>
                <div class="dashboard-container-small">
                    <sfx-dashboard data="servicesDashboard"></sfx-dashboard>
                    <sfx-dashboard data="partitionsDashboard"></sfx-dashboard>
                </div>
                <div class="dashboard-container-small">
                    <sfx-dashboard data="replicasDashboard"></sfx-dashboard>
                    <div class="dashboard-wrapper">
                        <a href="{{appsUpgradeTabViewPath}}">
                            <div class="dashboard">
                                <div class="dashboard-tile">
                                    <div class="dashboard-tile-inner">
                                        <div class="dashboard-tile-leftbar {{upgradeAppsCount > 0 ? 'badge-upgrade-active' : 'badge-upgrade-inactive'}}"></div>
                                        <div class="dashboard-tile-title" ng-if="upgradeAppsCount > 1">APPLICATION UPGRADES IN PROGRESS</div>
                                        <div class="dashboard-tile-title" ng-if="upgradeAppsCount <= 1">APPLICATION UPGRADE IN PROGRESS</div>
                                        <div class="dashboard-tile-number">{{upgradeAppsCount}}</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations</h4>
            <sfx-detail-list list="clusterHealth.unhealthyEvaluations" list-settings="unhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <h4>
                Health Events
            </h4>
            <sfx-detail-list list="clusterHealth.healthEvents" list-settings="healthEventsListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>Load Information</h4>
            <sfx-detail-view-part data="clusterLoadInformation"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>Upgrade</h4>
            <sfx-detail-view-part data="clusterUpgradeProgress"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations (Upgrade)</h4>
            <sfx-detail-list list="clusterUpgradeProgress.unhealthyEvaluations" list-settings="upgradeProgressUnhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_clustermap">
        <div class="detail-pane">
            <div class="table-responsive">
                <table class="table map-table" role="presentation">
                    <tbody>
                        <tr>
                            <td class="legend" colspan="2" rowspan="2"></td>
                            <td colspan="{{nodes.faultDomains.length}}" class="legend">Fault Domain</td>
                        </tr>
                        <tr>
                            <td ng-repeat="faultDomain in nodes.faultDomains" class="header">{{faultDomain}}</td>
                        </tr>
                        <tr ng-repeat="upgradeDomain in nodes.upgradeDomains">
                            <td class="legend" rowspan="{{nodes.upgradeDomains.length}}" ng-if="$first">Upgrade<br />Domain</td>
                            <td class="header">{{upgradeDomain}}</td>
                            <td ng-repeat="faultDomain in nodes.faultDomains">
                                <div class="candybar-container">
                                    <div class="candybar-wrapper compact" ng-repeat="node in clusterCtrl.getNodesForDomains(upgradeDomain, faultDomain) track by node.uniqueId">
                                        <sfx-candybar-compact item="node" view-path="{{node.viewPath}}"></sfx-candybar-compact>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="tab_metrics">
        <div class="detail-pane">
            <div sfx-metrics-view metrics="metricsViewModel"></div>
        </div>
    </script>

    <script type="text/ng-template" id="tab_manifest">
        <div class="detail-pane">
            <h4>
                <span id="clusterManifestName">{{clusterManifest.clusterManifestName}}</span>
            </h4>
            <pre role="presentation" tabindex="0"><code aria-label="manifest of {{clusterManifest.clusterManifestName}}">{{clusterManifest.raw.Manifest}}</code></pre>
        </div>
    </script>

    <script type="text/ng-template" id="tab_events">
        <sfx-events-view events-list="clusterEvents" class="flex-child"></sfx-events-view>
    </script>
</div>