<form name="createIsolatedNetworkForm">
    <div class="modal-header">
        <h4 class="modal-title">Create Isolated Network</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Network name</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.networkName" required>
            </dd>
            <dt>Network Address Prefix</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.networkAddressPrefix" required>
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal"  ng-click="ok()">{{::action.title}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    </div>
</form>