<div class="dashboard-wrapper">
    <div class="dashboard {{data.largeTile ? 'dashboard-large' : 'dashboard-small'}}" ng-class="{'has-view-path' : data.viewPath}" ng-click="data.onClick()">
        <svg class="dashboard-donut-chart"></svg>
        <div class="dashboard-datapoints"
             ng-repeat="dataPoint in data.dataPoints"
             ng-if="$index % 4 === 0">
            <div class="dashboard-datapoint"
                 ng-repeat="i in [$index, $index + 1, $index + 2, $index + 3] track by $index"
                 ng-if="i < data.dataPoints.length">
                <div class="dashboard-datapoint-leftbar {{data.dataPoints[i].state.badgeClass}}"></div>
                <div class="dashboard-datapoint-title">{{data.dataPoints[i].title | uppercase}}</div>
                <div class="dashboard-datapoint-number">{{data.dataPoints[i].count}}</div>
            </div>
        </div>
    </div>
</div>
