<div class="col-md-3">
    <p class="input-group">
        <input type="text" class="input-flat clear-disabled" uib-datepicker-popup="{{format}}"
            ng-model="ngModel" is-open="opened"
            min-date="minDate" max-date="maxDate" init-date="initDate"
            datepicker-options="{ formatYear: 'yy', startingDay: 1, showWeeks: false, initDate: initDate, minDate: minDate, maxDate: maxDate }"
            placeholder="{{placeHolderText}}" show-button-bar="false"
            ng-required ng-readonly="readOnly" ng-click="ctrl.popupClick($event)"
            ng-keydown="$event.keyCode === 13 && ctrl.popupFocus($event)" aria-haspopup="true" />
        <span class="input-group-btn">
            <a role="button" class="calendar-link" href="" ng-click="ctrl.popupClick($event)"
                aria-haspopup="true" aria-label="Click to open the calendar">
                <i class="bowtie-icon bowtie-calendar" style="margin-bottom:2px;"></i>
            </a>
        </span>
    </p>
</div>