<sfx-detail-view-navbar ctrl="deployedAppCtrl" type="Deployed Application" name="{{deployedApp.name}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + deployedAppCtrl.activeTabId" ng-if="deployedAppCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table">
                    <tr>
                        <th>Name</th>
                        <th>Application Type</th>
                    </tr>
                    <tr>
                        <td>{{deployedApp.name}}</td>
                        <td><a href="{{deployedApp.appTypeViewPath}}">{{deployedApp.raw.TypeName}}</a></td>
                    </tr>
                    <tr>
                        <th>Health State</th>
                        <th>Disk Location</th>
                    </tr>
                    <tr>
                        <td><sfx-badge badge-class="deployedApp.health.healthState.badgeClass" text="deployedApp.health.healthState.text"></sfx-badge></td>
                        <td>{{deployedApp.diskLocation}}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td>{{deployedApp.raw.Status}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations</h4>
            <sfx-detail-list list="deployedApp.health.unhealthyEvaluations" list-settings="unhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>Deployed Service Packages</h4>
            <sfx-detail-list list="deployedServicePackages" list-settings="listSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <sfx-detail-view-part data="deployedApp"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>
                Health Events
            </h4>
            <sfx-detail-list list="deployedApp.health.healthEvents" list-settings="healthEventsListSettings"></sfx-detail-list>
        </div>
    </script>
</div>
