<sfx-detail-view-navbar ctrl="codePackageCtrl" actions="deployedCodePackage.actions" type="Deployed Code Package" name="{{deployedCodePackage.name}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + codePackageCtrl.activeTabId" ng-if="codePackageCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table" role="presentation">
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                    </tr>
                    <tr>
                        <td>{{deployedCodePackage.name}}</td>
                        <td>{{deployedCodePackage.raw.Version}}</td>
                    </tr>

                    <tr>
                        <th>Host Type</th>
                        <th>Host Isolation Mode</th>
                    </tr>
                    <tr>
                        <td>{{deployedCodePackage.raw.HostType}}</td>
                        <td>{{deployedCodePackage.raw.HostIsolationMode}}</td>
                    </tr>

                    <tr>
                        <th>Status</th>
                        <th ng-if="deployedCodePackage.servicePackageActivationId">Service Package Activation Id</th>
                    </tr>
                    <tr>
                        <td>{{deployedCodePackage.raw.Status}}</td>
                        <td ng-if="deployedCodePackage.servicePackageActivationId">{{deployedCodePackage.servicePackageActivationId}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <sfx-detail-view-part data="deployedCodePackage"></sfx-detail-view-part>
        </div>
    </script>

    <script type="text/ng-template" id="tab_containerLogs">
        <div class="detail-pane">
            <div class="tail-bar">
                <span>Tail: </span>
                <input type="text" class="input-flat"
                       autocomplete="off"
                       placeholder="{{deployedCodePackage.containerLogsTail}}"
                       ng-model="deployedCodePackage.containerLogsTail"
                       ng-model-options="{ updateOn: 'blur' }" 
                       aria-label="Logs tail" />
                <a class="reset-link" href="" ng-click="codePackageCtrl.refresh()">Get Logs</a>
            </div>
            <pre role="presentation" tabindex="0"><code aria-label="container logs">{{containerLogs}}</code></pre>
         </div>
    </script>
</div>