<sfx-detail-view-navbar ctrl="deployedServicePackageCtrl" type="Deployed Service Package" name="{{servicePackage.name}}"></sfx-detail-view-navbar>

<section class="main-view">
    <div sfx-include src="'tab_' + deployedServicePackageCtrl.activeTabId" ng-if="deployedServicePackageCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table" role="presentation">
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                    </tr>
                    <tr>
                        <td>{{servicePackage.raw.Name}}</td>
                        <td>{{servicePackage.raw.Version}}</td>
                    </tr>
                    <tr>
                        <th>Health State</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><sfx-badge badge-class="servicePackage.health.healthState.badgeClass" text="servicePackage.health.healthState.text"></sfx-badge></td>
                        <td>{{servicePackage.raw.Status}}</td>
                    </tr>
                    <tr ng-if="servicePackage.servicePackageActivationId">
                        <th>Service Package Activation Id</th>
                    </tr>
                    <tr ng-if="servicePackage.servicePackageActivationId">
                        <td>{{servicePackage.servicePackageActivationId}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations</h4>
            <sfx-detail-list list="servicePackage.health.unhealthyEvaluations" list-settings="unhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>
    </script>


    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <sfx-detail-view-part data="servicePackage"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>
                Health Events
            </h4>
            <sfx-detail-list list="servicePackage.health.healthEvents" list-settings="healthEventsListSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_manifest">
        <div class="detail-pane">
            <pre role="presentation" tabindex="0"><code aria-label="service manifest">{{serviceManifest}}</code></pre>
        </div>
    </script>
</section>
