<form name="disableBackupForm">
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Clean Backup</dt>
            <dd>
                <input type="checkbox" ng-model="action.cleanBackup">
            </dd>
        </dl>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="disableBackupForm.$invalid" ng-click="ok()">Disable Backup</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    </div>
</form>