<span>
    <span ng-if="!item.isReserved" uib-dropdown class="dropdown" dropdown-append-to-body="true" ng-include="'ellipsisFolderTemplate'"></span>
    <span ng-if="item.isReserved" class="bowtie-icon bowtie-security-lock" aria-label="System reserved folder cannot be deleted"
        title="System reserved folder cannot be deleted"></span>
    <script type="text/ng-template" id="ellipsisFileTemplate">
        <a href="" role="button" class="bowtie-icon bowtie-ellipsis dropdown-toggle ellipsis" uib-dropdown-toggle ng-toggle="dropdown">
        </a>
        <ul role="menu" class="dropdown-menu-left" uib-dropdown-menu>
            <li role="menuitem">
                <a href="" role="button" ng-click="imageStoreFileCtrl.deleteSelected(item.path)" >
                    Delete
                </a>
            </li>
        </ul>
    </script>
    
    <script type="text/ng-template" id="ellipsisFolderTemplate">
        <a href="" role="button" class="bowtie-icon bowtie-ellipsis dropdown-toggle ellipsis" uib-dropdown-toggle ng-toggle="dropdown">
        </a>
        <ul role="menu" class="dropdown-menu-left" uib-dropdown-menu>
            <li role="menuitem">
                <a href="" role="button" ng-click="imageStoreFileCtrl.deleteSelected(item.path)" ng-disabled="item.isReserved">
                    Delete
                </a>
            </li>
        </ul>
    </script>
    <div uib-modal-window="modal-window" ng-show="showDeleteConfirmation" class="modal fade ng-scope ng-isolate-scope in" role="dialog" index="0" animate="animate"
        ng-style="{'z-index': 1050 + $$topModalIndex*10, display: 'block'}">
        <form class="ng-pristine ng-valid ng-scope">
            <div class="modal-header">
                <h4 class="modal-title ng-binding">Confirm deletion</h4>
            </div>
            <div class="modal-body">
                <p class="ng-binding">Delete {{confirmationKeyword}}? This action cannot be undone.</p>
                <input class="input-flat ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="Type in '{{confirmationKeyword}}' to continue"
                    autocomplete="off" ng-model="usertypedkeyword" aria-hidden="false" aria-invalid="false">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary ng-binding" data-dismiss="modal" ng-disabled="confirmationKeyword !== usertypedkeyword" ng-click="imageStoreFileCtrl.deleteConfirmed()"
                    disabled="disabled">
                    Delete Image Store content
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="usertypedkeyword = null; imageStoreFileCtrl.deleteCanceled()">Cancel</button>
            </div>
        </form>
    </div>
</span>
