<div class="image-store-view">
    <div class="essen-pane ng-scope">
        <div class="table-responsive">
            <table class="essen-table" role="presentation">
                <tbody>
                    <tr>
                        <th>Size of all Applications Packages</th>
                        <th>Count of Application Packages</th>
                    </tr>
                    <tr>
                        <td>{{imagestoreroot.sizeOfAppPackages}}</td>
                        <td>{{imagestoreroot.noOfApplicationPackages}}</td>
                    </tr>
                    <tr>
                        <th>Size of all Application Types</th>
                        <th>Count of Application Types</th>
                    </tr>
                    <tr>
                        <td>{{imagestoreroot.sizeOfAppTypes}}</td>
                        <td>{{imagestoreroot.noOfApplicationTypes}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="explorer-search">
        <sfx-search-bar class="list-search-bar" placeholder="Search" model="imageStoreTreeSearchTerm" ng-keydown="$event.keyCode === 13 && ctrl.search()" reset="ctrl.reset()"></sfx-search-bar>
        <label id="sr-only-search-summary" aria-live="off" aria-atomic="true" class="sr-only">There are {{sortedFilteredList.length}} items in the search
            result </label>
    </div>
    <div class="header">
        <strong class="headerfirstcell">Name</strong>
        <strong class="column-item">File version</strong>
        <strong class="column-item">Date modified</strong>
        <strong class="column-item">Size</strong>
        <strong class="column-item">Count of files</strong>
    </div>
    <ul class="complete-list" ng-show="!searchView">
        <li ng-repeat="folder in imagestoreroot.root.childrenFolders" ng-include="'folderTemplate'" class="ulforimgstr"></li>
        <li ng-repeat="file in imagestoreroot.root.childrenFiles" class="child ulforimgstr" ng-include="'fileTemplate'"></li>
    </ul>

    <ul class="complete-list" ng-show="searchView">
        <div class="bowtie-icon bowtie-spinner loader rotate" ng-show="loader && searchView"></div>
        <li ng-repeat="folder in imagestoreroot.relevantFolders" ng-show="!loader" class="child ulforimgstr">
            <span class="indentation linkasbtn" padding-left="{{folder.indentationLevel * 16}}px">
                <span class="bowtie-icon bowtie-folder"></span>
                <span class="folder-name-text">{{folder.name}}</span>
            </span>
            <div class="column-item">
                -
            </div>
            <div class="column-item">
                -
            </div>
            <div class="column-item">
                -
            </div>
            <div class="column-item">
                {{folder.fileCount}}
            </div>
            <div uib-dropdown class="dropdown" ng-include="'ellipsisFileTemplate'">
            </div>
        </li>
        <li ng-repeat="file in imagestoreroot.relevantFiles" ng-show="!loader" class="child ulforimgstr">
            <span class="indentation linkasbtn" padding-left="{{file.indentationLevel * 16}}px">
                <span class="bowtie-icon bowtie-file"></span>
                <span class="file-name-text">{{file.displayName}}</span>
            </span>
            <div class="column-item">
                {{file.version}}
            </div>
            <div class="column-item">
                {{file.modifiedDate}}
            </div>
            <div class="column-item">
                {{file.displayFileSize}}
            </div>
            <div class="column-item">
                -
            </div>
            <div uib-dropdown class="dropdown" ng-include="'ellipsisFileTemplate'">
            </div>
        </li>
        <li ng-show="showEmptySearchMessage && !loader" text-align="center">
            There are no folders or files to display.
        </li>
    </ul>

    <script type="text/ng-template" id="ellipsisFileTemplate">
        <a href="" role="button" class="bowtie-icon bowtie-ellipsis dropdown-toggle ellipsis" uib-dropdown-toggle ng-toggle="dropdown">
        </a>
        <ul role="menu" class="dropdown-menu-right" uib-dropdown-menu>
            <li role="menuitem">
                <a href="" role="button" ng-click="ctrl.deleteSelected(file.name)" ng-disabled="file.isReserved" title="System reserved file cannont be deleted.">
                    Delete
                </a>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="ellipsisFolderTemplate">
        <a href="" role="button" class="bowtie-icon bowtie-ellipsis dropdown-toggle ellipsis" uib-dropdown-toggle ng-toggle="dropdown">
        </a>
        <ul role="menu" class="dropdown-menu-right" uib-dropdown-menu>
            <li role="menuitem">
                <a href="" role="button" ng-click="ctrl.deleteSelected(folder.name)" ng-disabled="folder.isReserved" title="System reserved folder cannont be deleted.">
                    Delete
                </a>
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="folderTemplate">
        <div class="child">
            <a href="" role="button" ng-click="ctrl.onFolderClick(folder.name, !folder.isExpanded)" data-open="" class="linkasbtn indentation" style="padding-left:{{folder.indentationLevel * 16}}px">                
                <span class="bowtie-icon" ng-class="{ 'bowtie-chevron-down-light': folder.isExpanded, 'bowtie-chevron-right-light': !folder.isExpanded }"></span>
                <span class="bowtie-icon bowtie-folder"></span>                
                <span class="folder-name-text">{{folder.name}}</span>                
            </a>
            <div class="column-item">
                -
            </div>
            <div class="column-item">
                -
            </div>
            <div class="column-item">
                -
            </div>
            <div class="column-item">
                {{folder.fileCount}}
            </div>
            <div uib-dropdown class="dropdown" ng-include="'ellipsisFolderTemplate'"></div>
        </div>

        <ul class="ulforimgstr">
            <li ng-repeat="file in folder.childrenFiles" ng-include="'fileTemplate'" ng-show="file.show">
            </li>
            <li ng-repeat="folder in folder.childrenFolders" ng-include="'folderTemplate'" ng-show="folder.show">
            </li>
        </ul>
    </script>

    <script type="text/ng-template" id="fileTemplate">
        <div class="child">
            <span class="indentation linkasbtn" style="padding-left:{{file.indentationLevel * 16}}px">
                <span class="bowtie-icon bowtie-file"></span>                    
                <span class="file-name-text">{{file.displayName}}</span>
            </span>
            <div class="column-item">
                {{file.version}}
            </div>
            <div class="column-item">
                {{file.modifiedDate}}
            </div>
            <div class="column-item">
                {{file.displayFileSize}}
            </div>
            <div class="column-item">
                -
            </div>
            <div uib-dropdown class="dropdown" ng-include="'ellipsisFileTemplate'"></div>
        </div>
    </script>
    <div uib-modal-window="modal-window" ng-show="showDeleteConfirmation" class="modal fade ng-scope ng-isolate-scope in" role="dialog" index="0" animate="animate"
        ng-style="{'z-index': 1050 + $$topModalIndex*10, display: 'block'}">
        <form class="ng-pristine ng-valid ng-scope">
            <div class="modal-header">
                <h4 class="modal-title ng-binding">Confirm Deletion</h4>
            </div>
            <div class="modal-body">
                <p class="ng-binding">Delete {{itemName}} from cluster localhost?</p>
                <input class="input-flat ng-pristine ng-untouched ng-valid ng-empty" type="text" placeholder="Type in '{{itemName}}' to continue" autocomplete="off"
                    ng-model="usertypedkeyword" aria-hidden="false" aria-invalid="false">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary ng-binding" data-dismiss="modal" ng-disabled="confirmationKeyword !== usertypedkeyword" ng-click="ctrl.deleteConfirmed()"
                    disabled="disabled">
                    Delete Application
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="usertypedkeyword = null; ctrl.deleteCanceled()">Cancel</button>
            </div>
        </form>
    </div>
</div>