<sfx-detail-view-navbar ctrl="networkCtrl" actions="network.actions" type="Network" name="{{network.name}}"></sfx-detail-view-navbar>

<section class="main-view">
    <div sfx-include src="'tab_' + networkCtrl.activeTabId" ng-if="networkCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table">
                    <tr>
                        <th>Network Name</th>
                        <th>Network Type</th>
                    </tr>
                    <tr>
                        <td>{{network.name}}</td>
                        <td>{{network.type}}</td>
                    </tr>
                    <tr>
                        <th>Network Address Prefix</th>
                        <th>Network Status</th>
                    </tr>

                    <tr>
                        <td>{{network.addressPrefix}}</td>
                        <td>{{network.status}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="detail-pane">
            <h4>Deployed Applications</h4>
            <sfx-detail-list list="apps" list-settings="appListSettings"></sfx-detail-list>
        </div>
        <div class="detail-pane">
            <h4>Attached Nodes</h4>
            <sfx-detail-list list="nodes" list-settings="nodeListSettings"></sfx-detail-list>
        </div>
        <div class="detail-pane">
            <h4>Containers</h4>
            <sfx-detail-list list="containers" list-settings="containerListSettings"></sfx-detail-list>
        </div>
    </script>
    
</section>
