<sfx-detail-view-navbar ctrl="nodeCtrl" actions="node.actions" type="Node" name="{{node.name}}"></sfx-detail-view-navbar>

<section class="main-view">
    <div sfx-include src="'tab_' + nodeCtrl.activeTabId" ng-if="nodeCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table">
                    <tr>
                        <th>Name</th>
                        <th>Upgrade Domain</th>
                    </tr>
                    <tr>
                        <td>{{node.name}}</td>
                        <td>{{node.raw.UpgradeDomain}}</td>
                    </tr>
                    <tr>
                        <th>Health State</th>
                        <th>Fault Domain</th>
                    </tr>

                    <tr>
                        <td><sfx-badge badge-class="node.healthState.badgeClass" text="node.healthState.text"></sfx-badge></td>
                        <td>{{node.raw.FaultDomain}}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <th>IP Address or Domain Name</th>
                    </tr>
                    <tr>                        
                        <td>{{node.nodeStatus}}</td>
                        <td>{{node.raw.IpAddressOrFQDN}}</td>
                    </tr>
                    <tr>
                        <th>Type</th>
                        <th>Is Seed Node</th>
                    </tr>
                    <tr>
                        <td>{{node.raw.Type}}</td>
                        <td>{{node.raw.IsSeedNode}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations</h4>
            <sfx-detail-list list="node.health.unhealthyEvaluations" list-settings="unhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>Deployed Applications</h4>
            <sfx-detail-list list="deployedApps" list-settings="listSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <sfx-detail-view-part data="node"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>
                Health Events
            </h4>
            <sfx-detail-list list="node.health.healthEvents" list-settings="healthEventsListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>Load Metric Information</h4>
            <sfx-detail-view-part data="node.loadInformation"></sfx-detail-view-part>
        </div>
    </script>

    <script type="text/ng-template" id="tab_events">
        <sfx-events-view events-list="nodeEvents"></sfx-events-view>
    </script>
</section>
