<sfx-detail-view-navbar ctrl="nodesCtrl" type="Nodes"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + nodesCtrl.activeTabId" ng-if="nodesCtrl.activeTabId" class="flex-child"></div>
    
    <script type="text/ng-template" id="tab_nodes">
        <div class="detail-pane">
            <sfx-detail-list list="nodes" list-settings="listSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_events">
        <sfx-events-view events-list="nodeEvents" timeline-generator="nodeEventTimelineGenerator" class="flex-child"></sfx-events-view>
    </script>
</div>
