<sfx-detail-view-navbar ctrl="nodesCtrl" type="Nodes"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + nodesCtrl.activeTabId" ng-if="nodesCtrl.activeTabId"></div>
    
    <script type="text/ng-template" id="tab_nodes">
        <div class="detail-pane">
            <sfx-detail-list list="nodes" list-settings="listSettings"></sfx-detail-list>
        </div>
    </script>
    
    <script type="text/ng-template" id="tab_events">
        <div class="detail-pane overlay-details-wrapper">
            <sfx-detail-list list="nodeEvents" list-settings="nodeEvents.settings">
                <sfx-detail-list-details-view details-list-settings="nodeEvents.detailsSettings"></sfx-detail-list-details-view>
            </sfx-detail-list>
        </div>
    </script>
</div>
    