<section class="main-view">
    <div class="modal-header">
        <h4 class="modal-title">Backup Details</h4>
    </div>
    <div sfx-include src="'partitionBackupDetails'" class="modal-body"></div>
    <script type="text/ng-template" id="partitionBackupDetails">
        <div class="detail-pane">
            <sfx-detail-view-part data="action"></sfx-detail-view-part>
        </div>
    </script>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="usertypedkeyword = null; cancel()">Cancel</button>
    </div>
</section>