<sfx-detail-view-navbar ctrl="partitionCtrl" type="Partition" name="{{partitionCtrl.partitionId}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + partitionCtrl.activeTabId" ng-if="partitionCtrl.activeTabId" class="flex-child"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table" role="presentation">
                    <tr>
                        <th>Id</th>
                        <th>Partition Kind</th>
                    </tr>
                    <tr>
                        <td title="{{partitionCtrl.partitionId}}"><sfx-clip-board text="partitionCtrl.partitionId"></sfx-clip-board>{{partitionCtrl.partitionId}}</td>
                        <td>{{partition.partitionInformation.raw.ServicePartitionKind}}</td>
                    </tr>
                    <tr>
                        <th>Health State</th>
                        <th ng-show="partition.isStatelessService">Instance Count</th>
                        <th ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">Low Key</th>
                        <th ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindNamed">Name</th>
                    </tr>
                    <tr>
                        <td><sfx-badge badge-class="partition.healthState.badgeClass" text="partition.healthState.text"></sfx-badge></td>
                        <td ng-show="partition.isStatelessService">{{partition.raw.InstanceCount}}</td>
                        <td ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">{{partition.partitionInformation.raw.LowKey}}</td>
                        <td ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindNamed">{{partition.partitionInformation.raw.Name}}</td>
                    </tr>
                    <tr>
                        <th>Status</th>
                        <th ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">High Key</th>
                    </tr>
                    <tr>
                        <td>{{partition.raw.PartitionStatus}}</td>
                        <td ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">{{partition.partitionInformation.raw.HighKey}}</td>
                    </tr>
                    <tr ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">
                        <th>Minimum Replica Set Size</th>
                        <th>Target Replica Set Size</th>
                    </tr>
                    <tr ng-show="partition.isStatefulService && partition.partitionInformation.isPartitionKindInt64Range">
                        <td>{{partition.raw.MinReplicaSetSize}}</td>
                        <td>{{partition.raw.TargetReplicaSetSize}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations</h4>
            <sfx-detail-list list="partition.health.unhealthyEvaluations" list-settings="unhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>{{partition.isStatelessService ? "Instances" : "Replicas"}}</h4>
            <sfx-detail-list list="partition.replicas" list-settings="listSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <sfx-detail-view-part data="partition"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>
                Health Events
            </h4>
            <sfx-detail-list list="partition.health.healthEvents" list-settings="healthEventsListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane" ng-if="partition.loadInformation && partition.loadInformation.isValid">
            <h4>Load Information</h4>
            <sfx-detail-view-part data="partition.loadInformation"></sfx-detail-view-part>
        </div>
    </script>

    <script type="text/ng-template" id="tab_events">
        <sfx-events-view events-list="partitionEvents" class="flex-child"></sfx-events-view>
    </script>
</div>
