<div style="display: flex;" ng-if="seedNodeCount < 5 && ctrl.open">
    <div class="detail-pane alert alert-danger" role="alert" style="background-color: #fcd116; border-color: yellow; color: black; text-align: center; margin: auto;">
            <strong>Warning:</strong>
            <span>Cluster is degraded because it does not have 5 seed nodes. See
                <a class="light-background-link" target="_blank" href="https://aka.ms/servicefabric/durability">Reliability</a> for more details.</span>
                <i class="bowtie-icon bowtie-status-failure-outline" style="font-size: 18px; cursor: pointer;" ng-click="ctrl.close()"></i>
    </div>
</div>
    