<sfx-detail-view-navbar ctrl="replicaCtrl" type="{{replica.isStatelessService ? 'Instance' : 'Replica'}}" name="{{replica.name}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + replicaCtrl.activeTabId" ng-if="replicaCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table" role="presentation">
                    <tr>
                        <th>Id</th>
                        <th>Node Name</th>
                    </tr>
                    <tr>
                        <td title="{{replica.id}}">{{replica.id}}</td>
                        <td><a href="{{replica.nodeViewPath}}">{{replica.raw.NodeName}}</a></td>
                    </tr>
                    <tr>
                        <th>Health State</th>
                        <th>Status</th>
                    </tr>
                    <tr>
                        <td><sfx-badge badge-class="replica.healthState.badgeClass" text="replica.healthState.text"></sfx-badge></td>
                        <td>{{replica.raw.ReplicaStatus}}</td>
                    </tr>
                    <tr>
                        <th ng-if="replica.isStatefulService">Role</th>
                    </tr>
                    <tr>
                        <td ng-if="replica.isStatefulService">{{replica.raw.ReplicaRole}}</td>
                    </tr>
                </table>
            </div>
        </div>

        <sfx-replica-address address="replica.address"></sfx-replica-address>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations</h4>
            <sfx-detail-list list="replica.health.unhealthyEvaluations" list-settings="unhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <sfx-detail-view-part data="replica"></sfx-detail-view-part>
        </div>

        <div class="detail-pane" ng-if="replica.detail.isInitialized">
            <h4>
                Details
            </h4>
            <sfx-detail-view-part data="replica.detail"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>
                Health Events
            </h4>
            <sfx-detail-list list="replica.health.healthEvents" list-settings="healthEventsListSettings"></sfx-detail-list>
        </div>
    </script>
</div>
