


<div style="display: inline">
    <div style="display:block">
        <div style="display: inline-block; width: 300px;">
            <input type="search" class="input-flat" autocomplete="off" placeholder="IP Address" ng-model="ipaddr">
        </div>
        <button type="button" style="background-color: #262626;border: 1px solid #0075c9;" class="checkbox-push" ng-click="addNode()">
            Connect with IP
        </button>
    </div>
    <div id="cytoscape-canvas" style="width: 100%; height: 600px;"></div>
</div>