<form name="scaleServiceForm">
    <div class="modal-header">
        <h4 class="modal-title">Scale Service</h4>
    </div>
    <div class="modal-body">
        <p>Enter the new number of instances for the service:</p>
        <input class="input-flat" type="number"
               autocomplete="off" ng-model="action.updateServiceDescription.InstanceCount" required>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="scaleServiceForm.$invalid" ng-click="ok()">{{::action.title}}</button>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
    </div>
</form>