<sfx-detail-view-navbar ctrl="serviceCtrl" actions="service.actions" type="Service" name="{{service.name}}"></sfx-detail-view-navbar>

<div class="main-view">
    <div sfx-include src="'tab_' + serviceCtrl.activeTabId" ng-if="serviceCtrl.activeTabId"></div>

    <script type="text/ng-template" id="tab_essentials">
        <div class="detail-pane essen-pane">
            <div class="table-responsive">
                <table class="essen-table" role="presentation">
                    <tbody>
                        <tr>
                            <th>Name</th>
                            <th>Service Type</th>
                        </tr>
                        <tr>
                            <td>{{service.name}}</td>
                            <td>{{service.raw.TypeName}}</td>
                        </tr>
                        <tr>
                            <th>Health State</th>
                            <th>Service Type Version</th>
                        </tr>
                        <tr>
                            <td><sfx-badge badge-class="service.healthState.badgeClass" text="service.healthState.text"></sfx-badge></td>
                            <td>{{service.raw.ManifestVersion}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="service.isStatefulService">
                        <tr>
                            <th>Status</th>
                            <th>Minimum Replica Size</th>
                        </tr>
                        <tr>
                            <td>{{service.raw.ServiceStatus}}</td>
                            <td>{{service.description.raw.MinReplicaSetSize}}</td>
                        </tr>
                        <tr>
                            <th>Service Kind</th>
                            <th>Target Replica Size</th>
                        </tr>
                        <tr>
                            <td>{{service.raw.ServiceKind}}</td>
                            <td>{{service.description.raw.TargetReplicaSetSize}}</td>
                        </tr>
                        <tr ng-if="service.description.raw.ServiceDnsName">
                            <th>Service Dns Name</th>
                        </tr>
                        <tr ng-if="service.description.raw.ServiceDnsName">
                            <td>{{service.description.raw.ServiceDnsName}}</td>
                        </tr>
                    </tbody>
                    <tbody ng-if="service.isStatelessService">
                        <tr>
                            <th>Status</th>
                            <th>Instance Count</th>
                        </tr>
                        <tr>
                            <td>{{service.raw.ServiceStatus}}</td>
                            <td>{{service.description.raw.InstanceCount}}</td>
                        </tr>
                        <tr>
                            <th>Service Kind</th>
                            <th ng-if="service.description.raw.ServiceDnsName">Service Dns Name</th>
                        </tr>
                        <tr>
                            <td>{{service.raw.ServiceKind}}</td>
                            <td ng-if="service.description.raw.ServiceDnsName">{{service.description.raw.ServiceDnsName}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="detail-pane">
            <h4>Unhealthy Evaluations</h4>
            <sfx-detail-list list="service.health.unhealthyEvaluations" list-settings="unhealthyEvaluationsListSettings"></sfx-detail-list>
        </div>

        <div class="detail-pane">
            <h4>Partitions</h4>
            <sfx-detail-list list="service.partitions" list-settings="listSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_details">
        <div class="detail-pane">
            <sfx-detail-view-part data="service"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>
                Service Description
            </h4>
            <sfx-detail-view-part data="service.description"></sfx-detail-view-part>
        </div>

        <div class="detail-pane">
            <h4>
                Health Events
            </h4>
            <sfx-detail-list list="service.health.healthEvents" list-settings="healthEventsListSettings"></sfx-detail-list>
        </div>
    </script>

    <script type="text/ng-template" id="tab_manifest">
        <div class="detail-pane">
            <pre role="presentation"><code aria-label="service manifest">{{serviceManifest}}</code></pre>
        </div>
    </script>

</div>