
<div>
    <div>
        <button type="button" class="checkbox-push timeline-button" ng-click="ctrl.fitData()">
            Fit events
        </button>
        
        <button type="button" class="checkbox-push timeline-button" ng-click="ctrl.fitWindow()">
            Fit range
        </button>

        <button type="button" class="checkbox-push timeline-button" ng-click="ctrl.moveStart()">
            Move to start
        </button>
        
        <button type="button" class="checkbox-push timeline-button" ng-click="ctrl.moveEnd()">
            Move to end
        </button>

        <button type="button" class="checkbox-push timeline-button" ng-click="ctrl.moveToOldestEvent()">
            Move to oldest event
        </button>
        
        <button type="button" class="checkbox-push timeline-button" ng-click="ctrl.moveToNewestEvent()">
            Move to newest event
        </button>
    </div>
    <div>
        <div id="visualization"></div>
    </div>
</div>
