
<br><br><br><br><br>
<div class="table-responsive">
    <table class="table detail-list" role="presentation">
        <tbody>
            <thead>
                <tr>
                    <th>
                        Description
                    </th>
                </tr>
            </thead>
            <tr ng-repeat="item in list" ng-if="item.display">
                <td>
                    <span ng-style="::{paddingLeft: (item.level * 10) +  'px'}"></span>
                    <span style="padding-left: 15px;" ng-if="item.children.length === 0"></span>
                    <span class="expander icon bowtie-icon" aria-hidden="true" ng-click="ctrl.toggleChildren(item)" ng-if="item.children.length > 0"
                    ng-class="{ 'bowtie-chevron-right-light': item.display, 'bowtie-chevron-down-light': item.display }"
                    ng-style="::{ 'left': (child.paddingLeft - 18) + 'px' }"></span>
                        
                    <span sfx-bind-html-compile="ctrl.getBadge(item)"></span>

                    <span sfx-bind-html-compile="item.description"></span>

                    <span class="bowtie-icon bowtie-math-plus " ng-click="ctrl.setChildren(item, true)" ng-if="item.children.length > 0"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<br><br><br><br><br>
<div>
    Events : {{events.length}}
</div>
<div class="table-responsive">
        <table class="table detail-list" role="presentation">
            <tbody>
                <thead>
                    <tr>
                        <th>
                            Events
                        </th>
                    </tr>
                </thead>
                <tr ng-repeat="item in events">
                    <td ng-click="item.display = !item.display">
                        <span>
                                <span sfx-bind-html-compile="ctrl.getBadge(item.event)"></span>
                                <span sfx-bind-html-compile="item.event.description"></span>
                        </span>
                        <div ng-if="item.display">
                            <div class="table-responsive">
                                    <table class="table detail-list" role="presentation">
                                        <tbody>
                                            <tr ng-repeat="parent in item.parents" style="border: 0px solid #808080;" >
                                                <td>
                                                    <span ng-style="::{paddingLeft: ( ($index + 1) * 16) + 'px'}"></span>
                                                    <span sfx-bind-html-compile="ctrl.getBadge(parent)"></span>
                                                    <span sfx-bind-html-compile="parent.description"></span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>