<form name="createBackupPolicyForm">
    <div class="modal-header">
        <h4 class="modal-title">Update Backup Policy</h4>
    </div>
    <div class="modal-body">
        <dl class="dl-horizontal">
            <dt>Name</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Name" required aria-label="Backup Policy name" readonly="readonly">
            </dd>
            <dt>AutoRestoreOnDataLoss</dt>
            <dd class="checkbox-container-default">
                <input type="checkbox" ng-model="action.backupPolicy.AutoRestoreOnDataLoss" />
            </dd>
            <dt>MaxIncrementalBackups</dt>
            <dd>
                <input type="number" class="input-flat" ng-model="action.backupPolicy.MaxIncrementalBackups" required />
            </dd>
            <dt>ScheduleKind</dt>
            <dd required>
                <label>
                    <input type="radio" ng-model="action.backupPolicy.Schedule.ScheduleKind" value="FrequencyBased">
                    FrequencyBased
                </label>
                <label>
                    <input type="radio" ng-model="action.backupPolicy.Schedule.ScheduleKind" value="TimeBased">
                    TimeBased
                </label><br />
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.backupPolicy.Schedule.ScheduleKind || action.backupPolicy.Schedule.ScheduleKind!=='FrequencyBased'">
            <dt>Interval</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Schedule.Interval" />
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.backupPolicy.Schedule.ScheduleKind ||  action.backupPolicy.Schedule.ScheduleKind!=='TimeBased'">
            <dt>ScheduleFrequencyType</dt>
            <dd>
                <label>
                    <input type="radio" ng-model="action.backupPolicy.Schedule.ScheduleFrequencyType" value="Daily">
                    Daily
                </label>
                <label>
                    <input type="radio" ng-model="action.backupPolicy.Schedule.ScheduleFrequencyType" value="Weekly">
                    Weekly
                </label><br />
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.backupPolicy.Schedule.ScheduleKind || action.backupPolicy.Schedule.ScheduleKind!=='TimeBased' || action.backupPolicy.Schedule.ScheduleFrequencyType!=='Weekly'">
            <dt>RunDays</dt>
            <dd>
                <div ng-repeat="temp in action.weekDay">
                    <label>
                        {{action.weekDay[$index]}}
                        <input type="checkbox" ng-model="action.daySelectedMapping[temp]">
                    </label><br />
                </div>
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.backupPolicy.Schedule.ScheduleKind || action.backupPolicy.Schedule.ScheduleKind!=='TimeBased' || !action.backupPolicy.Schedule.ScheduleFrequencyType">
            <dt>RunTimes</dt>
            <dd>
                <div ng-repeat="runTime in action.backupPolicy.Schedule.RunTimes track by $index">
                    <input type="text" style="width: 80%;" class="input-flat" ng-model="action.backupPolicy.Schedule.RunTimes[$index]" />
                    <button type="button" class="btn btn-default" ng-click="action.deleteDate($index)">Delete</button>
                </div>
                <input type="text" style="width: 80%;" class="input-flat" ng-model="action.date" />
                <button type="button" class="btn btn-default" ng-click="action.add()" ng-disabled="action.date===''">Add</button>
            </dd>
        </dl>

        <dl class="dl-horizontal">
            <dt>StorageKind</dt>
            <dd>
                <label>
                    <input type="radio" ng-model="action.backupPolicy.Storage.StorageKind" value="AzureBlobStore">
                    AzureBlobStore
                </label>
                <label>
                    <input type="radio" ng-model="action.backupPolicy.Storage.StorageKind" value="FileShare">
                    FileShare
                </label><br />
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.backupPolicy.Storage.StorageKind || action.backupPolicy.Storage.StorageKind!=='AzureBlobStore'">
            <dt>FriendlyName</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Storage.FriendlyName">
            </dd>
            <dt>ConnectionString</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Storage.ConnectionString">
            </dd>
            <dt>ContainerName</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Storage.ContainerName">
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.backupPolicy.Storage.StorageKind || action.backupPolicy.Storage.StorageKind!=='FileShare'">
            <dt>FriendlyName</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Storage.FriendlyName">
            </dd>
            <dt>Path</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Storage.Path">
            </dd>
            <dt>PrimaryUserName</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Storage.PrimaryUserName">
            </dd>
            <dt>PrimaryPassword</dt>
            <dd>
                <input type="password" class="input-flat" ng-model="action.backupPolicy.Storage.PrimaryPassword">
            </dd>
            <dt>SecondaryUserName</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.backupPolicy.Storage.SecondaryUserName">
            </dd>
            <dt>SecondaryPassword</dt>
            <dd>
                <input type="password" class="input-flat" ng-model="action.backupPolicy.Storage.SecondaryPassword">
            </dd>
        </dl>
        <dl class="dl-horizontal">
            <dt>RetentionPolicy</dt>
            <dd class="checkbox-container-default">
                <input type="checkbox" ng-model="action.retentionPolicyRequired" />
            </dd>
        </dl>
        <dl class="dl-horizontal collapse" uib-collapse="!action.retentionPolicyRequired">
            <dt>MinNumberOfBackups</dt>
            <dd>
                <input type="number" class="input-flat" ng-model="action.RetentionPolicy.MinimumNumberOfBackups">
            </dd>
            <dt>RetentionDuration</dt>
            <dd>
                <input type="text" class="input-flat" ng-model="action.RetentionPolicy.RetentionDuration">
            </dd>
        </dl>
    </div>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-click="action.delete();cancel()">Delete</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" ng-disabled="createBackupPolicyForm.$invalid" ng-click="ok()">Update</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Cancel</button>
        </div>
</form>