<div class="table-responsive">
        <table class="table detail-list">
            <thead>
                <tr>
                    <th>Node</th>                                    
                    <th>Upgrade Phase</th>                                    
                    <th title="Upgrade Duration">Pending Safety Checks</th>                                    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="upgradeStatus in nodeUpgradeProgressList">                    
                    <td>{{upgradeStatus.NodeName}}</td>                            
                    <td>{{upgradeStatus.UpgradePhase}}</td>                            
                    <td>{{upgradeStatus.PendingSafetyChecks | json}}</td>
                </tr>
            </tbody>
        </table>
    </div>