.bulk-list {
    width: 100%;
    max-height: 50vh;
    height: fit-content;
    background-color: var(--accent-background-color);
    color: white;
    border: 1px solid var(--accent-darkblue);
    border-radius: 5px;
    height: 25vh;
}