<div class="detail-pane essen-pane" *ngIf="node">
  <div class="essential-container">
    <div class="essential-item essential-half">
      <div class="essential-head">
        Name
      </div>
      <div class="essential-body">
        {{node.name}}<app-clip-board [text]="node.name"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Upgrade Domain
      </div>
      <div class="essential-body">
        {{node.raw.UpgradeDomain}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Health State
      </div>
      <div class="essential-body">
        <app-health-badge [badgeClass]="node.healthState.badgeClass" [text]="node.healthState.text"></app-health-badge>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Fault Domain
      </div>
      <div class="essential-body">
        {{node.raw.FaultDomain}}<app-clip-board [text]="node.raw.FaultDomain"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Status
      </div>
      <div class="essential-body">
        {{node.nodeStatus}}
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        IP Address or Domain Name
      </div>
      <div class="essential-body">
        {{node.raw.IpAddressOrFQDN}}<app-clip-board [text]="node.raw.IpAddressOrFQDN"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Type
      </div>
      <div class="essential-body">
        {{node.raw.Type}}<app-clip-board [text]="node.raw.Type"></app-clip-board>
      </div>
    </div>

    <div class="essential-item essential-half">
      <div class="essential-head">
        Is Seed Node
      </div>
      <div class="essential-body">
        {{node.raw.IsSeedNode}}
      </div>
    </div>
  </div>
</div>

<div class="detail-pane essen-pane" *ngIf="node && node.isDeactivating" data-cy="deactivated">
  <app-collapse-container sectionName="Unhealthy Evaluations">
    <div collapse-header>
      <h4>Deactivation Info</h4>
    </div>
    <div collapse-body>
      <app-node-deactivation-info [node]="node"></app-node-deactivation-info>
      <!-- <div class="essential-item" style="margin-bottom: 10px;">
        <div class="essential-head">
          Deactivation Status
        </div>
        <div class="essential-body">
          {{node.raw.NodeDeactivationInfo.NodeDeactivationStatus}}
        </div>
      </div>
      <div *ngIf="node.raw.NodeDeactivationInfo.NodeDeactivationTask.length > 0">
        <label style="font-size: 16px;">Deactivation Tasks</label>
        <table class="table detail-list" style="width: 100%">
          <thead>
            <tr>
              <th>
                Intent
              </th>
              <th>
                Id
              </th>
              <th>
                Task Type
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of node.raw.NodeDeactivationInfo.NodeDeactivationTask">
              <td>
                {{task.NodeDeactivationIntent}}
              </td>
              <td>
                {{task.NodeDeactivationTaskId.Id}}
              </td>
              <td>
                {{task.NodeDeactivationTaskId.NodeDeactivationTaskType}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div style="margin-top: 30px;" *ngIf="node.raw.NodeDeactivationInfo.PendingSafetyChecks.length > 0">
        <h5 style="font-size: 16px;">Safety Checks</h5>
        <app-safety-checks [safetyChecks]="node.raw.NodeDeactivationInfo.PendingSafetyChecks"></app-safety-checks>
      </div> -->
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane">
  <app-collapse-container sectionName="Unhealthy Evaluations">
    <div collapse-header>
      <h4>Unhealthy Evaluations</h4>
    </div>
    <div collapse-body>
      <app-detail-list *ngIf="node" [list]="node.health.unhealthyEvaluations"
        [listSettings]="unhealthyEvaluationsListSettings"></app-detail-list>
    </div>
  </app-collapse-container>
</div>

<div class="detail-pane essen-pane" *ngIf="deployedApps">
  <app-collapse-container sectionName="Deployed Applications">
    <div collapse-header>
      <h4>Deployed Applications</h4>
    </div>
    <div collapse-body>
      <app-detail-list [list]="deployedApps.collection" [listSettings]="listSettings" data-cy="appsList"></app-detail-list>
    </div>
  </app-collapse-container>
</div>
