<div *ngIf="node">
  <div class="tile-container" data-cy="tiles">
    <app-essential-health-tile [healthState]="node.healthState" class="long" [listItems]="essentialItems" data-cy="essential-info">
      <ng-template appEssentialTemplate id="status">
        <app-status-resolver [status]="node.nodeStatus"  data-cy="status"></app-status-resolver>
      </ng-template>
    </app-essential-health-tile>

    <app-essential-health-tile [listItems]="ringInfo" data-cy="node-ring-info">
    </app-essential-health-tile>

    <ng-container *ngIf="node?.loadInformation?.isInitialized" >
      <app-dashboard-text-tile [count]="node.loadInformation.metrics.Count" title="Total Count" middleMargin="0px 0">
        Count of all service objects (stateless and stateful) on the node
      </app-dashboard-text-tile>
      <app-dashboard-text-tile [count]="node.loadInformation.metrics.PrimaryCount" title="Primary Count"
        middleMargin="0px 0">
        Count of Primary replicas on the node
      </app-dashboard-text-tile>
      <app-dashboard-text-tile [count]="node.loadInformation.metrics.ReplicaCount" title="Replica Count"
        middleMargin="0px 0">
        Count of total stateful replicas on the node
      </app-dashboard-text-tile>
    </ng-container>
  </div>

  <div style="width: 100%;">
    <div class="essen-pane help-text-container">
      <a target="_blank" href="https://aka.ms/sf/loadinformation">
        Learn more about these metrics <span class="mif-info"></span>
      </a>
    </div>
  </div>

  <div class="detail-pane essen-pane" *ngIf="node && node.isDeactivating" data-cy="deactivated">
    <app-collapse-container sectionName="Unhealthy Evaluations">
      <div collapse-header>
        <h4>Deactivation Info</h4>
      </div>
      <div collapse-body>
        <app-node-deactivation-info [node]="node"></app-node-deactivation-info>
      </div>
    </app-collapse-container>
  </div>

  <div class="detail-pane essen-pane" *ngIf="repairJobs.length > 0">
    <app-collapse-container sectionName="Unhealthy Evaluations">
      <div collapse-header>
        <h4>Repair jobs</h4>
      </div>
      <div collapse-body>
        <app-detail-list *ngIf="node" [list]="repairJobs"
          [listSettings]="repairJobSettings"></app-detail-list>
      </div>
    </app-collapse-container>
  </div>

  <div class="detail-pane essen-pane">
    <app-collapse-container sectionName="Unhealthy Evaluations">
      <div collapse-header>
        <h4>Unhealthy Evaluations</h4>
      </div>
      <div collapse-body>
        <app-detail-list *ngIf="node" [list]="node.health.unhealthyEvaluations"
          [listSettings]="unhealthyEvaluationsListSettings"></app-detail-list>
      </div>
    </app-collapse-container>
  </div>

  <div class="detail-pane essen-pane" *ngIf="deployedApps">
    <app-collapse-container sectionName="Deployed Applications">
      <div collapse-header>
        <h4>Deployed Applications</h4>
      </div>
      <div collapse-body>
        <app-detail-list [list]="deployedApps.collection" [listSettings]="listSettings" data-cy="appsList">
        </app-detail-list>
      </div>
    </app-collapse-container>
  </div>
