<!-- <span>
    <div style="display: inline-flex; height: 50px;" *ngIf="clusterUpgradeProgress.isInitialized && clusterUpgradeProgress.isUpgrading">
        <a href="#/tab/details" style="margin: auto;" class="essen-pane">
            <span>
                <span class="dropdown-toggle dark-background-link bowtie-icon bowtie-status-error"></span>
                Cluster Upgrade in Progress since {{clusterUpgradeProgress.startTimestampUtc}}
                    {{getUpgradeDomainProgress()}}
            </span>
        </a>
    </div>
</span> -->


<span>
    <div style="display: inline-flex; height: 50px;" >
        <a href="#/tab/details" style="margin: auto;" class="essen-pane">
            <span>
                <span class="dropdown-toggle dark-background-link bowtie-icon bowtie-status-error"></span>
                Cluster Upgrade in Progress since "some date time" : 0/5 UDS
            </span>
        </a>
    </div>
</span>