<div class="action-modal" style="text-align: center;">
    <div class="modal-header">
        <h4 class="modal-title" style="margin: auto;">Report a Bug</h4>
    </div>
    <div class="modal-body" style="overflow-y: initial;">
        <div style="margin-bottom: 15px;">
            If you run into an issue or bug with Service Fabric explorer or the Service Fabric runtime, you can report them to the following places.
        </div>

        <div style="margin-bottom: 15px;">
            <a href="" target="_blank"> For Service Fabric Explorer issues : (link) </a>
        </div>
        <div>
            <a href="" target="_blank"> For Service Fabric runtime issues : (link) </a>
        </div>

    </div>
    <div class="modal-footer">
        <div class="middle-text">
            this is <span style="color: red">NOT</span> for reporting incidents.
        </div>
        <button type="button" class="flat-button" style="float: right" (click)="cancel()">Close</button>
    </div>
</div>